<div class="admin-content">
    <hr/>
    <p>需要管理员权限</p>
    <form class="am-form am-form-horizontal" method="POST" action="/login">
        <div class="am-form-group">
            <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">手机号</label>
            <div class="am-u-sm-10">
                <input type="tel" id="doc-ipt-3" name="mobile" placeholder="输入你的手机号">
            </div>
        </div>

        <div class="am-form-group">
            <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">密码</label>
            <div class="am-u-sm-10">
                <input type="password" id="doc-ipt-pwd-2" name="password" placeholder="您的登录密码">
            </div>
        </div>

        <div class="am-form-group">
            <div class="am-u-sm-10 am-u-sm-offset-2">
                <button type="submit" class="am-btn am-btn-default">登入</button>
            </div>
        </div>
    </form>
    <hr>
</div>