<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">数据统计</strong> / <small>虚拟盘</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button" ng-click="startCtp()">重启CTP</button>
                <button class="am-btn am-btn-default" type="button" ng-click="shutdownCtp()">关闭CTP</button>
            </span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
    </div>
</div>

<script>
</script>