<div class="wrapper reg" ng-app="registerApp" ng-controller="RegisterCtrl as vm">
    <div class="freeTitle">
        <div class="fl"><span>重置密码</span></div>
        <div class="clear"></div>
    </div>
    {{> flash}}
    <div id="box1" ng-hide="vm.show_forgot_step_2">
        <div class="carFormBox marTop25">
            <div class="cartTitle fl">
                手机号码：
            </div>
            <div class="cartFomeContent fl">
                <input type="tel" class="inputText" ng-model="vm.mobile" placeholder="请输入常用的手机号" pattern="1[3|5|7|8|][0-9]{9}" autofocus required>
            </div>
        </div>
        <div class="carFormBox">
            <div class="cartTitle fl">
                验证码：
            </div>
            <div class="cartFomeContent fl">
                <a href="javascript:" class="carbtn02" ng-click="vm.requestVerifyCode()">\{{vm.verifyCodeBtnText}}</a>
                <input type="text" class="inputText inputYzm" ng-model="vm.verify_code" required>
            </div>
        </div>
        <div class="carFormBox">
            <div class="cartTitle fl">
                新密码：
            </div>
            <div class="cartFomeContent fl">
                <input type="password" name="password" placeholder="密码长度6-20位" class="inputText" minlength="6" maxlength="20" ng-model="vm.password" required>
            </div>
        </div>
        <div class="carFormBox">
            <div class="cartTitle fl">
                确认密码：
            </div>
            <div class="cartFomeContent fl">
                <input type="password" name="confirm_password" placeholder="保持密码一致" class="inputText" minlength="6" maxlength="20" ng-model="vm.confirm_password" required>
            </div>
        </div>
        <a href="javascript:" class="ideBtn01 RegBtn01" ng-click="vm.requestChangePass()">重置密码</a>
    </div>
    <!--
    <div id="box2" ng-show="vm.show_forgot_step_2">
        <form method="POST" action="/forgot" id="forgot-password-form" name="passForm">
            <input type="hidden" name="mobile" id="forgot-mobile">
            <input type="hidden" name="verify_code" id="verify_code">
            <div class="carFormBox marTop25">
                <div class="cartTitle fl">
                    新密码：
                </div>
                <div class="cartFomeContent fl">
                    <input type="password" name="password" placeholder="密码长度6-20位" class="inputText" minlength="6" maxlength="20" ng-model="vm.password" required>
                </div>
            </div>
            <div class="carFormBox">
                <div class="cartTitle fl">
                    确认密码：
                </div>
                <div class="cartFomeContent fl">
                    <input type="password" name="confirm_password" placeholder="保持密码一致" class="inputText" minlength="6" maxlength="20" ng-model="vm.confirm_password" required>
                </div>
            </div>
        </form>
        <a href="javascript:" class="ideBtn01 RegBtn01" ng-click="vm.requestChangePass()">修改密码</a>
    </div>
    -->
    <br>
    <alert ng-repeat="alert in vm.alerts" type="\{{alert.type}}" close="vm.closeAlert($index)">\{{alert.msg}}</alert>
</div>
