<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <hr>
        <h3>找回密码</h3>
        <br>

        <form class="am-form" name="passForm">
            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    手机号码
                </div>
                <div class="am-u-sm-8 am-u-md-6 am-u-end">
                    <input type="number" class="am-input-sm" placeholder="请输入您的手机号码" required autofocus>
                </div>
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    验证码
                </div>
                <div class="am-form-group am-u-sm-8 am-u-md-3 am-u-end">
                    <input type="number" class="am-input-sm" required>
                </div>
                <input id="forgot-get-verify-code-btn" type="submit" class="am-btn am-btn-sm am-btn-success am-u-sm-offset-5 am-u-sm-6 am-u-md-offset-0 am-u-md-2 am-u-end" value="获取验证码" />
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    新密码
                </div>
                <div class="am-u-sm-8 am-u-md-6 am-u-end">
                    <input type="password" class="am-input-sm" required>
                </div>
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    重复密码
                </div>
                <div class="am-u-sm-8 am-u-md-6 am-u-end">
                    <input type="password" class="am-input-sm" required>
                </div>
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-offset-4 am-u-md-offset-2 am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <button type="submit" class="am-btn am-btn-primary">重置密码</button>
                </div>
            </div>

        </form>
    </div>
    <br>
</div>
