<div class="wrapper loginHeight" ng-controller="RegisterCtrl as vm" ng-cloak>
    <div class="loginBg"></div>
    <form method="POST" action="/login" name="login-form" id="login-form" novalidate>
        <div id="login" class="ui-logon clearfix">
            <ul class="logon-con">
                <li class="title">
                    <h2>登录</h2>
                </li>
                <li class="err-tips">
                    <div class="ui-err">
                    </div>
                </li>

                <li class="logon-ipt z-index10" id="username1">
                    <em class="user"></em>
                    <input type="tel" class="inputLoginText" ng-model="vm.mobile" name="mobile" id="mobile" accesskey="n" tabindex="1" class="holder" pattern="1[3|5|7|8|][0-9]{9}" autofocus placeholder="请输入注册手机号码" autocomplete="off" required>
                </li>
                <li class="logon-ipt mgt20" id="pwd">
                    <em class="key"></em>
                    <input type="password" tabindex="2" ng-model="vm.password" placeholder="密码,长度6-20位" maxlength="20" minlength="6" name="password" id="password" required>
                </li>
                <li class="ui-pwd">
                    <a href="/forgot">忘记密码</a>
                </li>
                <li><alert ng-repeat="alert in vm.alerts" type="\{{alert.type}}" close="vm.closeAlert($index)">\{{alert.msg}}</alert></li>
                <li>
                    <input type="submit" value="登录" accesskey="l" name="submit" tabindex="4" class="login-btn">
                </li>
                <li class="li01" style="">没有账号？ <a style="" href="/signup" class="register">免费注册</a></li>
                <li class="li01" style="">牛金网目前只服务存量客户</li>
            </ul>
        </div>
    </form>
</div>
<input type="hidden" value="{{error_feedback}}" id="server_error_msg_login">
