<div class="header login-header">
    <div class="am-g">
        <h1>互联网金融</h1>
        <p>股票融资，交易管理，资金增值，理财产品，证券</p>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>用户登录</h3>
        <hr>
        <br>

        <form method="post" class="am-form">
            <label for="mobile">手机号码:</label>
            <input type="tel" name="mobile" id="mobile">
            <br>
            <label for="password">密码:</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="remember-me">
                <input id="remember-me" type="checkbox">
                记住密码
            </label>
            <br />
            <br />
            <div class="am-cf">
                <input type="submit" name="" value="用户登录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <a  href="/forgot" class="am-btn am-btn-default am-btn-sm am-fr">忘记密码? </a>
            </div>
        </form>
        <hr>
        <p class="am-fr">还没注册? <a  href="/signup" class="am-btn am-btn-warning am-btn-sm">现在注册 </a></p>
    </div>
</div>
