<div class="wrapper">
    <div class="regBox">
        <div class="newRec_img reg_img fl"></div>
        <div class="newRec_Text reg_text fl">
            <p class="p01">恭喜您注册成功！</p>
            <p class="p02">新的投资旅程从牛金网开始，现在就去配资吧！</p>
            <p class="p03">
                <a href="/apply" class="newrec_btn02">立即配资</a>
                <a href="/user" class="newrec_btn03">进入用户中心</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
