<footer class="footer">
<hr>
    <div class="am-g am-g-fixed">
        <div class="am-u-sm-3">
            <table rules="none">
                <thead>
                <tr>
                    <th>操盘问题</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/guidelines">操盘流程</a></td>
                </tr>
                <tr>
                    <td><a href="/legal">法律保障</a></td>
                </tr>
                <tr>
                    <td><a href="/qanda">常见问题</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="am-u-sm-3">
            <table class="" rules="none">
                <thead>
                <tr>
                    <th>软件下载</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="am-icon-windows"></span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4">Windows</a></td>
                </tr>
                <tr>
                    <td><span class="am-icon-apple"></span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4">iOS</a></td>
                </tr>
                <tr>
                    <td><span class="am-icon-android"></span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4">Android</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="am-u-sm-3">
            <table class="" rules="none">
                <thead>
                <tr>
                    <th>客户服务</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-danger"><span class="am-icon-phone">400-692-1388</td>
                </tr>
                <tr>
                    <td><span class="am-icon-qq"></span>QQ群</td>
                </tr>
                <tr>
                    <td><span class="am-icon-weixin"></span>微信群</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="am-u-sm-3">
            <table class="" rules="none">
                <thead>
                <tr>
                    <th>关于牛金网</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/company_intro">公司介绍</a></td>
                </tr>
                <tr>
                    <td><a href="/partners">合作伙伴</a></td>
                </tr>
                <tr>
                    <td><a href="/contact">联系方式</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p> ©版权所有 北京小牛普惠科技有限公司 All Rights Reserved 2015  京ICP备14047091号-4 </p>
</footer>
