<footer class="footer">
    <div class="am-g am-g-fixed">
        <div class="am-u-sm-3">
            <table rules="none">
                <thead>
                <tr>
                    <th>操盘问题</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>操盘流程</td>
                </tr>
                <tr>
                    <td>法律保障</td>
                </tr>
                <tr>
                    <td><a href="/qanda">常见问题</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="am-u-sm-3">
            <table class="" rules="none">
                <thead>
                <tr>
                    <th>软件下载</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="am-icon-windows"></span>Windows</td>
                </tr>
                <tr>
                    <td><span class="am-icon-apple"></span>iOS</td>
                </tr>
                <tr>
                    <td><span class="am-icon-android"></span>Android</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="am-u-sm-3">
            <table class="" rules="none">
                <thead>
                <tr>
                    <th>全国服务热线</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-danger">400-3245-892</td>
                </tr>
                <tr>
                    <td><span class="am-icon-qq"></span>QQ群</td>
                </tr>
                <tr>
                    <td><span class="am-icon-weixin"></span>微信群</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="am-u-sm-3">
            <table class="" rules="none">
                <thead>
                <tr>
                    <th>关于牛金网</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/company_intro">公司介绍</a></td>
                </tr>
                <tr>
                    <td>合作伙伴</td>
                </tr>
                <tr>
                    <td>联系方式</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>© Copyright 2015 niujingwang.com All Rights Reserved 牛金网 版权所有 浙ICP备14035468号</p>
</footer>
