<!--#S footer-->
<footer id="footer">
    <nav class="nav-box">
        <ul>
            <li class="home">
                <a href="/mobile" ng-class="{current:vm.menu === 1}">首页</a>
            </li>
            <li class="ttn">
                <a href="/mobile/#/ttn">天天牛</a>
            </li>
            <!--
            <li class="ttn">
                <a href="/mobile/#/yyn">月月牛</a>
            </li>
            -->
            <li class="exp">
                <a href="/mobile/#/exp">免费体验</a>
            </li>
            <li class="user">
                <a href="/mobile/#/user" ng-class="{current:vm.menu === 4}">我的帐户</a>
            </li>
        </ul>
    </nav>
</footer><!--#E footer-->
