<div ng-show="capitalVM.user.identity.id">
    <div class="recTop">
        <span>您有{{capitalVM.cards.length}}张银行卡</span>
        <!--
        <a href="#">查看提现记录></a>
        -->
    </div>
    <div class="carFormBox marTop25">
        <div class="cartTitle fl">
            开户名：
        </div>
        <div class="cartFomeContent fl">
            <input type="text" class="inputText" value="{{capitalVM.user.identity.name}}" disabled/>
            &nbsp;只能绑定实名认证人本人的银行卡
        </div>
    </div>
    <div class="carFormBox">
        <div class="cartTitle fl">
            开户行：
        </div>
        <div class="cartFomeContent fl">
            <!--
            <select name="" class="inputSelect">
                <option value="">工商银行</option>
            </select>
            -->
            <select class="inputSelect" ng-model="capitalVM.bankObj"
                    ng-options="item as item.name for item in capitalVM.BankNameList"></select>
        </div>
    </div>
    <div class="carFormBox">
        <div class="cartTitle fl">
            开户行支行：
        </div>
        <div class="cartFomeContent fl">
            <input type="text" class="inputText" ng-model="capitalVM.bankName"/>
        </div>
        <!--
        <div class="cartFomeContent fl">
            <select name="" class="inputSelect2">
                <option value="">北京</option>
            </select>
            &nbsp;
            <select name="" class="inputSelect2">
                <option value="">朝阳区</option>
            </select>
        </div>
        -->
    </div>
    <div class="carFormBox">
        <div class="cartTitle fl">
            个人银行卡号：
        </div>
        <div class="cartFomeContent fl">
            <input type="text" class="inputText" minlength="16" maxlength="19" placeholder="16到19位的数字" ng-model="capitalVM.cardID" />
        </div>
    </div>
    <!--
    <div class="carFormBox">
        <div class="cartTitle fl">
            请输入短信验证码：
        </div>
        <div class="cartFomeContent fl">
            <a href="javascript:" class="carbtn02">获取验证码</a>
            <input type="text" class="inputText inputYzm" name="" id="" value="" />
        </div>
    </div>
    -->
    <a href="" ng-click="capitalVM.addCard()" class="recBtn01 carBtn01">保存</a>
    <div class="column5">
    </div>
    <div class="witText03">
        <p class="p02">温馨提示：<br />
            1、如果您填写的开户行支行不正确，可能将无法成功提现。<br />
            2、如果您不确定开户行支行名称，可打电话到所在地银行的营业网点询问或上网查询。<br />
            3、不支持提现至信用卡账户。您提供的任何信息牛金网都将予以保护，不会挪作他用。</p>
    </div>
</div>

<div ng-hide="capitalVM.user.identity.id">
    <div class="recTop">
        <span>您还未实名认证</span>
    </div>
    <a href="/user#/user_account?category=1" class="recBtn01 carBtn01">去实名认证</a>
</div>
