<div class="wyRec">
    <div class="">
        <div class="recMoneyBox zfbMoneyBox">
            <div class="recMoneyLeft zfbMoneyLeft fl">
                <p class="p01">&nbsp;当前充值相关的业务单号：000000001，操盘12万元，至少还需要支付19452元（1万9千4百52元）！</p>
                <div class="recMoneyText zfbMoneyText">
                    <div class="fl">&nbsp;&nbsp;&nbsp;充值金额：</div>
                    <input type="text" placeholder="请输入充值金额" name="" id="" value="" class="dis fl" />
                    <div class="fl">&nbsp;元</div>
                </div>
                <div class="recMoneyText zfbMoneyText ">
                    <div class="fl">支付宝账户：</div>
                    <input type="text" placeholder="请输入支付宝账户" class="dis fl zfbMoneyInputText" name="" id="" value="" />
                    <div class="zfbImg fl"></div>
                </div>
                <p class="p02">该账户是核对转账的唯一凭据，请确认该账户与实际转账支付宝账户一致！</p>
            </div>
            <div class="fl recMoneyRight">
                <p class="p01">当前可用余额为：</p>
                <p class="p02">￥<span>89</span>.45</p>
                <p class="p03">其中冻结100,000元，可用32,789.45元</p>
            </div>
        </div>
        <a href="#" class="recBtn01">下一步</a>
    </div>
    <div class="zfbBox">
        <div class="zfbLeft fl">
            <div class="zfbText">
                <p>您的支付宝账户：<em class="fb">875969515@qq.com</em></p>
                <p>您本次转账金额：<span class="color_f2991b">￥<span>1234</span>.45</span></p>
            </div>
            <div class="zfbText2">
                <p class="color_c82217">用手机支付宝扫一扫</p>
                <p>快速转账，免手续费</p>
                <img src="../images/ewm.jpg"/>
            </div>
        </div>
        <div class="zfbRight fl">
            <div class="zfbText zfbText3">
                <p>收款人支付宝账户：<em class="em01">875969515@qq.com</em></p>
                <p>收款人账户名称：<em class="fb color_c82217">北京小牛普惠科技有限公司</em></p>
            </div>
            <div class="zfbText2">
                <p class="color_c82217">您还可以</p>
                <p>登录支付宝网站付款</p>
                <a href="#"><img class="img01" src="../images/zfb2.jpg"/></a>
            </div>
        </div>
    </div>
</div>
