<div class="modal-header">
    <h3 class="modal-title">用户补穿仓</h3>
</div>
<div class="modal-body">
    <div class="am-form-group">
        <label>用户手机号:</label>
        {{userMobile}}
    </div>
    <div class="am-form-group">
        <label>补穿仓金额</label>
        <input type="number" min="0" ng-model="data.order_amount" required>
    </div>
    <div class="am-form-group">
        <label>穿仓配资单号</label>
        <input type="text" ng-model="data.apply_serial_id" required>
    </div>
    <label for="order-info-1">订单描述</label>
    <textarea class="" rows="4" id="order-info-1" ng-model="data.order_description"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">创建</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>