<div class="modal-header">
    <h3 class="modal-title">创建订单</h3>
</div>
<div class="modal-body">
    <div class="am-form-group">
        <label>用户手机号:</label>
        {{userMobile}}
    </div>
    <div class="am-form-group">
        <label>订单金额</label>
        <input type="number" min="0" ng-model="data.order_amount">
    </div>
    <div class="am-form-group">
        <label>转账单号</label>
        <input type="text" ng-model="data.order_bank_trans_id">
    </div>
    <div class="am-form-group">
        <label for="order-type-1">订单类型</label>
        <select id="order-type-1" ng-model="data.order_type">
            <option value="1">充值</option>
            <option value="2">提现</option>
            <option value="3">盈提</option>
            <option value="4">股票盈利</option>
            <option value="5">保证金返还</option>
            <option value="6">追加配资保证金</option>
            <option value="7">配资延期</option>
            <option value="8">管理费返还</option>
            <option value="9">配资保证金</option>
            <option value="10">管理费支出</option>
            <option value="15">手动订单</option>
        </select>
    </div>
    <div class="am-form-group">
        <label for="order-type-2">支付类型</label>
        <select id="order-type-2" ng-model="data.pay_type">
            <option value="0">不填</option>
            <option value="8">补穿仓</option>
        </select>
    </div>
    <label for="order-info-1">订单描述</label>
    <textarea class="" rows="4" id="order-info-1" ng-model="data.order_description"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">创建</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>