<div class="recTop">
    <span>您有2张银行卡</span>
    <a href="#">查看提现记录></a>
</div>

<div class="witRight carBox marTop25" id="selectList">
    <div class="witContent select">
        <span><img src="../images/yh/icbc.png"/></span>
        <div class="fl carText01">
            工商银行  **** **** **** 2506
        </div>
        <div class="fl carText02">
            借记卡 电话：156****9591
        </div>
        <a href="#">管理</a>
    </div>
    <div class="witContent">
        <span><img src="../images/yh/icbc.png"/></span>
        <div class="fl carText01">
            工商银行  **** **** **** 2506
        </div>
        <div class="fl carText02">
            借记卡 电话：156****9591
        </div>
        <a href="#">管理</a>
    </div>
    <a href="#" class="witContent2">
        <span class="witIcon">&nbsp;</span>添加一张银行卡
    </a>
</div>
