<!--#我的用户-->
<div class="promote-box">
    <div class="promote-total">
        <table class="tb">
            <tr>
                <td>
                    当前佣金
                    <a href="" class="btn-exchange" ng-click="vm.transMoney()">兑换</a>
                    <em>{{vm.user.finance.commission || 0 | currency:'':2}}</em>
                </td>
                <td>
                    推广配资用户
                    <strong>{{vm.myPayUsers.length}}</strong>
                </td>
                <td>
                    产生管理费
                    <strong>{{vm.total_fee | currency:'':2}}</strong>
                </td>
                <td>
                    返配资管理费的
                    <strong>7%</strong>
                </td>
            </tr>
            <tr>
                <td>
                    已兑佣金
                    <strong>{{vm.paid_fee | currency:'':2}}</strong>
                </td>
                <td>
                    推广注册用户
                    <strong>{{vm.myUserList.length}}</strong>
                </td>
                <td>
                    用户累计配资总额
                    <strong>{{vm.totalApplyAmount | currency:'':2}}</strong>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
    <div class="total">
        <!--
        <table class="tb">
            <tr>
                <td>
                    我的推广用户
                    <strong>{{vm.myUserList.length}}</strong>
                </td>
                <td>
                    配资用户
                    <strong>{{vm.myPayUsers.length}}</strong>
                </td>
            </tr>
        </table>
        -->
    </div>
    <div class="neword_tableBox">
        <table>
            <tr>
                <th class="td01" width="185">用户名</th>
                <th class="td01">配资金额（元）</th>
                <th class="td01">注册时间</th>
            </tr>
            <tr ng-repeat="user in vm.myUserList">
                <td class="td01">{{user.mobile | displayMobile}}</td>
                <td class="td01">{{user.finance.history_capital | currency:'':2}}</td>
                <td class="td01">{{user.registerAt | date:"yyyy-MM-dd HH:mm"}}</td>
            </tr>
        </table>
    </div>
</div>
<!--/我的用户-->

<div class="regTcc" ng-show="vm.showTransMoneyWindow">
    <div class="tmbg"></div>
    <div class="tar_TccBox">
        <div class="regColumn">
            佣金兑换
            <div class="loginClose" ng-click="vm.closePopupWindow()"></div>
        </div>
        <div class="pass_Box" ng-hide="vm.transFail || vm.transSuccess">
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    现有佣金
                </div>
                <div class="pass_right fl">
                    <em>{{vm.user.finance.commission || 0 | currency:'':2}}</em>
                </div>
            </div>
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    可兑换佣金
                </div>
                <div class="pass_right fl">
                    {{vm.transAmount || 0 | currency:'':2}}
                </div>
            </div>
            <a class="newrec_btn02 newrec_zfbbtn01" href="" ng-click="vm.completeTransMoney()">确  定</a>
        </div>
        <div class="pass_box2 jq_pass_box2" ng-show="vm.transSuccess">
            <div class="pass_img fl"></div>
            <div class="pass_text fl">
                <p class="p01">兑换成功,佣金将转入平台账户余额！</p>
                <a class="newrec_btn02" href="" ng-click="vm.closePopupWindow()">确   定</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="newRec_TccBox" ng-show="vm.transFail">
            <div class="newRec_TccImg fl"></div>
            <div class="newRec_tccText fl">
                <p class="p01">佣金兑换余额失败:</p>
                <p class="p02">{{vm.failReason}}</p>
                <p class="p02">请联系我们的客服</p>
                <a href="" class="newrec_btn02" ng-click="vm.closePopupWindow()">确  定</a>
            </div>
        </div>
    </div>
</div>
