<!--#推广详情-->
<div class="promote-box">
    <div class="promote-total">
        <table class="tb">
            <tr>
                <td>
                    当前佣金
                    <em>{{vm.user.finance.commission || 0 | currency:'':2}}</em>
                    <button type="button" class="am-btn am-btn-warning" ng-click="vm.transMoney()">兑换</button>
                </td>
                <td>
                    推广配资用户
                    <strong>{{vm.myPayUsers.length}}</strong>
                </td>
                <td>
                    产生管理费
                    <strong>{{vm.total_fee | currency:'':2}}</strong>
                </td>
                <td>
                    返配资管理费的
                    <strong>7%</strong>
                </td>
            </tr>
            <tr>
                <td>
                    已兑佣金
                    <strong>{{vm.paid_fee | currency:'':2}}</strong>
                </td>
                <td>
                    推广注册用户
                    <strong>{{vm.myUserList.length}}</strong>
                </td>
                <td>
                    用户累计配资总额
                    <strong>{{vm.totalApplyAmount | currency:'':2}}</strong>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
    <div class="promote-step">
        <img src="/images/promote-step.jpg" width="741" height="21" alt="">
    </div>
    <div class="promote-share">
        <div class="url" ng-hide="vm.user.referName">
            <a class="copy" ng-click="vm.setReferName()">设置</a>
            <label>请先设置推广码:</label>
            <input type="text" class="newcar_inputText" placeholder="5~18位字母数字的组合" minlength="5" maxlength="18" required ng-model="vm.referName">
            <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="url" ng-show="vm.user.referName">
            <a class="copy" id="J_copy" ng-click="vm.copyReferLink()">复制链接</a>
            <label>您的推广链接</label>
            <div class="link" id="J_link">http://www.niujinwang.com/?refer={{vm.user.referName}}</div>
        </div>
        <div class="btns" ng-show="vm.user.referName">
            <label>分享您的推广链接</label>
            <div class="bdsharebuttonbox" data-tag="share_1">
                <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                <a class="bds_tsina" data-cmd="tsina"></a>
                <a class="bds_baidu" data-cmd="baidu"></a>
                <a class="bds_renren" data-cmd="renren"></a>
                <a class="bds_tqq" data-cmd="tqq"></a>
                <a class="bds_weixin" data-cmd="weixin"></a>
                <a class="bds_more" data-cmd="more"></a>
            </div>
        </div>
    </div>
    <ul class="promote-intro">
        <li>
            <h5>如何推广？</h5>
            <p>牛金网推广是一种按用户配资赚取佣金的模式，您可以通过朋友、QQ、微信、微博、博客、论坛或在自己的网站上进行推广，所有通过您的推广链接访问过来的用户，注册后都将成为您的下线用户，而当这些用户在本站配资时，您就可以最高赚取7%的佣金。</p>
        </li>
        <li>
            <h5>佣金怎么结算？</h5>
            <p>您的用户在注册后一年内每发生一笔配资，在配资完成后，您即可获得一笔佣金，当您的佣金达到100元的时候，即可兑换取出，也可以在本站进行配资。</p>
        </li>
        <li>
            <h5>推广佣金收入计算</h5>
            <p>推广获得用户后您的用户开始配资，100个用户人均8倍杠杆配资10万元使用10天；</p>
        </li>
        <li class="count">
            <p>100人×10万元＝1000万元配资</p>
            <p>100万*10天*19.9元=199000元配资管理费</p>
            <p>199000元配资管理费×7%＝月最高赚佣金1.4万元 合计年收益<em>16.8</em>万元</p>
        </li>
    </ul>
</div><!--/推广详情-->

<div class="regTcc" ng-show="vm.showTransMoneyWindow">
    <div class="tmbg"></div>
    <div class="tar_TccBox">
        <div class="regColumn">
            佣金兑换
            <div class="loginClose" ng-click="vm.closePopupWindow()"></div>
        </div>
        <div class="pass_Box" ng-hide="vm.transFail || vm.transSuccess">
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    现有佣金
                </div>
                <div class="pass_right fl">
                    <em>{{vm.user.finance.commission || 0 | currency:'':2}}</em>
                </div>
            </div>
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    可兑换佣金
                </div>
                <div class="pass_right fl">
                    {{vm.transAmount || 0 | currency:'':2}}
                </div>
            </div>
            <a class="newrec_btn02 newrec_zfbbtn01" href="" ng-click="vm.completeTransMoney()">确  定</a>
        </div>
        <div class="pass_box2 jq_pass_box2" ng-show="vm.transSuccess">
            <div class="pass_img fl"></div>
            <div class="pass_text fl">
                <p class="p01">兑换成功,佣金将转入平台账户余额！</p>
                <a class="newrec_btn02" href="" ng-click="vm.closePopupWindow()">确   定</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="newRec_TccBox" ng-show="vm.transFail">
            <div class="newRec_TccImg fl"></div>
            <div class="newRec_tccText fl">
                <p class="p01">佣金兑换余额失败:</p>
                <p class="p02">{{vm.failReason}}</p>
                <p class="p02">请联系我们的客服</p>
                <a href="" class="newrec_btn02" ng-click="vm.closePopupWindow()">确  定</a>
            </div>
        </div>
    </div>
</div>
