<div class="ideBox " id="ideBox">
    <alert ng-repeat="alert in accountVM.alerts" type="{{alert.type}}" close="accountVM.closeAlert($index)">{{alert.msg}}</alert>
    <p class="p01">设置提现密码</p>
    <input type="password" ng-model="accountVM.finance_pass" minlength="6" maxlength="20" class="inputText2" placeholder="请输入新的6到20位提现密码" required autofocus>
    <input type="password" ng-model="accountVM.confirm_finance_pass" minlength="6" maxlength="20" class="inputText2" placeholder="确认密码" required>
    <div class="inputBox">
        <a href="javascript:" ng-click="accountVM.getVerifyCode()" class="carbtn02 emlYzm">{{accountVM.verifyCodeBtnText}}</a>
        <input type="number" ng-model="accountVM.verify_code" class="inputText inputYzm inputYzmWith2" placeholder="请输入数字验证码" required>
        <div class="clear"></div>
    </div>
    <a href="javascript:" id="btn" class="ideBtn01" ng-click="accountVM.setFinancePassword()">立即设置</a>
</div>
