<div class="tableMenu">
    <ul id="tableMenu">
        <li class="select">全部</li>
        <li>一月内</li>
        <li>半年内</li>
    </ul>
    <div class="ordhBox fr">
        <input type="text" class="ordInputText" name="" id="" value="" placeholder="2015.02.10" />
        <input type="button" name="" class="searchBtn" id="" value="日历" />
    </div>
    <div class="fr">&nbsp;到&nbsp;</div>
    <div class="ordhBox fr">
        <input type="text" class="ordInputText" name="" id="" value="" placeholder="2015.02.10" />
        <input type="button" name="" class="searchBtn" id="" value="日历" />
    </div>
</div>
<div class="tableMain" id="tableMain">
    <div class="tableBox" id="jq_tableBox">
        <table>
            <tr>
                <th>业务单号</th>
                <th>全部</th>
                <th>金额变动</th>
                <th>余额</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td class="color_f2991b">处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td class="color_f2991b">处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>完成</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>完成</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>完成</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>完成</td>
            </tr>
        </table>
        <div class="tablePageBox">
            <input type="button" name="" id="" value="GO" class="pageBtn" />
            <div class="fr">&nbsp;页&nbsp;</div>
            <input type="text" name="" id="" value="1" class="pageInputText" />
            <div class="fr">&nbsp;第&nbsp;</div>
            <div class="fr tablePage">
                <a href="#">&lt;</a>
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&gt;</a>
            </div>

        </div>
    </div>
    <div class="tableBox undis"  id="jq_tableBox2">
        <table>
            <tr>
                <th>业务单号</th>
                <th>全部</th>
                <th>金额变动</th>
                <th>余额</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td class="color_f2991b">处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td class="color_f2991b">处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td class="color_f2991b">处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
        </table>
        <div class="tablePageBox">
            <input type="button" name="" id="" value="GO" class="pageBtn" />
            <div class="fr">&nbsp;页&nbsp;</div>
            <input type="text" name="" id="" value="1" class="pageInputText" />
            <div class="fr">&nbsp;第&nbsp;</div>
            <div class="fr tablePage">
                <a href="#">&lt;</a>
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&gt;</a>
            </div>

        </div>
    </div>
    <div class="tableBox undis" id="jq_tableBox3">
        <table>
            <tr>
                <th>业务单号</th>
                <th>全部</th>
                <th>金额变动</th>
                <th>余额</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
            <tr>
                <td>00000001</td>
                <td>服务费</td>
                <td>-4.80</td>
                <td>123564.80</td>
                <td>2015.02.03  18:34:25</td>
                <td>处理中</td>
            </tr>
        </table>
        <div class="tablePageBox">
            <input type="button" name="" id="" value="GO" class="pageBtn" />
            <div class="fr">&nbsp;页&nbsp;</div>
            <input type="text" name="" id="" value="1" class="pageInputText" />
            <div class="fr">&nbsp;第&nbsp;</div>
            <div class="fr tablePage">
                <a href="#">&lt;</a>
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&gt;</a>
            </div>
        </div>
    </div>
</div>