<div class="userBox">
    <div class="userLeft fl">
        <div class="userContent">
            <div class="userHeadImg fl"></div>
            <div class="userNameBox fl">
                <p class="p01">Hi, {{accountVM.user.profile.name || '牛金用户'}}</p>
                <p class="p02">帐号名：您注册时的手机号({{accountVM.user.mobile | displayMobile}})</p>
            </div>
            <div class="clear"></div>
        </div>
        <p class="userP01"><a href="/forgot">修改密码</a></p>
        <!--
        <p class="userP01"><a href="#">修改头像 </a> | <a href="/forgot">修改密码</a></p>
        -->
    </div>
    <!--
    <div class="userRIght fl">
        <p class="p01">
            您的账户安全级别：
            <span class="color_c82217 fb span01">3</span>&nbsp;
            <span class="span02 color_c82217">级</span>
        </p>
        <div class="userJDt">
            <div class="userJDt2"></div>
        </div>
        <p class="p01">建议您：</p>
        <p>
            <a href="#" class="color_c82217">立即绑定邮箱</a>
            <a href="#" class="color_c82217">设置提现密码</a>
        </p>
    </div>
    -->
</div>
<div class="userTable">
    <table>
        <tr ng-repeat="item in accountVM.userInfoItem">
            <td><span class="span01 {{item.icon}}">{{item.title}}</span></td>
            <td><span style="color:#e23024">{{item.status}}</span> <a ng-show="item.show_action" href="javascript:" ng-click="accountVM.itemAction(item)">{{item.action}}</a></td>
            <td>{{item.info}}</td>
            <td>{{item.description}}</td>
        </tr>
        <!--
        <tr>
            <td><span class="span01 spanIcon01">身份证认证</span></td>
            <td><a href="#">立即认证</a></td>
            <td>侯小伟( 1426**********2136)</td>
            <td>提现必须实名认证</td>
        </tr>
        <tr>
            <td><span class="span01 spanIcon02">手机已绑定</span></td>
            <td><a href="#">已绑定</a> <a href="#">修改</a></td>
            <td>156****9591</td>
            <td>手机用于接收关键的操盘信息</td>
        </tr>
        <tr>
            <td><span class="span01 spanIcon03">邮箱已绑定</span></td>
            <td><a href="#">已认证</a> </td>
            <td>hxw***@126.com</td>
            <td>邮箱用于接受账户的操盘记录报表，用于登录等</td>
        </tr>
        <tr>
            <td><span class="span01 spanIcon04">登录密码</span></td>
            <td><a href="#">修改</a></td>
            <td>&nbsp;</td>
            <td>登录密码用于牛金产品登录</td>
        </tr>
        <tr>
            <td><span class="span01 spanIcon05">提现密码</span></td>
            <td><a href="#">设置</a></td>
            <td>&nbsp;</td>
            <td>提现密码用于确认提现</td>
        </tr>
        -->
    </table>
</div>
