<div class="tableMenu">
    <!--
    <ul id="tableMenu">
        <li class="select">全部</li>
        <li>一月内</li>
        <li>半年内</li>
    </ul>
    -->
    <ul id="tableMenu">
        <li ng-repeat="item in capitalVM.queryItems" ng-click="capitalVM.queryItem(item)" ng-class="{select: item.value === capitalVM.selected}">{{item.name}}</li>
    </ul>
    <!--
    <div class="ordhBox fr">
        <input type="text" class="ordInputText" name="" value="" placeholder="2015.02.10" />
        <input type="button" name="" class="searchBtn" value="日历" />
    </div>
    <div class="fr">&nbsp;到&nbsp;</div>
    <div class="ordhBox fr">
        <input type="text" class="ordInputText" name="" value="" placeholder="2015.02.10" />
        <input type="button" name="" class="searchBtn" value="日历" />
    </div>
    -->
</div>
<div class="tableMain" id="tableMain">
    <div class="tableBox" id="jq_tableBox">
        <table>
            <tr>
                <th>交易类型</th>
                <th>金额</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
            <tr ng-repeat="order in capitalVM.showingItems | orderBy:'createdAt':true" ng-class-even="capitalVM.tableCss.even">
                <td>{{order.dealType | displayOrderType}}</td>
                <td>{{order.amount | currency:'':2 | displayOrderAmount:order.dealType}}</td>
                <td>{{order.createdAt | displayDate}}</td>
                <td ng-class="{color_f2991b: order.status === 0, color_c82217: order.status === 2}">{{order.status | orderStatus}}</td>
            </tr>
        </table>
        <div class="fr">
            <pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="capitalVM.itemsPerPage" total-items="capitalVM.totalItems" ng-model="capitalVM.currentPage" ng-change="capitalVM.pageChanged()"></pagination>
        </div>
    </div>
</div>