<div class="recTop">
    <span>提取余额到银行卡</span>
    <a href="javascript:" ng-click="capitalVM.showWithdrawDetail()">查看提现记录></a>
</div>
<div class="recMoneyBox">
    <div class="recMoneyLeft fl">
        <div class="recMoneyText">
            提现金额：
            <input type="number" placeholder="请输入提现金额" ng-model="capitalVM.withdrawAmount" />
            元
        </div>
        <!--
        <p class="p01">&nbsp;当前充值相关的业务单号：000000001，操盘12万元，至少还需要支付19452元（1万9千4百52元）！</p>
        -->
    </div>
    <div class="fl recMoneyRight">
        <p class="p01">当前可提现余额为：</p>
        <p class="p02">￥<span>{{capitalVM.user.finance.balance | currency:'':0}}</span>{{capitalVM.user.finance.balance | numTrunc}}</p>
        <!--
        <p class="p03">其中冻结100,000元，可用32,789.45元</p>
        -->
    </div>
</div>

<div class="witBox">
    <div class="witLeft fl">
        选择银行卡：
    </div>
    <div class="witRight fl" id="selectList">
        <div class="witContent" ng-repeat="card in capitalVM.cards" ng-click="capitalVM.selectCard(card)" ng-class="{select:capitalVM.selectedCard === card}">
            <label>
                <input ng-checked="capitalVM.selectedCard === card" type="radio" name="w" />
                <span><img ng-src="{{capitalVM.BankNameList[card.bankID].img}}"/></span>
                <div class="fl carText01">
                    {{card | displayCard}}
                </div>
                <!--
                <div class="fl witText02">
                    限额49999元/天
                </div>
                -->
            </label>
            <!--
            <a href="javascript:" ng-click="capitalVM.deleteCard(card)">删除</a>
            -->
        </div>
        <!--
        <div class="witContent select">
            <label>
                <input checked="checked" type="radio" name="w" />
                <span><img src="../images/yh/icbc.png"/></span>
                <div class="fl witText01">
                    工商银行  尾号：2506
                </div>
                <div class="fl witText02">
                    限额49999元/天
                </div>
            </label>
            <a href="#">管理</a>
        </div>
        <div class="witContent">
            <label>
                <input type="radio" name="w" />
                <span><img src="../images/yh/icbc.png"/></span>
                <div class="fl witText01">
                    工商银行  尾号：2506
                </div>
                <div class="fl witText02">
                    限额49999元/天
                </div>
            </label>
            <a href="#">管理</a>
        </div>
        -->
        <a href="" class="witContent2" ng-click="capitalVM.showAddCard()">
            <span class="witIcon">&nbsp;</span>添加一张银行卡
        </a>
    </div>
    <div class="clear"></div>
</div>
<div class="witBoxw2">
    <div class="witLeft2 fl">
        提现密码：
    </div>
    <div class="witContent3 fl">
        <input type="password" ng-model="capitalVM.finance_password" placeholder="请输入提现密码" />
        您还未设置提现密码？
        <a href="/user#/user_account?category=2" class="color_c82217">立即设置</a>
    </div>
</div>
<alert ng-repeat="alert in capitalVM.alerts" type="{{alert.type}}" close="capitalVM.closeAlert($index)">{{alert.msg}}</alert>
<a href="" class="recBtn01 withBtn01" ng-click="capitalVM.withdraw()">提现</a>
<div class="column5">
    <a href="/info/help">帮助中心></a>
</div>
<div class="witText03">
    <p class="p01">最快20分钟到账</p>
    <p class="p02">最快20分钟到账，一般3小时内到账，节假日除外</p>
    <p class="p01">提现0手续费</p>
    <p class="p02">提现产生的费用全免，牛金网提供最贴心的配资服务</p>
    <p class="p01">支持十几家银行</p>
    <p class="p02">推荐您使用工商银行、建设银行、招商银行、农业银行</p>
    <p class="p02">温馨提示：<br />禁止洗钱、信用卡套现、虚拟交易等行为，一经发现并确认，将冻结相应账户。</p>
</div>
