<div class="admin-content">
    <hr/>

    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script>
        $(document).ready(function() {
            $('#shengpay_test').on('click', function (e) {
                console.log('shengpay');
            });

            $('#iapppay_test').on('click', function (e) {
                console.log('iapppay');
            });

            $('#stock_test').on('click', function(e) {
                console.log('stock click');
                var s1 = { 'id': '601600', 'name': '中国铝业' };
                var s2 = { 'id': '002130', 'name': '沃尔核材' };
                var stocks = [];
                stocks.push(s1);
                stocks.push(s2);
                var test_str = JSON.stringify(stocks);
                $.post("/api/add_forbidden_stock", {data:test_str}, function() {
                    console.log("success");
                }, 'json').done(function() {
                    console.log("second success");
                }).fail(function() {
                    console.log("error");
                }).always(function() {
                    console.log("finished");
                });
            });
        });
    </script>

    <div class="am-g am-margin am-padding">
        <div class="am-u-sm-12 am-u-md-8 am-u-md-offset-2">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">测试专用</div>
                <div class="am-panel-bd">
                    <button id="shengpay_test" class="am-btn am-btn-warning">
                        盛大
                    </button>
                    <button id="iapppay_test" class="am-btn am-btn-warning">
                        爱贝
                    </button>
                    <button id="stock_test" class="am-btn am-btn-warning">
                        禁买股票
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>