{{> flash}}
<div class="am-g am-container am-margin">
    <div class="am-u-lg-12 am-u-lg-offset-2">
        <form class="am-form" method="POST">
            <fieldset>
                <legend>您的投诉或建议</legend>

                <div class="am-form-group">
                    <label for="doc-ipt-email-1">标题</label>
                    <input name="title" type="text" class="" id="doc-ipt-email-1" placeholder="输入标题">
                </div>

                <div class="am-form-group">
                    <label for="doc-ta-1">内容</label>
                    <textarea name="content" class="" rows="10" id="doc-ta-1"></textarea>
                </div>

                <p><button type="submit" class="am-btn am-btn-default">提交</button></p>
            </fieldset>
        </form>
    </div>
</div>
