<div class="wrapper">
    <div class="am-margin am-padding am-panel am-panel-default">
        <div class="am-panel-bd">{{msg}}</div>
        <a href="/" type="button" class="am-btn am-btn-warning">返回主页</a>
    </div>
</div>
