<div class="header login-header">
    <div class="am-g">
        <h1 class="am-text-danger">支付失败!</h1>
    </div>
    <hr />
    <div class="am-g">
        <p>失败原因: {{pay_error.reason}}</p>
    </div>
</div>
