<div class="admin-content">
    <hr/>

    <div class="am-g am-margin am-padding">
        <div class="am-u-sm-12 am-u-md-8 am-u-md-offset-2">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">免费配资</div>
                <div class="am-panel-bd">
                    <p> 新用户可免费体验配资一次。 </p>
                    <p> 充值1元（结束后返还），即可领取2000元操盘资金，操盘两天，盈利全归您，亏损算我们</p>
                    <a href="/free_apply_confirm" class="am-btn am-btn-warning">
                        领取
                    </a>
                    <a href="/" class="am-btn am-btn-warning">
                        暂不领取
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>