<div class="Banner" id="imgFocus">
    <ul class="ImgContent" id="ImgContent">
        <li style="background-image: url(/images/banner.jpg);"></li>
        <li style="background-image: url(/images/banner2.jpg);"></li>
        <li style="background-image: url(/images/banner3.jpg);"></li>
    </ul>
    <div class="wrapper BannerNrBox">
        <ul class="ImgList" id="ImgList">
            <li class="selectLi"></li>
            <li></li>
            <li></li>
        </ul>
        <div class="BannerNr">
            <p class="bannerText01">最高10倍配资额</p>
            <p class="bannerText02">已有8017玩家参与<br />累计操盘金额9亿<br />已赚取 320万</p>
            <a href="#" class="bannerBtn">马上领取实盘资金</a>
        </div>
    </div>
</div>
<div class="productBox">
    <div class="wrapper">
        <div class="product fl">
            <div class="fl productIcon01"></div>
            <div class="fl productText">
                <p class="p01">配资 是件轻松的事</p>
                <p class="p02">3步操作，3分钟配资，最高30万</p>
                <p class="p03"><a href="#">免费体验</a> ｜ <a href="#">立即配资</a></p>
            </div>
        </div>
        <div class="product fl">
            <div class="fl productIcon02"></div>
            <div class="fl productText">
                <p class="p01">随时随地 随借随还</p>
                <p class="p02">PC移动微信，随时还款，超低费用</p>
                <p class="p03"><a href="#">查看费用</a></p>
            </div>
        </div>
        <div class="product fl">
            <div class="fl productIcon03"></div>
            <div class="fl productText">
                <p class="p01">实盘交易 安心安全</p>
                <p class="p02">实盘交易保障</p>
                <p class="p03"><a href="#">免费体验</a> ｜ <a href="#">立即配资</a></p>
            </div>
        </div>
    </div>
</div>
<div class="wrapper marTop25">
    <div class="column">
        <div class="fl num01">
            <span class="numSpan">1</span>
            选择炒股基金
        </div>
        <div class="fl num02">
            <span class="numSpan2">2</span>
            支付保证金
        </div>
        <div class="fl num02">
            <span class="numSpan2">3</span>
            领取账号开始赚钱
        </div>
        <div class="fr columnRight">
            <div class="icon01 fl"></div>
            <div class="columnRightText fl" id="demo">
                <div id="demo1">
                    <div>139******08 刚刚申请了 <span class="color_c82217 fb">1,000,000 资金 </span></div>
                    <div>139******08 刚刚申请了 <span class="color_c82217 fb">1,000,000 资金 </span></div>
                    <div>139******08 刚刚申请了 <span class="color_c82217 fb">1,000,000 资金 </span></div>
                    <div>139******08 刚刚申请了 <span class="color_c82217 fb">1,000,000 资金 </span></div>
                    <div>139******08 刚刚申请了 <span class="color_c82217 fb">1,000,000 资金 </span></div>
                </div>
                <div id="demo2"></div>
            </div>
        </div>
    </div>

    <div>
        <div class="fl moneyListBox">
            <div class="conlumn2">选择资金</div>
            <div class="moneyList" id="jq_moneyList">
                <ul>
                    <li class="select">
                        <p class="p01"><span>1万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li>
                        <p class="p01"><span>2万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li>
                        <p class="p01"><span>3万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li>
                        <p class="p01"><span>5万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li>
                        <p class="p01"><span>10万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li>
                        <p class="p01"><span>15万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li>
                        <p class="p01"><span>20万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li>
                        <p class="p01"><span>30万</span>元</p>
                        <p>炒股资金</p>
                    </li>
                    <li id="jq_qtMoney">
                        <p class="p02">其他金额</p>
                        手动输入
                    </li>
                </ul>
                <div class="qtmoneyBox undis" id="jq_qtmoneyBox">
                    <p class="tc">请输入您的操盘金额</p>
                    <div class="moneyInputBox">
                        <input class="moneyinputText" type="text" name="" id="" value="" placeholder="申请资金必须在1万元至30万元之间" />
                        <input type="button" name="" id="" value="确定" class="moneyBtn" />
                    </div>
                    <p class="tc"><a href="javascript:" id="return_moneyBox">返回</a></p>
                </div>
            </div>
        </div>
        <div class="fl infoBox">
            <div class="conlumn2">确认信息</div>
            <p class="tr"><a href="#" class="color_c82217">今日限制买入股票</a></p>
            <div class="infoTable">
                <table>
                    <tr>
                        <td class="infoTableTitle">操盘须知</td>
                        <td class="infoTableNr infoText01">投资沪深A股，仓位不限制，盈利全归你</td>
                    </tr>
                    <tr>
                        <td class="infoTableTitle">总操盘金额</td>
                        <td class="infoTableNr"><span class="infoText02">10,000</span> 元</td>
                    </tr>
                    <tr>
                        <td class="infoTableTitle">风险保证金</td>
                        <td class="infoTableNr"><span class="infoText02">10,000</span> 元</td>
                    </tr>
                    <tr>
                        <td class="infoTableTitle">亏损警戒线</td>
                        <td class="infoTableNr"><span class="infoText02">9,600</span> 元</td>
                    </tr>
                    <tr>
                        <td class="infoTableTitle">亏损平仓线</td>
                        <td class="infoTableNr"><span class="infoText02">9,400</span> 元</td>
                    </tr>
                    <tr>
                        <td class="infoTableTitle">账户管理费</td>
                        <td class="infoTableNr"><span class="infoText03">19.9</span>元/每天  <span class="infoText04">（按天收取，周末节假日免费）</span></td>
                    </tr>
                </table>
            </div>
            <p class="tr"><input type="checkbox" name="" id="" value="" />&nbsp;同意牛<a href="#" class="color_e23024">《金操盘协议》</a></p>
            <input type="button" name="" id="" value="立即操盘" class="infoBtn" />
        </div>
    </div>
    <div class="clear"></div>
    <div class="Division"></div>
    <!--
    <div class="column3">
        <div class="fl">
            <span class="color_e23024">实盘动态</span> 今天大家都买啥？
        </div>
        <div class="fr">
            <a href="#" class="color_333333">查看更多>></a>
        </div>
    </div>
    <div class="tableList">
        <table>
            <tr>
                <th>用户昵称</th>
                <th>最新买入</th>
                <th>股票名称</th>
                <th>成交价格</th>
                <th>成交数量</th>
                <th>成交市值</th>
                <th>成交时间</th>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
            <tr>
                <td>积善成德</td>
                <td>002432</td>
                <td>九安医疗</td>
                <td>35.380</td>
                <td>8400</td>
                <td>297192.00</td>
                <td>2015/3/16 15”00“37</td>
            </tr>
        </table>
    </div>
    <div class="Division"></div>
    -->
    <div class="column4">
        合作机构
    </div>
    <div class="PartnersList">
        <div class="PartnersBox fl">
            <a href="#"><img src="images/img06.jpg"/></a>
        </div>
        <div class="PartnersBox fl">
            <a href="#"><img src="images/img07.jpg"/></a>
        </div>
        <div class="PartnersBox fl">
            <a href="#"><img src="images/img08.jpg"/></a>
        </div>
        <div class="PartnersBox fl">
            <a href="#"><img src="images/img09.jpg"/></a>
        </div>
        <div class="PartnersBox fl">
            <a href="#"><img src="images/img10.jpg"/></a>
        </div>
        <div class="PartnersBox fl">
            <a href="#"><img src="images/img11.jpg"/></a>
        </div>
        <div class="PartnersBox fl">
            <a href="#"><img src="images/img12.jpg"/></a>
        </div>
        <div class="PartnersBox PartnersBox2 fl">
            <a href="#"><img src="images/img13.jpg"/></a>
        </div>
        <div class="PartnersBox PartnersBox3 fl">
            <a href="#"><img src="images/img14.jpg"/></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
