<!--
<div calss="" >
    <div>
	<img src="images/logo+title.jpg">
    </div>
    <div>	
         <ul class="am-nav am-nav-pills am-margin pull-right">
             <li class="am-active"><a href="#">首页</a></li>
             <li><a href="#">开始操盘</a></li>
             <li><a href="#">按需定制</a></li>
         </ul>
    </div>
</div>
-->

<!--
<div class="get">
    <div class="am-g">
        <div class="am-u-lg-12">
            <h1 class="get-title">牛金网 - 最好用的股票配资网站</h1>

            <p>
            期待你的参与，共同打造一个财务自由的人生
            </p>

            <p>
            <a href="/apply" class="am-btn am-btn-sm get-btn">我要操盘</a>
            </p>
        </div>
    </div>
</div>
-->


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/images/banner1.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="/images/banner2.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="/images/banner1.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>

<div class="detail">
	<div class="am-g am-container">
		<div class="am-u-lg-12">
		<!--
			<h2 class="detail-h2">
                已有 <strong class="am-text-danger am-text-xxl">12345 </strong> 位操盘手，在牛金网操盘<strong class="am-text-danger am-text-xxl"> 88,888,888 </strong>元
            </h2>
	    -->

			<div class="am-g">
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
                    <h3 class="detail-h3">
                        <i class="am-icon-flash am-icon-lg"></i>
                        盈利随时提取
                    </h3>

                    <p class="detail-p">
                        一旦盈利，您可以随时将盈利提取出来；
                    </p>
                </div>
				<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
					<h3 class="detail-h3">
                        <i class="am-icon-clock-o am-icon-lg"></i>
                        配资自动延期
					</h3>

					<p class="detail-p">
                        未到止损线，自动延期；
                    </p>
				</div>
				<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
					<h3 class="detail-h3">
                        <i class="am-icon-bar-chart am-icon-lg"></i>
                        操盘灵活多样
                    </h3>

					<p class="detail-p">
                        加减配资、申请延期，贴心配资服务；
					</p>
				</div>
				<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
					<h3 class="detail-h3">
                        <i class="am-icon-money am-icon-lg"></i>
                        充值便捷
                    </h3>

					<p class="detail-p">
                        通过支付宝、银行卡、财付通等渠道支付，快捷省心；
                    </p>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<div class="hope">
	<div class="am-g am-container">
		<div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img">
			<img src="/images/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
			<hr class="am-article-divider am-show-sm-only hope-hr">
		</div>
		<div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
			<h2 class="hope-title">同我们一起打造你的财富人生</h2>

			<p>
            已有 <strong class="am-text-danger am-text-xxl">12345 </strong> 位操盘手，在牛金网操盘<strong class="am-text-danger am-text-xxl"> 88,888,888 </strong>元
			</p>
		</div>
	</div>
</div>
-->

<!--
<div class="about">
	<div class="am-g am-container">
		<div class="am-u-lg-12">
			<h2 class="about-title about-color">一步急速操盘、尽在牛金网， 非常欢迎大家的参与</h2>

			<div class="am-g">
				<div class="am-u-lg-6 am-u-md-4 am-u-sm-12">
					<form class="am-form">
						<label for="name" class="about-color">你的姓名</label>
						<input id="name" type="text">
						<br/>
						<label for="email" class="about-color">你的邮箱</label>
						<input id="email" type="email">
						<br/>
						<label for="message" class="about-color">你的简历</label>
						<textarea id="message"></textarea>
						<br/>
						<button type="submit" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-check"></i> 加入我们</button>
					</form>
					<hr class="am-article-divider am-show-sm-only">
				</div>

				<div class="am-u-lg-6 am-u-md-8 am-u-sm-12">
					<h4 class="about-color">关于我们</h4>

					<p>牛金网是行业新秀，将致力于中国互联网金融的发展，
					专注于互联网金融产品的开发。在这样一个伟大的变革时代，证券及金融IT行业发展前景无限，牛金网将逐步扩大客户对象和业务范围，完善公司各项流程和提系建设，为公司未来的快速发展提供强有力的平台支撑。在未来牛金网将秉承“客户第一，市场导向”的理念，以“激情，信心，耐心，责任心”向着领先的互联网金融服务提供商的目标迈进。</p>
					<h4 class="about-color">团队介绍</h4>

					<p>牛金网 获得了XX创投孵化器的支持，其领先科技已得到全球多家企业及机构的认可与信赖，客户包括全球500强企业、美国政府、国内政府机关、国内外上市公司、以及互联网金融标准化组织。</p>
				</div>
			</div>
		</div>
	</div>
</div>
-->
