<div class="get">
	<div class="am-g">
		<div class="am-u-lg-12">
			<h1 class="get-title">牛金网 - 最好用的股票配资网站</h1>

			<p>
			期待你的参与，共同打造一个财务自由的人生
			</p>

			<p>
			<a href="/apply" class="am-btn am-btn-sm get-btn">我要操盘</a>
			</p>
		</div>
	</div>
</div>

<div class="detail">
	<div class="am-g am-container">
		<div class="am-u-lg-12">
			<h2 class="detail-h2">1000 起投 、10 倍杠杆，期待和你一起去赚钱!</h2>

			<div class="am-g">
				<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">

					<h3 class="detail-h3">
						<i class="am-icon-flash am-icon-sm"></i>
                        充值即可操盘
					</h3>

					<p class="detail-p">
                    充值后即可获得10倍操盘资金，使用网站账户登录操盘客户端就可以进行交易
					</p>
				</div>
				<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
					<h3 class="detail-h3">
						<i class="am-icon-bank am-icon-sm"></i>
						盈利随时提取
					</h3>

					<p class="detail-p">
                    盈利10倍放大，您在持有股票的同时，随时提取盈利
					</p>
				</div>
				<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
					<h3 class="detail-h3">
						<i class="am-icon-clock-o am-icon-sm"></i>
                        资金自动延期
					</h3>

					<p class="detail-p">
                    只要您不结束操盘且没有触及止损线，操盘时间完全由您掌控
					</p>
				</div>
				<div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
					<h3 class="detail-h3">
						<i class="am-icon-diamond am-icon-sm"></i>
						专业操盘体验
					</h3>

					<p class="detail-p">
                    在证券交易软件上长达19年的积累，为您提供最熟悉，最专业的操盘体验
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="hope">
	<div class="am-g am-container">
		<div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img">
			<img src="/images/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
			<hr class="am-article-divider am-show-sm-only hope-hr">
		</div>
		<div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
			<h2 class="hope-title">同我们一起打造你的财富人生</h2>

			<p>
            已有 <strong class="am-text-danger am-text-xxl">12345 </strong> 位操盘手，在牛金网操盘<strong class="am-text-danger am-text-xxl"> 88,888,888 </strong>元
			</p>
		</div>
	</div>
</div>

<hr>
<!--
<div class="about">
	<div class="am-g am-container">
		<div class="am-u-lg-12">
			<h2 class="about-title about-color">一步急速操盘、尽在牛金网， 非常欢迎大家的参与</h2>

			<div class="am-g">
				<div class="am-u-lg-6 am-u-md-4 am-u-sm-12">
					<form class="am-form">
						<label for="name" class="about-color">你的姓名</label>
						<input id="name" type="text">
						<br/>
						<label for="email" class="about-color">你的邮箱</label>
						<input id="email" type="email">
						<br/>
						<label for="message" class="about-color">你的简历</label>
						<textarea id="message"></textarea>
						<br/>
						<button type="submit" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-check"></i> 加入我们</button>
					</form>
					<hr class="am-article-divider am-show-sm-only">
				</div>

				<div class="am-u-lg-6 am-u-md-8 am-u-sm-12">
					<h4 class="about-color">关于我们</h4>

					<p>牛金网是行业新秀，将致力于中国互联网金融的发展，
					专注于互联网金融产品的开发。在这样一个伟大的变革时代，证券及金融IT行业发展前景无限，牛金网将逐步扩大客户对象和业务范围，完善公司各项流程和提系建设，为公司未来的快速发展提供强有力的平台支撑。在未来牛金网将秉承“客户第一，市场导向”的理念，以“激情，信心，耐心，责任心”向着领先的互联网金融服务提供商的目标迈进。</p>
					<h4 class="about-color">团队介绍</h4>

					<p>牛金网 获得了XX创投孵化器的支持，其领先科技已得到全球多家企业及机构的认可与信赖，客户包括全球500强企业、美国政府、国内政府机关、国内外上市公司、以及互联网金融标准化组织。</p>
				</div>
			</div>
		</div>
	</div>
</div>
-->
