<div class="header login-header">
    <div class="am-g">
        <h1 class="am-text-success">服务器出错了</h1>
    </div>
    <hr />
    <div class="am-g">
        <p>我们的工程师正在处理这个问题，请您耐心等待！</p>
        <div class="am-u-sm-12 am-text-center">
            <p>客服热线:</p>
            <h4 class="about-color">400-692-1388</h4>
        </div>
        <a href="/" class="am-btn am-btn-primary am-btn-lg">返回主页</a>
    </div>
    <hr>
</div>
