body{
	background: #fafafa;
}

.Top{
	border-bottom: 1px solid #c82217;
}

.header{
	border-bottom: 1px solid #e0e0e0;
}

/*左侧菜单*/
.LeftMenu{
	width: 198px;
	background: #fff;
	border: 1px solid #e0e0e0;
}
.paddTop30{
	padding-top: 30px;
}

.LeftMenu li{
	line-height: 40px;
	text-indent: 50px;
	
	font-weight: bold;
}
.LeftMenu li:hover{background-color: #f5f5f5;}
.LeftMenu li.select{
	background-color: #e23024;
}
.LeftMenu li.select a.LiIcon01{
	color: #fff;
	background-position: 15px -107px;
}
.LeftMenu li.select a.LiIcon02{
	color: #fff;
	background-position: 15px -147px;
}
.LeftMenu li.select a.LiIcon03{
	color: #fff;
	background-position: 15px -186px;
}
.aboutLeft li.select a.LiIcon01{
	color: #fff;
	background-position: 15px -114px;
}
.aboutLeft li.select a.LiIcon02{
	color: #fff;
	background-position: 15px -153px;
}
.aboutLeft li.select a.LiIcon03{
	color: #fff;
	background-position: 15px -193px;
}

.LeftMenu li a{
	display: block;
	color: #666666;
	background-image: url(../images/img16.png);
	background-repeat: no-repeat;
}
.aboutLeft li a{
	background-image: url(../images/img22.png);
}
.LeftMenu li a.LiIcon01{
	background-position: 15px 10px;
}
.LeftMenu li a.LiIcon02{
	background-position: 15px -30px;
}
.LeftMenu li a.LiIcon03{
	background-position: 15px -70px;
}


/*右侧*/
.RightMain{
	width: 770px;
}


.moneyBox{
	margin-top: 20px;
	height: 200px;
	border-bottom: 1px solid #e0e0e0;
}

.moneyBoxLeft{
	width: 450px;
	border-right: 1px solid #e0e0e0;
	height: 161px;
	padding-left: 25px;
	
}


.moneyBoxLeft p.p01{
	height: 28px;
	line-height: 28px;
}
.moneyBoxLeft p.p02{
	height: 55px;
	line-height: 55px;
}
.moneyBoxLeft p.p02 span{
	font-size: 28px;
}
.moneyBoxLeft p.p03{
	height: 30px;
	line-height: 30px;
	color: #999999;
}
.moneyBoxLeft p.p03 span{
	font-size: 16px;
}
.moneyBoxLeft p.p04,.moneyBoxRight p.p04{
	margin-top: 15px;
}
.color_f2991b{
	color: #F2991B;
}
/*按钮*/
.btn01{
	width: 100px;
	height: 40px;
	background: #f2991b;
	color: #fff;
	text-align: center;
	line-height: 40px;
	display: block;
	float: left;
	border-radius: 5px;
}

.btn02{
	width: 98px;
	height: 38px;
	background: #fff;
	border: 1px solid #f2991b;
	color: #f2991b;
	text-align: center;
	line-height: 38px;
	display: block;
	float: left;
	border-radius: 5px;
}
.btn03{
	width: 100px;
	height: 40px;
	background: #e23024;
	color: #fff;
	text-align: center;
	line-height: 40px;
	display: block;
	float: left;
	border-radius: 5px;
}

.moneyBoxRight{
	width: 269px;
	padding-left: 25px;
}

.moneyBoxRight p.p01{
	height: 28px;
	line-height: 28px;
}
.moneyBoxRight p.p02{
	height: 55px;
	line-height: 55px;
}
.moneyBoxRight p.p02 span{
	font-size: 28px;
}
.moneyBoxRight p.p03{
	height: 30px;
	line-height: 30px;
	color: #999999;
}

.tableMenu{
	height: 44px;
	line-height: 44px;
	border-bottom: 2px solid #e0e0e0;
	margin-top: 35px;
	position: relative;
}

.tableMenu ul{
	position: absolute;
	left: 0;
	height: 44px;
	top: 0;
}
.tableMenu ul li{
	float: left;
	color: #666666;
	font-weight: bold;
	padding: 0 15px;
	cursor: pointer;
}
.tableMenu ul li:hover{
	color: #e23024;
}
.tableMenu ul li.select{
	border-bottom: 2px solid #e23024;
	color: #e23024;
}

.tableMenu a.a01{
	display: block;	
	float: right;
	width: 21px;
	height: 20px;
	background: url(../images/img17.png) no-repeat;
	margin-top: 12px;
}


.searchBox{
	width: 230px;
	height: 30px;
	border: 1px solid #999999;
	border-radius: 5px;
	margin:5px 10px 0 0;
	background: #fff;
}

.searchInputText{
	display: block;
	float: left;
	width: 180px;
	height: 30px;
	border: none;
	background: none;
	font-size: 12px;
	text-indent: 5px;
}

.searchBtn{
	height: 30px;
	border: none;
	border-radius: 5px;
	width: 50px;
	font-size: 12px;
	color: #666666;
	background: #e0e0e0;
	display: block;
	cursor: pointer;
	float: left;
}


.tableBox{height: 365px;}
.tableBox table{
	width: 100%;
	text-align: center;
	color: #666666;
}
.tableBox th{
	background: #f5f5f5;
	height: 40px;
	line-height: 40px;
}
.tableBox td{
	height: 40px;
	line-height: 40px;
}

.tablePageBox{
	height: 30px;
	margin-top: 30px;
	line-height: 30px;
}
.tablePage{
	border: 1px solid #e0e0e0;
	border-right: none;
	background: #fff;
	border-radius: 5px;
	
}

.tablePage a{
	color: #666666;
	display: block;
	float: left;
	border-right: 1px solid #e0e0e0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.tablePage span{
	color: #666666;
	display: block;
	float: left;
	border-right: 1px solid #e0e0e0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #e0e0e0;
}

.pageInputText{
	display: block;
	width: 28px;
	height: 28px;
	float: right;
	text-align: center;
	line-height: 28px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
}

.pageBtn{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	text-align: center;
	border: none;
	background: #e0e0e0;
	border-radius: 5px;
	cursor: pointer;
}

/*免费体验*/

.freeTitle{
	height: 100px;
	line-height: 90px;
	font-size: 18px;
	color: #999999;
	padding-left: 15px;
}
.freeTitle span{
	font-size: 40px;
	color: #e23024;
	font-weight: bold;
}
.freeTitle a{
	display: block;
	float: right;
	font-size: 14px;
}
.freeTitle2{
	font-size: 48px;
	text-align: center;
	color: #e23024;
	font-weight: bold;
	height: 110px;
	line-height: 110px;
	margin-top: 20px;
}

.column{
	position: relative;
	height: 55px;
	line-height: 55px;
	border-bottom: 4px solid #999999;
	text-align: center;
}
.num01{
	height: 55px;
	border-bottom: 4px solid #e23024;
	font-size: 22px;
	color: #c82217;
	width: 33.3%;
}
.num02{
	height: 55px;
	font-size: 22px;
	width: 33.3%;
}

.numSpan{
	background: url(../images/img03.png) no-repeat -47px 0 ;
	padding: 3px 11px;
	color: #fff;
	font-size: 18px;
}
.numSpan2{
	background: url(../images/img03.png) no-repeat -6px 0 ;
	padding: 3px 11px;
	color: #fff;
	font-size: 18px;
}


.freeImg{
	height: 280px;
	background: url(../images/img18.png) no-repeat;
	width: 802px;
	margin: auto;
}


.freeImg p{
	display: block;
	float: left;
	width: 175px;
	text-align: center;
	margin-right: 34px;
	margin-top: 180px;
	font-size: 18px;
}
.freeImg p.p01{
	margin-right: 0;
}


.freeBtn01{
	
	display: block;
	margin: auto;
	border-radius: 5px;
	width: 580px;
	height: 90px;
	text-align: center;
	background: #e23024;
	font-size: 18px;
	margin-top: 20px;
	color: #fff;
}
.freeBtn01 span{
	font-weight: bold;
	display: block;
	font-size: 36px;
	padding-top: 5px;
}
.freeBtn01:hover{ text-decoration: none;background: #d52a1f;}
.freeP01{
	text-align: center;
	font-size: 18px;
	color: #999999;
	line-height: 40px;
}
.freeText{
	border-top: 1px solid #e0e0e0;
	text-align: center;
	line-height: 30px;
	padding-top: 10px;
	margin-top: 60px;
}

.freeContent{
	width: 500px;
	margin: auto;
}


.freeContent_p01{
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	padding-left: 40px;
}


.freeContent_p02{
	text-align: center;
	font-size: 36px;
	height: 70px;
	line-height: 70px;
}

.freeContent_p02 span.span01{
	color: #e23024;
	font-size: 48px;
}
.freeUserInfo{
	height: 70px;
	background: #f5f5f5;
	margin-top: 10px;
	padding-left: 30px;
	line-height: 30px;
	padding-top: 10px;
	position: relative;
}
.freeUserInfo a{
	display: block;
	position: absolute;
	right: 25px;
	bottom: 10px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #f2991b;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #f2991b;
}


.freeText2{
	text-align: center;
	height: 85px;
	
	line-height: 30px;
	padding-top: 20px;
}

.icon01{
	background: url(../images/img03.png) no-repeat -10px -217px;
	padding:1px 10px;
}

.freeDownloadBox{
	height: 180px;
	border: 1px solid #e0e0e0;
	border-left: none;
	border-right: none;
	
}

.freeDownloadBox{
	
}
.freeDownloadBox p.p01{
	height: 46px;
	line-height: 46px;
}

.freeDownloadBox a{
	width: 158px;
	height: 48px;
	line-height: 48px;
	border: 1px solid #999999;
	background: #fff;
	display: block;
	float: left;
	text-indent: 60px;
	margin-right: 10px;
	border-radius: 5px;
	position: relative;
}
.freeDownloadBox a.a01{
	margin-right: 0;
}
.icon{
	position: absolute;
	left: 10px;
	top: 10px;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/img03.png) no-repeat ;
}
.icon02{
	background-position: -10px -176px;
}
.icon03{
	background-position: -50px -177px;
}
.icon04{
	background-position: -87px -176px;
}


.freeDownloadBox p.p02{
	font-size: 12px;
	text-align: center;
	color: #999999;
	line-height: 30px;
	margin-top: 10px;
}

/*我要操盘*/


.applyContentBox{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
	
}
.applyTitle{
	width: 265px;
	text-align: right;
}
.applyContent{
	padding-left: 40px;
	font-size: 18px;
}

.applyContent span.span01{
	font-size: 24px;
}
.applyContent span.span02{
	color: #e23024;
	font-size: 24px;
}
.applyContent div.span03{
	width: 320px;
	margin: 5px 0 0 55px;
	font-size: 12px;
	color: #999999;
	line-height: 18px;
}

.applyContentBox2{
	height: 50px;
	line-height: 50px;
	padding-left: 300px;
}

.applyBtn01{
	width: 98px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border: 1px solid #f2991b;
	color: #f2991b;
	background: #fff;
	border-radius: 5px;
	display: block;
	float: left;
	margin: 10px 0 0 25px;
}
.applyBtnBox{
	padding-left: 300px;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
}
.applyBtnBox a.freeBtn01{
	margin: 0;
	float: left;
	margin-right: 20px;
}

.PopupBox{
	width: 500px;
	height: 280px;
	background: #f5f5f5;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -140px 0 0 -250px;
}

.icon07{
	background: url(../images/img03.png) no-repeat -41px -217px;
	padding:1px 11px;
}
.PopupBox p.p01{
	padding-left: 80px;
	font-size: 16px;
	color: #da8a17;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
}
.PopupBox p.p02{
	padding-left: 80px;
	height: 30px;
	line-height: 30px;
}


.applyBtnBox2{
	height: 50px;
	line-height: 50px;
	padding-left: 80px;
	margin-top: 30px;
}
.applyBtnBox2 a.applyBtn02{
	display: block;
	float: left;
	width: 160px;
	height: 50px;
	text-align: center;
	color: #fff;
	background: #e23024;
	border-radius: 5px;
}

.applyBtnBox2 a.applyBtn03{
	display: block;
	float: left;
	width: 158px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #333333;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #999999;
}

.PopupBox p.p03{
	text-align: right;
	padding-right: 100px;
	line-height: 30px;
	margin-top: 10px;
}


/*右侧菜单*/
.rightMenu{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e0e0e0;
}
.rightMenu li{
	padding: 0 20px;
	float: left;
}
.rightMenu li.select a{
	color: #e23024;
	font-weight: bold;
}
/*右侧菜单end*/


/*操盘详情*/
.detBox{
	width: 250px;
	line-height: 32px;
	margin-top: 65px;
}

.detBox a{
	display: block;
}
.detBox a.a01{
	font-weight: bold;
	color: #e23024;
}

.detBox a.btn04{
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #e23024;
	color: #fff;
	border-radius: 5px;
	margin: 10px 0;
}
.detBox a.btn05{
	width: 148px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background: #fff;
	color: #e23024;
	border: 1px solid #e23024;
	border-radius: 5px;
	margin: 10px 0;
}


.detTextBox{
	border-top: 1px solid #e0e0e0;
	margin-top: 25px;
	padding-top: 25px;
	padding-left: 180px;
	line-height: 32px;
}

.detTextBox a{
	font-weight: bold;
	color: #e23024;
}





/*充值*/
.recTop{
	height: 35px;
	line-height: 35px;
	text-align: right;
	padding-left: 20px;
}
.recTop a{
	display: block;
	float: right;
	color: #666666;
}
.recTop span{
	display: block;
	float: left;
	color: #666666;
}

.recMenuBox{
	height: 40px;
	line-height: 40px;
}
.recMenuBox span{
	display: block;
	float: left;
	text-align: center;
	width: 88px;
	height: 38px;
	border: 1px solid #e0e0e0;
	color: #666666;
	margin-right: 10px;
	cursor: pointer;
}
.recMenuBox span:hover{
	border: 1px  solid #e23024;
}
.recMenuBox span.select{
	border: 1px  solid #e23024;
	color: #e23024;
	font-weight: bold;
}

.recMoneyBox{
	height: 130px;
	background: #fff9f3;
	border: 1px solid #ffdfb2;
	margin-top: 40px;
}
.recMoneyLeft{
	width: 550px;
	height: 130px;
	border-right: 1px solid #ffdfb2;
}
.zfbMoneyLeft{
	height: 205px;
}
.zfbMoneyBox{
	height: 205px;
}
.recMoneyText{
	height: 40px;
	line-height: 40px;
	margin-top: 25px;
	padding-left: 30px;
}
.zfbMoneyText{
	/*margin-bottom: 20px;*/
	margin-top: 20px;
}
.recMoneyText input{
	text-indent: 5px;
	height: 38px;
	background: #fff;
	border: 1px solid #999999;
	width: 298px;
	border-radius: 5px;
}
.recMoneyText input.zfbMoneyInputText{
	width: 219px;
	border-right: 0;
	border-radius: 5px  0 0 5px ;
}
.zfbImg{
	width: 77px;
	height: 38px;
	background: url(../images/img26.jpg) no-repeat;
	border: 1px solid #999999;
	border-left: none;
	border-radius:0 5px 5px 0 ;
}
.recMoneyLeft p.p01{
	color: #e23024;
	font-size: 12px;
	margin-top: 40px;
}
.zfbMoneyLeft p.p01{
	margin-top: 10px;
	height: 35px;
	line-height: 35px;
}
.zfbMoneyLeft p.p02{
	color: #999999;
	font-size: 12px;
	padding-left: 115px;
	line-height: 30px;
}

.zfbBox{
	height:350px;
	margin-top: 20px;
	background: #fff9f3;
	border: 1px solid #ffdfb2;
}

.zfbLeft{
	width: 385px;
}
.zfbText{
	height: 92px;
	border-right: 1px solid #ffdfb2;
	margin-top: 30px;
	padding-left: 35px;
	line-height: 30px;
	padding-top: 10px;
}
.zfbText p span{
	font-size: 18px;
}
.zfbText p span span{
	font-size: 28px;
	font-weight: bold;
}

.zfbText2{
	padding-top: 20px;
	line-height: 25px;
	text-align: center;
}
.zfbText2 img{
	margin-top: 10px;
}


.zfbRight{
	width: 380px;
}
.zfbText3{
	border: none;
}
.zfbText3 em.em01{
	background: #e23024;
	padding: 3px 10px;
	color: #fff;
	border-radius: 2px;
}
.zfbText2 img.img01{
	border: 1px solid #999999;
	border-radius: 5px;
	margin-top: 40px;
}











.recMoneyRight{
	width: 215px;
}

.recMoneyRight p.p01{
	margin-top: 10px;
	line-height: 30px;
	padding-left: 15px;
}
.recMoneyRight p.p02{
	line-height: 30px;
	padding-left: 15px;
	color: #f2991b;
	font-size: 18px;
}
.recMoneyRight p.p02 span{
	font-size: 28px;
}
.recMoneyRight p.p03{
	color: #999999;
	margin-top: 30px;
	padding-left: 5px;
	font-size: 12px;
}
.recP02{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-weight: bold;
}

.yhList{
	padding-left: 35px;
}
.yhList li{
	display: block;
	float: left;
	width: 208px;
	height: 40px;
	margin-bottom: 15px;
}
.yhList input{
	display: block;
	float: left;
	margin: 13px 5px 0 0;
	cursor: pointer;
}
.yhList li span{
	display: block;
	float: left;
	border: 1px solid #d50202;
	cursor: pointer;
}
.yhList li img{
	display: block;
}
.recP03{
	font-size: 12px;
	margin-top: 15px;
	padding-left: 50px;
}

.recBtn01{
	width: 150px;
	height: 50px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 5px;
	display: block;
	background: #e23024;
	margin-left: 50px;
	margin-top: 15px;
}



.recYhLeft{
	width: 160px;
	padding-left: 25px;
}
.recYhLeft p.p02{
	line-height: 40px;
	margin-top: 10px;
	color: #e23024;
}
.recYhLeft img{
	border: 1px solid #999999;
	display: block;
	width: 135px;
}
.recText{
	width: 340px;
	padding-top: 15px;
}

.recText p.p03{
	height: 30px;
	line-height:30px;
	margin-bottom: 5px;
}

.recMoneyRight p.p04{
	text-align: center;
	color: #666666;
	font-size: 12px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
}

.recBtn02{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #f2991b;
	color: #f2991b;
	display: block;
	margin: auto;
	border-radius: 5px;
}




/*提现*/

.witBox{
	margin-top: 40px;
}
.witLeft{
	width: 100px;
	text-align: right;
	line-height: 48px;
}

.witRight{
	width: 640px;
}
.witContent{
	height: 48px;
	
	line-height: 48px;
	border: 1px solid #999999;
	border-radius: 5px;
	margin-bottom: 20px;
}
.witRight div.select{
	height: 48px;
	line-height: 48px;
	background: #fff9f3;
	border: 1px solid #ffdfb2;
	border-radius: 5px;
	margin-bottom: 20px;
}
.witContent input{
	display: block;
	float: left;
	margin: 20px 0px 0 20px;
	cursor: pointer;
}
.witContent span{
	display: block;	
	float: left;
	width: 140px;
	line-height: 48px;
	overflow: hidden;
	padding-top: 5px;
	cursor: pointer;
}
.witContent img{
}
.witContent a{
	display: block;
	float: left;
}
.witText01{
	cursor: pointer;
	width: 250px;
}
.witText02{
	cursor: pointer;
	width: 140px;
}

.witContent2{
	height: 48px;
	line-height: 48px;
	border: 1px solid #999999;
	border-radius: 5px;
	text-align: center;
	display: block;
}
.witContent2:hover{
	text-decoration: none;
	background: #f1f1f1;
}

.witContent2 span.witIcon{
	background: url(../images/img03.png) no-repeat -72px -217px;
	padding:0px 8px
}

.witBoxw2{
	height: 40px;
	line-height: 40px;
	margin-top: 40px;
}
.witLeft2{
	color: #333333;
	font-weight: bold;
	text-align: right;
	width: 100px;
}
.witContent3{}
.witContent3 input{
	width: 298px;
	height: 38px;
	text-indent: 5px;
	border: 1px solid #999999;
	border-radius: 5px;
}


.withBtn01{
	margin: 30px 0 0 100px;
}

.column5{
	height: 65px;
	line-height: 65px;
	text-align: right;
	border-bottom: 1px solid #e0e0e0;
}
.witText03{
	margin-top: 25px;
	padding-left: 30px;
}
.witText03 p.p01{
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	color: #e23024;
}
.witText03 p.p02{
	line-height: 22px;
	margin-bottom: 10px;
	font-size: 12px;
}




/*资金流水*/
.ordhBox{
	width: 170px;
	height: 30px;
	border: 1px solid #999999;
	border-radius: 5px;
	margin:5px 0 0 0;
	background: #fff;
}

.ordInputText{
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	border: none;
	background: none;
	font-size: 12px;
	text-indent: 5px;
}


/*我的银行卡*/

.carBox{
	width: auto;
}

.carText01{
	cursor: pointer;
	width: 295px;
}

.carText02{
	cursor: pointer;
	width: 215px;
}

.carFormBox{
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}

.cartTitle{
	width: 250px;
	text-align: right;
}

.cartFomeContent{
	
}
.inputText{
	width: 298px;
	height: 38px;
	border:1px solid #999999;
	border-radius: 5px;
	text-indent: 5px;
}

.inputSelect{
	width: 298px;
	height: 38px;
	line-height: 38px;
	border:1px solid #999999;
	border-radius: 5px;
}

.inputSelect2{
	width: 138px;
	height: 38px;
	line-height: 38px;
	border:1px solid #999999;
	border-radius: 5px;
}
.carbtn02{
	display: block;
	float: left;
	width: 98px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	border: 1px solid #f2991b;
	color: #f2991b;
	font-weight: bold;
	border-radius: 5px;
}
.inputYzm{
	width: 198px;
	border-radius: 0 5px 5px 0 ;
	border-left: none;
	display: block;
	float: left;
}

.carBtn01{
	margin: auto;
}

/*我的账户*/

.userBox{
	height: 165px;
	border-bottom: 1px solid #e0e0e0;
	margin-top: 30px;
}

.userLeft{
	width: 420px;
	padding-left: 20px;
}
.userContent{
	height: 110px;
}

.userHeadImg{
	width: 110px;
	height: 110px;
	background: url(../images/img19.gif) no-repeat;
}

.userNameBox{
	width: 260px;
	padding-left: 15px;
}

.userNameBox p.p01{
	font-size: 24px;
	padding-top: 20px;
	height: 40px;
	line-height: 40px;
}
p.userP01{
	padding-left: 40px;
	height: 40px;
	line-height: 40px;
}


.userRIght{
	width: 330px;
	padding-top: 20px;
}

.userRIght p.p01{
	line-height: 36px;
	height: 36px;
}

.userRIght p.p01 span.span01{
	font-size: 28px;
}
.userRIght p.p01 span.span02{
	font-size: 18px;
}
.userJDt{
	height: 20px;
	background: #666666;
	width: 300px;
}
.userJDt2{
	height: 20px;
	background: #e23024;
	width: 150px;
}

.usetTextBox{
	height: 100px;
	border-bottom: 1px solid #e0e0e0;
}

.userText{
	width: 33.3%;
}

.userText p.p01{
	padding-left: 30px;
	height: 25px;
	line-height: 25px;
	color: #666666;
	margin-top: 20px;
}

.userText p.p02{
	padding-left: 30px;
	height: 40px;
	line-height: 40px;
	color: #e23024;
	font-size: 18px;
}
.userText p.p02 span{
	font-size: 28px;
}
.userTable{
	padding-top: 20px;
}
.userTable table{
	width: 100%;
}
.userTable table td{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e0e0e0;
	color: #999999;
}

.userTable span.span01{
	background: url(../images/img20.png) no-repeat;
	padding-left: 35px;
	margin-left: 20px;
	color: #333333;
	display: block;
	height: 50px;
}
.userTable a{
	color: #e23024;
}

.userTable span.spanIcon01{
	background-position: 0 17px;
}
.userTable span.spanIcon02{
	background-position: 0 -28px;
}
.userTable span.spanIcon03{
	background-position: 0 -78px;
}
.userTable span.spanIcon04{
	background-position: 0 -127px;
}
.userTable span.spanIcon05{
	background-position: 0 -177px;
}






/*身份认证*/

.ideBox{
	width: 400px;
	margin: auto;
	margin-top: 50px;
}
.ideBox p.p01{
	height: 55px;
	line-height: 55px;
}
.ideBox p.p02{
	color: #e23024;
	text-align: center;
}
.inputText2{
	display: block;
	width: 398px;
	height: 40px;
	border: 1px solid #999999;
	border-radius: 5px;
	background: #fff;
	text-indent: 5px;
	line-height: 40px;
	margin-bottom: 20px;
}

.ideBtn01{
	height: 50px;
	line-height: 50px;
	background: #e23024;
	text-align: center;
	color: #fff;
	font-weight: bold;
	display: block;
	border-radius: 5px;
	margin-top: 10px;
}

/*绑定手机*/

.phoText{
	height: 100px;
	padding-left: 25px;
	padding-top: 30px;
	border-bottom: 1px solid #e0e0e0;
}


.phoText p{
	height: 45px;
	line-height: 45px;
}
.inputYzmWith{
	width: 299px;
}
.inputYzmWith2{
	width: 267px;
}
.inputBox{
	margin-bottom: 20px;
}
.emlYzm{
	width: 130px;
}




/*邮箱验证*/

.emBox{
	padding-top: 30px;
	height: 100px;
	padding-left: 20px;
	border-bottom: 1px solid #e0e0e0;
}

.emBox p.p01{
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
}
.emBox p.p02{
	display: block;
	float: right;
	color: #999999;
	height: 45px;
	line-height: 45px;
}



.ewmBox2{
	background: #f5f5f5;
	height: 320px;
	border: 1px solid #e0e0e0;
	margin-top: 20px;
}
.emlImg{
	width: 100px;
	background: url(../images/img21.png) no-repeat 44px 44px;
	height: 100px;
}
.emText{
	width: 650px;
	padding-top: 30px;
}
.emText p{
	height: 36px;
	line-height: 36px;
}
.emBtn01{
	margin-left: 0;
}
.emText p.p02{
	height: 25px;
	line-height: 25px;
	padding-top: 20px;
	color: #666666;
}



/*帮助中心*/

.helBox{
	line-height: 30px;
	color: #666666;
	padding: 40px 30px 0 20px;
}

.PartnersList{
	padding-left: 130px;
}
.PartnersBox{
	width: 250px;
	height: 90px;
}

.helBox h1{
	text-align: center;
	font-size: 30px;
	height: 50px;
}
.helBox h2{
	text-align: center;
	font-size: 18px;
	height: 30px;
	margin-bottom: 30px;
}

.helTextBox{
	/*height: 66px;*/
	border-top: 1px solid #e0e0e0;
	padding: 0 20px;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
}
.helTextBox span.span01{
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(../images/img23.png) no-repeat right center;
	padding-right: 15px;
	cursor: pointer;
}
.helTextBox span.span01:hover{
	text-decoration: underline;
}

.helTextBox p.p01{
	line-height: 32px;
	height: 32px;
}
.helTextBox p.p02{
	line-height: 20px;
	height: 20px;
	color: #e23024;
	margin-bottom: 10px;
}
.helTextBox p.p03{
	display: none;
}




/*注册*/
.reg div.cartTitle{
	width: 400px;
}
.regBtnBox{
	border-top: 1px solid #e0e0e0;
	padding-top: 15px;
}
.RegBtn01{
	width: 400px;
	margin: auto;
	font-size: 16px;
}




/*404*/

.slsBox{
	width: 331px;
	height: 271px;
	background: url(../images/404.png) no-repeat;
	margin: auto;
	text-align: center;
	margin-top: 70px;
}

.slsBox p{
	padding-top: 200px;
	color: #0091e4;

}
.slsBox a{color: #0091e4;}





