/*
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 25px;
	color: #fff;
	background-color: #121212;
}

footer p {
	margin: 0;
}
*/

.login-elem a {
	color: #fff;
}

.get {
	background: #1E5B94;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}

.get-title {
	font-size: 200%;
	border: 2px solid #fff;
	padding: 20px;
	display: inline-block;
}

.get-btn {
	background: #fff;
}

.detail {
	padding-top: 4rem;
	background: #fff;
}

.detail-h2 {
	text-align: center;
	font-size: 150%;
	margin: 40px 0;
}

.detail-h3 {
	color: #D83733;
}

.detail-p {
	color: #7f8c8d;
}

.detail-mb {
	margin-bottom: 30px;
}

.hope {
	background: #0bb59b;
	padding: 50px 0;
}

.hope-img {
	text-align: center;
}

.hope-hr {
	border-color: #149C88;
}

.hope-title {
	font-size: 140%;
}

.about {
	background: #fff;
	padding: 40px 0;
	color: #7f8c8d;
}

.about-color {
	color: #34495e;
}

.about-title {
	font-size: 180%;
	padding: 30px 0 50px 0;
	text-align: center;
}

.footer {
	color: #7f8c8d;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	background: #2d3e50;
}

.login-header {
	text-align: center;
}

.login-header h1 {
	font-size: 200%;
	color: #333;
	margin-top: 30px;
}

.login-header p {
	font-size: 14px;
}

.toast-top-right {
    top: 70px;
}
.toast-success {
    background-color: #13987e;
}

div .card {
    cursor: pointer;
}

div .active {
    background: #FFC url(/images/check.png) right bottom no-repeat;
}

.apply li a {
    border-radius: 5px;
    border: 1px solid #dedede;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    height: 80px;
    width: 110px;
    color: #777;
    font-size: 16px;
}

.apply li a span {
    border-radius: 5px;
    display: block;
    color: #444;
    font-size: 20px;
    margin-bottom: 5px;
}

.apply li .selected {
    border-radius: 5px;
    display: inline-block;
    background-color: #CF1B14;
    height: 80px;
    width: 110px;
    border: 1px #dedede solid;
    color: #ffffff;
}

/*
.apply li a:link {
    text-decoration: none;
}

.apply li a:visited {
    text-decoration: none;
}

.apply li a:active {
    text-decoration: none;
}
*/

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.apply li .selected span {
    border-radius: 5px;
    display: block;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

.apply li a:hover {
    border-radius: 5px;
    padding-top: 10px;
    display: inline-block;
    height: 80px;
    width: 110px;
    border: 1px #dedede solid;
    text-decoration: none;
}


.apply .day li a {
    border-radius: 5px;
    border: 1px solid #dedede;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 110px;
    color: #777;
    font-size: 12px;
}

.apply .day li a span {
    border-radius: 5px;
    display: block;
    color: #444;
    font-size: 16px;
    margin-bottom: 5px;
}

.apply .day li .selected {
    border-radius: 5px;
    display: inline-block;
    background-color: #CF1B14;
    height: 50px;
    width: 110px;
    border: 1px #dedede solid;
    color: #ffffff;
}

.apply .day li a:link {
    text-decoration: none;
}

.apply .day li a:visited {
    text-decoration: none;
}

.apply .day li a:active {
    text-decoration: none;
}

.apply .day li .selected span {
    border-radius: 5px;
    display: block;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
}

.apply .day li a:hover {
    border-radius: 5px;
    padding-top: 10px;
    display: inline-block;
    height: 50px;
    width: 110px;
    border: 1px #dedede solid;
    text-decoration: none;
}

.money_showtab {
    border-radius: 5px;
    margin-top: 8px;
    font-family: "Microsoft Yahei";
    min-height: 10px;
    height: auto;
    display: table;
    border: 1px #CF1B14 solid;
    background-color: #FFFDEF;
    padding: 15px;
}

.mstit {
    font-weight: bold;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    height: 40px;
    color: #666666;
}

.apply ul li {
    list-style: none;
}

.apply .money_js {
    line-height: 200%;
    text-align: right;
    font-family: "Microsoft Yahei";
    color: #444;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #ECE9E9 solid;
}

.apply .money_js span {
    color: #c10000;
    font-size: 20px;
}

.apply .money_je {
    line-height: 200%;
    text-align: right;
    font-family: "Microsoft Yahei";
    color: #444;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 32px;
}

.apply .money_je span {
    color: #c10000;
    font-size: 30px;
}

.apply form {
    text-align: right;
}

.confirm-apply p {
    display: inline;
}

.confirm-apply {
    border-radius: 5px;
    border: 1px solid #CF1B14;
    padding: 5px;
}

#apply_operation_div {
    background-color: #ffffcc;
    border: 1px solid #CF1B14;
    border-radius: 5px;
}

.apply-prompt {
    background-color: #ffffff;
}

.apply_table tr td {
    padding: 5px;
    word-break: break-all;
}

.am-topbar .am-text-ir {
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 125px;
    background: url(/images/logo+title.jpg) no-repeat left center;
    -webkit-background-size: 125px 24px;
    background-size: 125px 24px;
}
.am-active {

    border-bottom-color: #F9664B;
}


/*


.admin-sidebar {
    width: 230px;
}
footer {
    padding: 20px 0 10px;
    background: #555;
    color: #999;
}
*/

/*
.gallery-list li {
    background-color: #808080;
}
*/
