.infoBox a:hover{
    color: #c82217;
}

.limitstock {
    padding-top: 20px;
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 800;
}

.limitstock li {
    width: 130px;
    float: left;
    padding-bottom: 15px;
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
    margin-top: 10px;
    margin-right: 30px;
}

.limitstock li span {
    padding-right: 10px;
}

.freeBtn01:hover, a.carBtn01:hover {
    color: #fff;
}

.qtmoneyBox{
    height: 418px;
}

tr.even {
    background: #f5f5f5
}

a.apply-detail-link {
    cursor: pointer;
}

input.ideBtn01 {
    border: 1px solid transparent;
    -webkit-appearance: none;
    -webkit-user-select: none;
}

input#btn.ideBtn01 {
    width: 400px;
    height: 50px;
}

input.LoginBtn01{
    display: block;
    float: left;
    background: #f2991b;
    width: 150px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin-left: 20px;
    font-weight: bold;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -webkit-user-select: none;
}

.rec2_yhBox .zfbLeft {
    width: 400px;
}

.rec2_yhBox .zfbBox {
    margin-top: 0px;
}

#payConfirm {
    border: none;
    height: 220px;
}

.payConfirmLeft {
    width: 180px;
}

.payConfirmRight {
    width: 600px;
}

.payConfirmRight img {
    border: 1px solid #e6e6e6;
}

.payConfirmRight .firstLine {
    border-bottom: 1px solid #e6e6e6;
}

.payConfirmLeft .span02 {
    margin-left: 20px;
}

.payConfirmRight .span02 {
    margin-left: 50px;
}

#balanceTitle {
    margin-left: 20px;
    margin-right: 82px;
}

.payConfirmRight .rec2_btn {
    margin: 20px 0 0 0;
}

.serviceBox{
    right: 30px;
}

/* for toaster */
.toast-top-right {
    top: 70px;
}
.toast-success {
    background-color: #13987e;
}

/* override bootstrap */
.nav>li>a {
    position: static;
    display: inline;
    padding: 0px;
}

.witContent label {
    display: inline;
}

.witContent img {
    vertical-align: baseline;
}

/* override amazeui */
a {
    color: #333;
}
a:hover,
a:focus {
    color: #333;
}

*, :before, :after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

th {
    text-align: center;
}

body, input, textarea, select, button {
    text-rendering: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}

.fl label {
    display: inline;
    margin-bottom: 0px;
}

.fl input[type=checkbox] {
    margin: 0;
}

img {
    max-width: none;
}