{{#if bootstrappedUserObject}}
    <script> window.bootstrappedUserObject = {{{bootstrappedUserObject}}} </script>
{{/if}}
<div class="wrapper tar_center" ng-app="userApp" ng-controller="UserIndexCtrl as userVM" ng-cloak>
    <div class="tra_left fl">
        <ul>
            <li ng-class="{selected:data.menu === 1}" class="li01"><a href="/user/#/home">账户总览</a></li>
            <li ng-class="{selected:data.menu === 2}" class="li01"><a href="/user/#/applies">我的操盘</a></li>
            <li ng-class="{selected:data.menu === 3}"><a href="/user/#/orders" ng-mouseleave="userVM.hideSubMenu($event, 1)" ng-mouseover="userVM.showSubMenu($event, 1)">资金管理</a>
                <ul class="tar_left_menu2" ng-show="userVM.capitalSubMenu" ng-mouseenter="userVM.showSubMenu($event, 1)" ng-mouseleave="userVM.hideSubMenu($event, 1)">
                    <li><a href="/user/#/orders">资金明细</a></li>
                    <li><a href="/user/#/recharge">我要充值</a></li>
                    <li><a href="/user/#/withdraw">我要提现</a></li>
                </ul>
            </li>
            <li ng-class="{selected:data.menu === 4}" class="li01"><a href="/user/#/settings">账号设置</a></li>
            <!--
            <li ng-class="{selected:data.menu === 5}" class="li01"><a href="/user/#/promote">推广赚钱</a></li>
            <li class="li01"><a href="">消息中心</a></li>
            -->
        </ul>
    </div>
    <div ng-view></div>
    <div class="clear"></div>
</div>
<script>
</script>
