<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">实名认证</strong> / <small>为保证您的资金安全，请确保所填信息的真实性</small></div>
</div>

<div class="am-margin">
    <form class="am-form" name="identityForm">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                真实姓名
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
                <input type="text" class="am-input-sm" ng-model="identityVM.user.identity.name" required autofocus>
            </div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                身份证号码
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                <input type="text" class="am-input-sm" pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" ng-model="identityVM.user.identity.id" required>
            </div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-sm-offset-4 am-u-md-offset-2 am-u-sm-8 am-u-md-4 am-u-end col-end">
                <button type="submit" class="am-btn am-btn-default" ng-click="identityVM.submitRequest()" ng-disabled="identityForm.$invalid">提交保存</button>
            </div>
        </div>

    </form>
</div>
