{{#if bootstrappedNiujinUserID}}
    <script> window.bootstrappedNiujinUserID = {{{bootstrappedNiujinUserID}}} </script>
{{/if}}
<div class="wrapper paddTop30" ng-app="userApp" ng-controller="UserIndexCtrl as userVM" ng-cloak>
    <div class="LeftMenu fl">
        <ul>
            <li ng-class="{select:data.menu === 1}"><a href="/user#/index" class="LiIcon01 select">我的操盘</a></li>
            <li ng-class="{select:data.menu === 2}"><a href="/user#/user_capital" class="LiIcon02 ">资金管理</a></li>
            <li ng-class="{select:data.menu === 3}"><a href="/user#/user_account" class="LiIcon03">账户中心</a></li>
        </ul>
    </div>
    <div ng-view></div>
    <div class="clear"></div>
</div>
