<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">充值</strong></div>
</div>

<div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">在线支付</a></li>
        <li><a href="#tab2">银行汇款</a></li>
    </ul>

    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
            <div class="am-g am-margin-top">
                <form class="am-form" name="payForm">
                    <div class="am-g am-margin am-padding">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">当前余额</div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                            \{{mypayVM.user.finance.balance.toFixed(2)}} 元
                        </div>
                    </div>

                    <div class="am-g am-margin am-padding">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            充值金额
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                            <input type="number" class="am-input-sm" min="0.01" ng-model="mypayVM.payAmount" required autofocus>
                        </div>
                    </div>

                    <br>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-offset-4 am-u-md-offset-2 am-u-sm-8 am-u-md-4 am-u-end col-end">
                            <button type="submit" class="am-btn am-btn-primary" ng-click="mypayVM.gotoPay()" ng-disabled="payForm.$invalid">立即充值</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="am-tab-panel am-fade" id="tab2">
            <div class="am-u-sm-12 am-u-sm-centered">
                <h2>对公账号：</h2>
                <p>开户行：招商银行股份有限公司北京清华园支行</p>
                <p>账号：<b>1109 1260 9510 501</b></p>
                <p>户名：北京小牛普惠科技有限公司 </p>
                <hr/>
            </div>
            <div class="am-u-sm-8 am-u-sm-centered">
                <p class="am-article-lead am-text-warning">您可以转账到以上账户，请在转账的时候尽量带上尾数，列如1000.02元，以便我们区分， 转账完成后，请联系我们客服或财务充值。 财务专用QQ xxxxxxxx</p>
            </div>
        </div>
    </div>
</div>

<script src="{{static '/vendor/amazeui/dist/js/amazeui.js'}}"></script>
