<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">邮箱验证</strong></div>
</div>

<div class="am-margin">
    <form class="am-form" name="emailForm">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                邮箱地址
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
                <input type="email" class="am-input-sm" ng-model="emailVM.user.profile.email" required autofocus>
            </div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-sm-offset-4 am-u-md-offset-2 am-u-sm-8 am-u-md-4 am-u-end col-end">
                <button type="submit" class="am-btn am-btn-primary" ng-click="emailVM.submitRequest()" ng-disabled="emailForm.$invalid">去验证</button>
            </div>
        </div>

    </form>
</div>
