
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">提现</strong></div>
</div>

<div class="am-margin" id="accordion">
    <div class="am-panel am-panel-primary">
        <div class="am-panel-hd">
            <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#add-card'}">
                添加银行卡
            </h4>
        </div>
        <div id="add-card" class="am-panel-collapse am-collapse am-out">
            <div class="am-panel-bd">
                <form class="am-form am-form-horizontal" name="cardForm">
                    <div class="am-form-group">
                        <div class="am-u-sm-12 am-u-md-offset-2 am-u-md-8 am-u-end am-input-group am-input-group-primary">
                            <span class="am-input-group-label"><i class="am-icon-bank"></i></span>
                            <input type="text" class="am-form-field" placeholder="开户银行, 具体到支行的名称" ng-model="withdrawVM.card.bankName" required>
                        </div>
                        <!--
                        <label for="bank-name" class="am-u-sm-2 am-form-label">开户银行</label>
                        <div class="am-u-sm-6 am-u-end">
                            <input type="text" id="bank-name" placeholder="具体到支行的名称">
                        </div>
                        -->
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-12 am-u-md-offset-2 am-u-md-8 am-u-end am-input-group am-input-group-primary">
                            <span class="am-input-group-label"><i class="am-icon-credit-card"></i></span>
                            <input type="number" class="am-form-field" placeholder="输入你的银行卡号" min="15" max="19" ng-model="withdrawVM.card.cardID" required>
                        </div>
                        <!--
                        <label for="card-number" class="am-u-sm-2 am-form-label">银行卡号</label>
                        <div class="am-u-sm-6 am-u-end">
                            <input type="number" id="card-number" placeholder="输入你的银行卡号">
                        </div>
                        -->
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-12 am-u-md-offset-2 am-u-md-8 am-u-end am-input-group am-input-group-primary">
                            <span class="am-input-group-label"><i class="am-icon-user"></i></span>
                            <input type="text" class="am-form-field" placeholder="提现需要先实名认证" ng-model="withdrawVM.card.userName" disabled>
                        </div>
                        <p class="am-form-help"> 账户拥有者必须为此实名认证姓名 </p>
                        <!--
                        <label class="am-u-sm-2 am-form-label">开户人</label>
                        <div class="am-u-sm-6 am-u-end">
                            <input type="text" id="account-name" placeholder="输入你的银行卡号">
                            <p class="am-form-help"> 此项必须为此账户真实姓名 </p>
                        </div>
                        -->
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-10 am-u-sm-offset-2">
                            <button type="submit" class="am-btn am-btn-success" ng-click="withdrawVM.addCard()" ng-disabled="cardForm.$invalid">添加银行卡</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="am-margin">
    <p>选择提现银行卡</p>
</div>

<ul class="am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-margin gallery-list">
    <li ng-repeat="card in withdrawVM.cards">
        <div class="am-panel am-panel-secondary card" ng-class="{active : withdrawVM.isSelected(card)}" ng-click="withdrawVM.selectCard(card)">
            <span class="am-icon-credit-card am-icon-lg"></span>
            <br>
            <div>
                <div class="gallery-title">\{{card.bankName}}</div>
                <div class="gallery-desc">卡号：\{{card.cardID}}</div>
            </div>
        </div>
    </li>
</ul>

<div class="am-margin am-cf">

    <form class="am-form am-form-horizontal" name="withdrawForm">
        <div class="am-form-group">
            <label for="doc-ipt-3" class="am-u-sm-4 am-u-md-2 am-form-label">可提现金</label>
            <div class="am-u-sm-8 am-u-md-10">
                <label class="am-form-label">\{{withdrawVM.user.finance.balance.toFixed(2)}}</label> 元
            </div>
        </div>

        <div class="am-form-group">
            <label for="withdraw-amount" class="am-u-sm-4 am-u-md-2 am-form-label">提现金额</label>
            <div class="am-u-sm-8 am-u-md-6 am-u-end">
                <div class="am-input-group">
                    <input type="number" id="withdraw-amount" placeholder="小于等于可提现金" min="1" ng-model="withdrawVM.amount" required>
                    <span class="am-input-group-label">元</span>
                </div>
            </div>
        </div>

        <div class="am-form-group">
            <label for="withdraw-password" class="am-u-sm-4 am-u-md-2 am-form-label">提现密码</label>
            <div class="am-u-sm-8 am-u-md-6 am-u-end">
                <input type="password" id="withdraw-password" placeholder="请输入至少6位字母和数字的组合" ng-model="withdrawVM.password" required>
            </div>
        </div>

        <div class="am-form-group" ng-hide="withdrawVM.user.finance.password">
            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-md-10 am-u-md-offset-2">
                <label class="am-form-label am-text-center">您还未设置提现密码</label>
                <a href="/user#/change_finance_pass">设置提现密码</a>
            </div>
        </div>

        <div class="am-form-group" ng-hide="withdrawVM.user.identity.id">
            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-md-10 am-u-md-offset-2">
                <label class="am-form-label am-text-center">您还未实名认证</label>
                <a href="/user#/identity" class="">去实名认证</a>
            </div>
        </div>

        <div class="am-form-group" ng-show="withdrawVM.user.finance.password && withdrawVM.user.identity.id">
            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-md-10 am-u-md-offset-2">
                <button class="am-btn am-btn-warning" ng-click="withdrawVM.withdraw()" ng-disabled="withdrawForm.$invalid">
                    <i class="am-icon-shopping-cart"></i>
                    确定
                </button>
            </div>
        </div>
    </form>
</div>

