<div class="am-g am-g-fixed">
    <div class="am-u-md-9 am-u-md-push-3">
        <div class="am-g">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div class="am-cf am-article">
                    <h2>公司简介</h2>
                    <div>
                        北京不明觉厉科技有限公司，注册于2014年7月，位于北京市海淀区，注册资本500万元。
                        不明觉厉科技有限公司是一家以金融信息服务为主的互联网金融公司，目前处于创业阶段，公司员工人数20。公司年轻且充满后劲，公司核心成员包括百度前技术总监、前瑞士银行高级投行总监、前中金证券高级风控开发工程师、前Freewheel高级广告系统开发工程师。
                    </div>
                    <p>我们立志从股票配资业务出发，服务于我国广大线下配资用户和新兴无融资资格的年轻化证券用户，公司拥有一支强大的风控和客服团队，保证资金安全和服务质量。
                        公司致力于将互联网的开放、热情，与金融领域的严谨、客观进行融合，在互联网金融大航海时代，为每一位理财用户提供更丰富的优质金融服务。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-md-3 am-u-md-pull-9 my-sidebar">
        <div class="am-offcanvas" id="sidebar">
            <div class="am-offcanvas-bar">
                <ul class="am-nav">
                    <li class="am-nav-header">关于我们</li>
                    <li class="am-active"><a href="#">公司简介</a></li>
                    <li><a href="/partners">合作伙伴</a></li>
                    <li><a href="/contact">联系方式</a></li>
                    <!--
                    <li class="am-nav-header">操盘问题</li>
                    <li><a href="/guidelines">操盘流程</a></li>
                    <li><a href="/legal">法律保障</a></li>
                    <li><a href="/qanda">常见问题</a></li>
                    -->
                </ul>
            </div>
        </div>
    </div>
    <a href="#sidebar" class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas><span class="am-sr-only">侧栏导航</span></a>
</div>
