<div class="am-g am-g-fixed">
    <div class="am-u-md-9 am-u-md-push-3">
        <div class="am-g">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div class="am-cf am-article">
                    <h2>联系方式</h2>
                    <p>客服热线：4006921388 </p>
                    <p>客服邮箱：service@niujinwang.com</p>
                    <p>企业微信：</p>
                    <p>企业QQ：</p>
                    <p>公司电话：010-82525066-800</p>
                    <p>公司地址：北京市海淀区北四环西路9-1号楼银谷大厦2层216</p>
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-md-3 am-u-md-pull-9 my-sidebar">
        <div class="am-offcanvas" id="sidebar">
            <div class="am-offcanvas-bar">
                <ul class="am-nav">
                    <li class="am-nav-header">关于我们</li>
                    <li><a href="/company_intro">公司简介</a></li>
                    <li><a href="/partners">合作伙伴</a></li>
                    <li class="am-active"><a href="#">联系方式</a></li>
                    <!--
                    <li class="am-nav-header">操盘问题</li>
                    <li><a href="/guidelines">操盘流程</a></li>
                    <li><a href="/legal">法律保障</a></li>
                    <li><a href="/qanda">常见问题</a></li>
                    -->
                </ul>
            </div>
        </div>
    </div>
    <a href="#sidebar" class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas><span class="am-sr-only">侧栏导航</span></a>
</div>