<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li class="select"><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/downloads" class="LiIcon04 ">客户端下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain">
        <div class="rightMenu">
            <ul>
                <li class="select"><a href="/info/about">公司简介</a></li>
                <li><a href="/info/partners">合作伙伴</a></li>
                <li><a href="/info/contact">联系我们</a></li>
            </ul>
        </div>
        <div class="helBox">
            <p>北京不明觉厉科技有限公司，注册于2014年7月，位于北京市海淀区。</p>
            <p>不明觉厉科技有限公司是一家以金融信息服务为主的互联网金融公司，目前处于创业阶段，公司员工人数20。我们立志从股票配资业务出发，服务于我国广大线下配资用户和新兴无融资资格的年轻化证券用户，公司拥有一支强大的风控和客服团队，保证资金安全和服务质量。公司致力于将互联网的开放、热情，与金融领域的严谨、客观进行融合，在互联网金融大航海时代，为每一位理财用户提供更丰富的优质金融服务。</p>
            <br />
            <p>客服热线：<span class="fb">4006921388</span></p>
            <p>客服邮箱： <a class="fb" href="mailto:service@niujinwang.com">service@niujinwang.com</a> </p>
            <p>企业微信：<span class="fb">小牛操盘</span></p>
            <p>企业 QQ：<span class="fb">4006921388</span></p>
            <br />
            <p>公司电话：010-82525066-800</p>
            <p>公司地址：北京市海淀区北四环西路9-1号楼银谷大厦2层216</p>
        </div>

    </div>
    <div class="clear"></div>
</div>
