<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li class="select"><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/download3" class="LiIcon04 ">软件下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain">
        <div class="rightMenu">
            <ul>
                <li class="select"><a href="/info/about">公司简介</a></li>
                <li><a href="/info/partners">合作伙伴</a></li>
                <li><a href="/info/contact">联系我们</a></li>
            </ul>
        </div>
        <div class="helBox">
            <p>北京小牛普惠科技有限公司是一家以金融信息服务为主的互联网金融公司，牛金网是其旗下一家专注提供股票配资的一站式网上配资服务平台。</p>
            <p>经营团队拥有10多年金融系统、线下配资业务的丰富经验，依靠资金三方严格监管，先进的信息处理技术，共赢务实的服务理念，历经沪深数个牛熊市，我们始终专注提供一个安全、专业、高效的配资平台，得到了广大客户与合作伙伴的高度认可。</p>
            <p>如今借助蓬勃发展的移动互联网市场，牛金网致力于将互联网的开放、热情与金融领域的严谨、客观进行融合，未来我们将打造万人的风控和客服团队，立志为更多有融资融券需求的年轻的互联网用户带来极致的股票配资体验。</p>
            <br />
            <p>客服热线：<span class="fb">4006921388</span></p>
            <!--
            <p>客服邮箱： <a class="fb" href="mailto:service@niujinwang.com">service@niujinwang.com</a> </p>
            <p>企业微信：<span class="fb">小牛操盘</span></p>
            <p>企业 QQ：<span class="fb">4006921388</span></p>
            <br />
            <p>公司电话：010-82525066-800</p>
            <p>公司地址：北京市海淀区北四环西路9-1号楼银谷大厦2层216</p>
            -->
        </div>

    </div>
    <div class="clear"></div>
</div>
