<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li class="select"><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/download" class="LiIcon04 ">客户端下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain">
        <div class="rightMenu">
            <ul>
                <li><a href="/info/about">公司简介</a></li>
                <li><a href="/info/partners">合作伙伴</a></li>
                <li class="select"><a href="/info/contact">联系我们</a></li>
            </ul>
        </div>
        <div class="helBox">
            <div class="conTable">
                <table>
                    <tr>
                        <td width="340">客服热线：4006921388</td>
                        <td>公司电话：010-82525066-800</td>
                    </tr>
                    <tr>
                        <td>客服邮箱：service@niujinwang.com</td>
                        <td>公司地址：北京市海淀区北四环西路9-1号楼银谷大厦2层216</td>
                    </tr>
                    <tr>
                        <td>
                            企业微信：
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            企业  QQ：
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
