<style>
    .dn-box{}
    .dn-box h1,
    .dn-box h2,
    .dn-box h3,
    .dn-box h4{background-image:url(/images/dn_sprite_ths.png);background-repeat: no-repeat;}
    .dn-box .dn-banner{overflow:hidden;padding-top:63px;background-color:#f17d00;}
    .dn-box .dn-banner h1{width:479px;height:50px;margin:0 0 10px;background-position:0 0;}
    .dn-box .dn-banner h2{width:484px;height:28px;margin:0 0 20px;background-position:0 -59px;}
    .dn-box .dn-banner .pull-left{margin-right:40px;}
    .dn-box .pcbtn{display:block;width:304px;height:77px;margin:0 0 4px;background:url(/images/dn_btn.jpg) no-repeat;}
    .dn-box .dn-banner p{font-size:14px;color:#fff;}
    .dn-box .dn-banner a{color:#fff;}
    .dn-box h1 span,
    .dn-box h2 span,
    .dn-box h3 span,
    .dn-box h4 span,
    .dn-box .pcbtn span{visibility:hidden;}
    .dn-box .headline{overflow:hidden;}
    .dn-box .dn-4mobile{overflow:hidden;padding:0 0 60px;text-align:center;background-color:#f9f9f9;}
    .dn-mod .dn-hd{padding-top:90px;border-bottom:1px dotted #c9c9c9;}
    .dn-mod h3{height:40px;margin:0 auto 20px;}
    .dn-mod h4{height:30px;margin:0 auto 20px;}
    .dn-mod .dn-bd{padding:40px 0 0;text-align:center;}


    .dn-4mobile h3{width:400px;background-position:0 -103px;}
    .dn-4mobile h4{width:660px;background-position:0 -143px;}
    .platform-list{margin:0 0 60px;overflow:hidden;*zoom:1;}
    .platform-list li{float:left;width:360px;padding:0 60px;border-right:1px dotted #e1e1e1;}
    .platform-list .last{border-right:0;}
    .dn-4mobile .txt{font-size:20px}
    .dn-4mobile .txt a{color:#a40000;}

    .dn-partner h3{width:221px;background-position:0 -211px;}
    .dn-partner h4{width:760px;background-position:0 -255px;}
    .partner-list{padding-left:40px;overflow:hidden;*zoom:1;}
    .partner-list li{float:left;width:217px;height:100px;margin-right:10px;}
    .partner-list li a{display:block;padding:6px 0;border:1px solid #e6e6e6;background-color:#f1f1f1;}

    .dn-soft h3{width:368px;background-position:0 -318px;}
    .dn-soft h4{width:740px;background-position:0 -367px;}
</style>

<div class="dn-box">
    <div class="dn-banner">
        <div class="wrapper">
            <img class="pull-left" src="/images/dn_1_ths.png" alt="">
            <div class="headline">
                <h1><span>同花顺炒股软件</span></h1>
                <h2><span>采用上市公司《同花顺》专业股票交易软件</span></h2>
                <a class="pcbtn" href="http://download.10jqka.com.cn/index/download/id/7/"><span>立即下载 (电脑版)</span></a>
                <p>您可通过手机浏览器访问<a href="htt://m.niujinwang.com">m.niujinwang.com</a></p>
            </div>
        </div>
    </div>
    <div class="dn-4mobile">
        <div class="dn-mod wrapper">
            <div class="dn-hd">
                <h3><span>同花顺炒股软件手机客户端</span></h3>
                <h4><span>手机交易更便捷，实时关注，随时操盘，祝您轻松理财！</span></h4>
            </div>
            <div class="dn-bd">
                <!-- <ul class="platform-list">
                    <li>
                        <a href="#"><img src="images/dn_ios.jpg" alt=""></a>
                        <p>可直接在AppStore搜索homs涌金版下载</p>
                    </li>
                    <li class="last">
                        <a href="#"><img src="images/dn_android.jpg" alt=""></a>
                    </li>
                </ul> -->
                <img src="/images/dn_qr_ths.jpg" alt="">
                <p class="platform-link">
                    <a href="https://itunes.apple.com/app/apple-store/id303191318?pt=209867&ct=download10jqka&mt=8" class="ios"><img src="/images/dn_ios_ths.jpg" alt=""></a>
                    <a href="http://download.10jqka.com.cn/index/download/id/121/stat/list_sjcg/"><img src="/images/dn_android_ths.jpg" alt=""></a>
                </p>
                <p class="txt">也可以到同花顺的官网下载交易软件 <a href="http://download.10jqka.com.cn/">［下载地址］</a></p>
            </div>
        </div>
    </div>
    <div class="dn-partner">
        <div class="dn-mod wrapper">
            <div class="dn-hd">
                <h3><span>交易合作券商</span></h3>
                <h4><span>我们的交易全部通过《恒生电子交易系统》下单到以下合作券商</span></h4>
            </div>
            <div class="dn-bd">
                <ul class="partner-list">
                    <li><a href="#"><img src="/images/dn_zs_ths.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/images/dn_ht_ths.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/images/dn_gf_ths.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/images/dn_cmb_ths.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dn-soft">
        <div class="dn-mod wrapper">
            <div class="dn-hd">
                <h3><span>股票交易软件界面截图</span></h3>
                <h4><span>操作习惯同其他券商交易软件一样，让您轻松上手，极速投资！</span></h4>
            </div>
            <div class="dn-bd">
                <img src="/images/dn_2_ths.png" alt="">
            </div>
        </div>
    </div>
</div>