<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li class="select"><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/download3" class="LiIcon04 ">客户端下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain">
        <div class="rightMenu">
            <ul>
                <li><a href="/info/help">操盘问题</a></li>
                <li class="select"><a href="#">新手引导</a></li>
            </ul>
        </div>
        <div class="helBox guiBox">
            <h1>新手引导</h1>
            <p>流程一览：</p>

            <p><img src="../images/guide/img01.png"/></p>


            <p class="fb">一、	注册账户：</p>
            <p>1.使用手机号码注册，完成个人账号的建立。</p>
            <p><img src="../images/guide/img02.png"/></p>
            <p>2.登录账号：进入我的账号，点击充值即可往账户中充入余额。</p>
            <p><img src="../images/guide/img03.png"/></p>
            <p class="fb">二、 申请配资:
            <p>1.	配资：选择个人配资设置，目前牛金网可为您提供免费体验与天天牛两种配资产品。</p>
            <p><img src="../images/guide/img04.png"/></p>
            <p><img src="../images/guide/img05.png"/></p>
            <p>2.	支付：选择相应的配后，支付相应的费用，等待系统审核，审核完毕后您可以在我的账户中查看您当前的配资总额。</p>
            <p><img src="../images/guide/img06.png"/></p>
            <p class="fb">三、 股票交易:</p>
            <p>1.	下载软件：根据您的操作设备与个人习惯，您可以选择下载相应的操作软件。</p>
            <p>温馨提示：牛金网目前采用的平台是Homs涌金版。</p>
            <p><img src="../images/guide/img07.png"/></p>
            <p>2.	操盘：使用牛金网为您提供的操盘账号信息，登录Homs软件，在交易时间内选择股票，进行相应的股票买卖。附上证深证交易所交易时间一览：</p>
            <p>上证交易时间：前市：9:30～11：30。</p>
            <p>后市：13:00～15:00。</p>
            <p>深证交易时间：前市：9:30～11:30。</p>
            <p>                 后市：13:00～14：57。</p>
            <p>温馨提示：周六日为股市休市时间，请随时注意您的交易时间。</p>
            <p><img src="../images/guide/img08.png"/></p>
            <p><img src="../images/guide/img09.png"/></p>
            <p class="fb">四、 清算资产:</p>
            <p>1.	终止投资：当您在操盘平台卖出当前所持股份或者所持股票达到平仓条件，我们的客服人员将尽快向您确认信息，以便您进行下一步操作。</p>

            <p>2.	盈余结算：当您进行结算操作之后，我们将按照收费标准进行相关费用的扣取，具体收费准则请参照“帮助中心>操盘问题”。待系统核实后，我们会将您的资金返还到您的余额中，您可通过提现将您的可用资产转至您的银行卡账户中。</p>


        </div>

    </div>
    <div class="clear"></div>
</div>
