<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li class="select"><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/download3" class="LiIcon04 ">软件下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain" id="helpContent">
        <div class="rightMenu">
            <ul>
                <li class="select"><a href="#">操盘问题</a></li>
                <!--
                <li><a href="/info/guide">新手引导</a></li>
                -->
            </ul>
        </div>
        <div class="paddTop30">
            <div class="helTextBox">
                <!--
                <span class="span01">展开</span>
                -->
                <p class="p02">问：平台是否安全？</p>
                答：您好，牛金将会对您的交易信息以及个人隐私进行保密，我们将竭尽所能为您提供一个安全可靠的理财平台。
                <!--
                <p class="p03">
                </p>
                -->
            </div>
            <div class="helTextBox">
                <!--
                <span class="span01">展开</span>
                -->
                <p class="p02">问：怎么才能开始交易？</p>
                答：您可以在牛金官网上通过您的手机号注册。完成账号的设置之后，您可根据自身需求选择相应的融资，再通过下载牛金网提供的交易软件进行交易，使用平台系统为您分配的账号信息登录即可。详情操作可参照新手指引。
                <!--
                <p class="p03">
                </p>
                -->
            </div>
            <div class="helTextBox">
                <!--
                <span class="span01">展开</span>
                -->
                <p class="p02" id="operate_limitation">问：在牛金网操盘，有哪些交易限制呢？</p>
                答：目前有两类限制<br />
                股票种类限制：交易系统给出长期禁买股票范围和每日禁买股票名单。<br />
                交易时间限制：如当日为非到期日，用户实盘可委托买卖股票时间为9:30:00-15:00:00。<br />
                如当日为到期日，用户不能委托买入股票。可委托卖出股票时间为9:30:00-14:50:00。超时未卖出系统自动平仓。<br />
                <!--
                <p class="p03">
                </p>
                -->
            </div>

            <div class="helTextBox">
                <!--
                <span class="span01">展开</span>
                -->
                <p class="p02" id="operate_fee">问：操盘费用如何计算？</p>
                答：牛金网融资费用分为管理费和交易费用。<br />
                1.管理费用按照杠杆比例收取：8倍杠杆每万元29.9元/天，7倍杠杆每万元收取28.9元/天，6倍杠杆每万元27.9元/天，5倍杠杆每万元14.9元/天，4倍杠杆每万元13.9元/天，3倍杠杆每万元10.9元/天，2倍杠杆每万元9.9元/天，仅交易日进行收费，节假日不收取。<br />
                2.交易产生的印花税、过户费、佣金，直接由券商及证交所收取，具体收费比例如下：<br />
                印花税：成交金额的0.1%，卖出交易行为单向收取。<br />
                过户费：成交股数的0.06%，上证股票买入卖出双向收取，深证股票买卖不收过户费。<br />
                佣金：成交金额的0.08%，由券商收取，买入卖出双向收取，单笔委托最低5元 交易费用实际收取以交易所及券商规定为准。<br />
                如政策调整，系统将随政策变化调整交易手续费用。
                <!--
                <p class="p03">
                </p>
                -->
            </div>
            <div class="helTextBox">
                <!--
                <span class="span01">展开</span>
                -->
                <p class="p02">问：盘中止损平仓止损机制是怎样的？</p>
                答：当持仓亏损达到保证金额的40%时，您会收到警戒提醒，我们会以短信的形式发送到您的手机上，您应该尽快调整仓位或追加保证金，当持仓总亏损达到保证金额的60%时，系统将立即平仓。<br />
                <span class="fb">特别约定</span>：如果您买的股票遇到停牌或快速跌停，系统可能无法及时平仓。
                <!--
                <p class="p03">
                </p>
                -->
            </div>
            <div class="helTextBox">
                <!--
                <span class="span01">展开</span>
                -->
                <p class="p02">问："自动延期"</p>
                答：延期条件：融资时勾选了自动延期选项并且网站账户余额充足；<br />
                自动延期：满足以上条件者，系统会在融资到期前一天的17:00进行自动延期。 延期账户管理费结算：提前冻结，结算后再扣除。
            </div>
            <!--
            <div class="helTextBox">
                <span class="span01">展开</span>
                <p class="p02">问：如何只提取我的股票盈利？</p>
                答：在实盘过程中，用户可以提取盈利： 提取条件如下：<br />
                1.当前实盘操作为盈利状态； <br />
                2.提取金额=盈利金额-实盘资金*1%<br />
                例如实盘金额1万盈利500元，则可提取金额则为400元（实盘账户现金余额）。
                <p class="p03">
                </p>
            </div>
            -->
        </div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $(function () {
        $("#helpContent>div span.span01").click(function () {
            $(this).parents(".helTextBox").find("p.p03").slideToggle();
            $(this).text()=="展开"? $(this).text("收起") :  $(this).text("展开")
        })
    })
</script>
