<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li class="select"><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/download" class="LiIcon04 ">客户端下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain">
        <div class="rightMenu">
            <ul>
                <li><a href="/info/about">公司简介</a></li>
                <li class="select"><a href="/info/partners">合作伙伴</a></li>
                <li><a href="/info/contact">联系我们</a></li>
            </ul>
        </div>
        <div class="helBox">
            <div class="PartnersList">
                <div class="PartnersBox fl">
                    <a href="#"><img src="../images/img06.jpg"/></a>
                </div>
                <div class="PartnersBox fl">
                    <a href="#"><img src="../images/img07.jpg"/></a>
                </div>
                <div class="PartnersBox fl">
                    <a href="#"><img src="../images/img08.jpg"/></a>
                </div>
                <div class="PartnersBox fl">
                    <a href="#"><img src="../images/img09.jpg"/></a>
                </div>
                <div class="PartnersBox fl">
                    <a href="#"><img src="../images/img10.jpg"/></a>
                </div>
                <div class="PartnersBox fl">
                    <a href="#"><img src="../images/img11.jpg"/></a>
                </div>
                <div class="PartnersBox fl">
                    <a href="#"><img src="../images/img12.jpg"/></a>
                </div>
                <div class="PartnersBox PartnersBox2 fl">
                    <a href="#"><img src="../images/img13.jpg"/></a>
                </div>
                <div class="PartnersBox PartnersBox3 fl">
                    <a href="#"><img src="../images/img14.jpg"/></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
