<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li class="select"><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/download" class="LiIcon04 ">软件下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain">
        <div class="rightMenu">
            <ul>
                <li class="select"><a href="/info/trader_agreement">天天牛操盘协议</a></li>
                <!--
                <li><a href="/info/yyn_trader_agreement">月月牛借款协议</a></li>
                -->
                <li><a href="/info/user_agreement">用户协议 </a></li>
                <li><a href="/info/legal">法律声明</a></li>
            </ul>
        </div>
        <div class="helBox">
            <h1>天天牛操盘协议</h1>
            <p>重要提示：</p>
            <p>1、 本规则不涉及牛金网用户（“玩家”）与其他用户（“玩家”）之间因借款等而产生的法律关系及法律纠纷。</p>
            <p>2、 <span class="color_c82217">玩家参与天天牛即是对本规则的认可，请在参与前务必仔细查阅本规则。请尤其关注红字部分内容和条款。</span></p>
            <p>3、 天天牛可能不时对本规则进行更新或补正，修改后的规则对玩家有约束力。玩家应在每次申领前应仔细查阅。</p>
            <br />
            <p class="color_c82217">市场有风险，投资需谨慎！</p>
            <br />
            <p class="fb">一、关于天天牛</p>
            <p>天天牛提供实盘资金和交易通道，玩家在预付相应服务费、冻结保证金并承诺对或有操盘亏损承担保证金范围内的责任后，根据本参与规则，通过向天天牛申请可以获取相应期间最高人民币100万元实盘操作权和操盘利润所有权（操盘时系统及券商等费用由玩家自行承担）。</p>
            <br />
            <p class="fb">二、参与条件</p>
            <p>2.1  牛金网合格注册用户。</p>
            <p>2.2  有一定的风险承受能力。</p>
            <br />
            <p class="fb">三、额度</p>
            <p>3.1 操盘资金，单个实盘账户最高申领额度为人民币100万元；</p>
            <p>3.2 每位玩家最多申领5个实盘账户。</p>
            <br />
            <p class="fb">四、操盘时长和账户服务费</p>
            <p>4.1  天天牛提供不同时长如2天、5天、10天和15天（这里天指交易日，下同）等的操盘，玩家可根据自己的需求自主确定或者选择延期，但不得少于2天；</p>
            <p>4.2  <span class="color_c82217">玩家需根据自己选择的时长以及实际申领的操盘资金金额，支付相应的账户服务费</span>（本规则内又称“服务费”），并需在申请操盘时将相应天数的服务费提前预存到自己的牛金网账户内。预付的服务费将相应冻结在玩家账户内，按约定扣除，<span class="color_c82217">管理费参照下表(其中，资金倍数 = 用户申请操盘资金金额 / 用户提供的保证金金额)</span>:</p>
            <table class="am-table">
                <tbody>
                    <tr>
                        <td>资金倍数</td>
                        <td>8</td>
                        <td>7</td>
                        <td>6</td>
                        <td>5</td>
                        <td>4</td>
                        <td>3</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>管理费(每天/每万元)</td>
                        <td>29.90元</td>
                        <td>28.90元</td>
                        <td>27.90元</td>
                        <td>14.90元</td>
                        <td>13.90元</td>
                        <td>10.90元</td>
                        <td>9.90元</td>
                    </tr>
                </tbody>
            </table>
            <p>4.3 服务费在申请时一次性暂扣，将按照玩家实际的操盘天数在结算时进行收取，如有剩余将会返还账户余额。</p>
            <!--
            <p>4.4  <span class="color_c82217">除非玩家主动提前申请结算，否则，只要玩家账户内有足够的服务费和保证金，玩家实际操盘的时间系统默认每天自动延期，并扣除当天服务费。如玩家账户余额不足，系统将自动终止操盘，结算盈亏。</span></p>
            -->
            <br />
            <p class="fb">五、保证金</p>
            <p>玩家在申请操盘时需往自己的牛金网账户内预存申请操盘金额相应比例的保证金（比例参照4.2节中的资金倍数定义）。该保证金玩家同意在操盘期间冻结在玩家账户内，如发生亏损，则亏损将从保证金中自动相应扣除。</p>
            <br />
            <p class="fb">六、<span class="color_c82217">盈亏分配</span></p>
            <p>如操盘盈利，操盘所有盈利均归操盘方所有；</p>
            <p>如操盘亏损且亏损小于保证金，则从保证金中扣除对应亏损额并解冻剩余保证金；</p>
            <p>如操盘亏损且亏损大于保证金，则除保证金全额扣除外，玩家无须承担超出保证金部分的其余亏损。</p>
            <br />
            <p class="fb">七、证券操作规则</p>
            <p>7.1 交易品种</p>
            <p>沪、深A股（包括创业板）</p>
            <p>7.2 <span class="color_c82217">交易费用（包括第三方收取的费用）</span></p>
            <p>印花税：按照国家最新标准收取；</p>
            <p>过户费：按照上交所最新标准收取；</p>
            <p>手续费：主由券商收取，最高不超过0.3%，买入卖出双向收取，不足5元按5元收取。交易费用实际收取依据证监会及券商规定确定，目前为0.08%（注：单笔成交不足2万元的，实际收取的佣金可能大于0.08%）。</p>
            <p>注意：买入卖出双向收取。买入后即扣去，算入成本价内。手续费：主由券商收取，最高不超过0.3%。不足5元按5元收取。如政策调整，系统将随政策变化调整交易手续费用。</p>
            <p>如政策调整，系统将随政策变化调整交易手续费用。</p>
            <p>7.3交易时间</p>
            <p>除结算日外，玩家可交易时间为证交所规定的正常交易时间(不包括集合竞价阶段)；</p>
            <p>如当日为结算日，则玩家不能委托买入股票；可委托卖出股票时间为9:30:00-14:50:00。</p>
            <p>截止14:50尚未卖出的股票，天天牛有权按照当日市场价格卖出。</p>
            <p>7.4交易限制</p>
            <p>玩家不得买入当天禁买股，禁买股包括但不仅限于：ST、*ST、SST、*SST等被证券交易所特别处理的股票；分级基金、ETF/LOF基金、可转债等非股票类交易所上市产品；首日上市及首日恢复上市等当日无涨跌幅限制的股票；当日触及过跌停、连续跌停后首日打开跌停的股票；当日开盘后价格偏离昨日收盘价幅度曾超过8%的股票；已发布停牌、退市公告或有潜在退市风险的股票；有可能导致结算日无法正常卖出或亏损超过保证金的股票；有可能导致单个股票持仓市值占比过高的股票（不论杠杆如何，配资额度在10-50万(含10万及50万)之间创业板限仓50%，50万以上限仓33%）；其他天天牛认为风险过高的证券等。
                另外，对于不同的资金倍数(借款资金在1万元以上)，单只股票的仓位限制（下简称单票限制，其中仓位是指其在总操盘资金中的百分比），如下表：
            </p>
            <table class="am-table">
                <tbody>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资金<br>资金倍数</td>
                    <td>0到10万</td>
                    <td>10到50万（含10万）</td>
                    <td>50到100万（含50万）</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>不限</td>
                    <td>60%</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>不限</td>
                    <td>60%</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>不限</td>
                    <td>60%</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>不限</td>
                    <td>60%</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>80%</td>
                    <td>60%</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>70%</td>
                    <td>60%</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>60%</td>
                    <td>60%</td>
                    <td>50%</td>
                </tr>
                </tbody>
            </table>
            <p>7.5<span class="color_c82217">风险控制</span></p>
            <p><span class="color_c82217">1）当操盘账户亏损达到保证金的40%（预警线）时，玩家只能平仓不能建仓，并需尽快补充保证金。天天牛保留将用户仓位降低到50%以下的权利。</span></p>
            <p><span class="color_c82217">2）当操盘账户亏损达到保证金的60%（止损线）时，天天牛将可能对玩家持有的股票进行平仓处理。</span></p>
            <p>3）为避免股票被平仓处理，玩家应及时关注保证金是否充足。</p>
            <p>7.6特别约定</p>
            <p>1）系统平仓</p>
            <p>当操盘账户亏损达到保证金的60%（止损线）之后，天天牛有权对玩家持有的股票进行平仓处理</p>
            <p>由于交易所有“价格优先”规则，在交易时会发生成交价格波动情况，天天牛尽量争取但不保证平仓成交价格接近触发平仓的价格。</p>
            <p>2）结算日无法卖出</p>
            <p>如结算日玩家持有的股票跌停或停牌无法卖出，将按照突发停牌的情况处理。</p>
            <p>3）突发停牌</p>
            <p>买入股遇突发事件停牌(包括跌停)导致无法卖出， 玩家帐户的警戒线和平仓线需要按照预计亏损-30%对应提高；如玩家在当日17:00点以前提出放弃持有，将按照最新停牌价进行结算（因配股停牌的情况除外；跌停股按照最新价的70%计算）；如上市公司已公告自T+1日起开始停牌，玩家应在停牌前将所持股票清仓，否则天天牛有权在T日收盘前将该股票强制平仓，或是直到该股票复牌才进行账户结算。</p>
            <p>4）故障约定</p>
            <p>由于互联网上传输线路拥挤、服务器繁忙或其他原因，交易指令可能会出现中断、停顿、延迟、数据错误等情况，或者出现其他玩家无法进行正常交易委托的情形，在出现以上情况时，为了保证玩家顺利交易，天天牛建议玩家务必即时联系客服。</p>
            <p>5）<span class="color_c82217">极端风险</span></p>
            <p class="color_c82217">如果发生极端行情，玩家持有的股票无法及时被平仓，亏损总额超出保证金的部分原则上因由玩家承担且同时玩家将不再享有该账户后期的操作权。如玩家想继续使用参与，可重新申领资金及操盘权。</p>
            <p class="color_c82217">为防止连续跌停，当日股票跌幅达到-9.0%以上，天天牛风控有权卖出该股回避风险，因此而造成损失由玩家承担，天天牛将不承担任何责任。</p>
            <p>6）股权登记日</p>
            <p>股权登记日玩家可照常交易，分红到账前如果账户结算，则分红不计入收益。天天牛不支持配股，玩家应在股权登记日之前及时清空即将发生配股的股票，否则复牌后因股价除权产生的损失由玩家自行承担。</p>
            <p>7.7 清算</p>
            <p>1）清算</p>
            <p>天天牛在账户止损平仓后或账户结算日股票卖空后24小时内对账户进行清算。<span class="color_c82217">如玩家提出清算但尚未将其账户内的股票卖空的，该清算请求将失败，需要玩家卖出所有股票后重新提交清算请求；如玩家特别授权天天牛卖出其账户内的全部股票，价格以天天牛实际卖出价格准。</span></p>
            <p>2）盈亏计算</p>
            <p>操盘盈亏 =  账户清算之后的资金余额 — 操盘初始资金。</p>
            <br />
            <p class="fb">八、<span class="color_c82217">提取现金</span></p>
            <p>结算成功后，根据结算盈亏结果，有盈利或余额的，将相应反馈至牛金网账户内，玩家即可按牛金网的规定申请提现。</p>
            <br />
            <p class="fb">九、客户服务</p>
            <p>牛金网将建立专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障玩家提问及投诉渠道的畅通，为玩家提供及时的疑难解答与投诉反馈。</p>
            <br />
            <p class="fb">十、免责条款</p>
            <p>10.1  <span class="color_c82217">所有约定系统平仓或天天牛有权平仓的情形下进行的平仓，天天牛将不承担任何责任，即使平仓后股票价格上升。玩家在风险保证金范围内对平仓后的亏损承担责任，相应扣除。</span></p>
            <p>10.2  因网络、市场波动、系统故障等原因造成玩家无法操盘或操盘不及时的情况，天天牛将不承担任何责任，无论玩家是否联系天天牛客服或通过天天牛客服进行卖出价格确认等。</p>
            <p>10.3  天天牛的其他免责情形适用牛金网服务协议的约定。</p>

        </div>

    </div>
    <div class="clear"></div>
</div>
