<div class="wrapper paddTop30">
    <div class="LeftMenu fl aboutLeft">
        <ul>
            <li><a href="/info/help" class="LiIcon01 select">帮助中心</a>
            <li class="select"><a href="/info/trader_agreement" class="LiIcon02 ">协议声明</a></li>
            <li><a href="/info/about" class="LiIcon03">关于牛金</a></li>
            <li><a href="/info/download3" class="LiIcon04 ">软件下载</a></li>
        </ul>
    </div>
    <div class="fr RightMain">
        <div class="rightMenu">
            <ul>
                <li><a href="/info/trader_agreement">牛金网操盘协议</a></li>
                <li class="select"><a href="/info/yyn_trader_agreement">月月牛借款协议</a></li>
                <li><a href="/info/user_agreement">用户协议 </a></li>
                <li><a href="/info/legal">法律声明</a></li>
            </ul>
        </div>
        <div class="helBox">
            <h1>月月牛借款协议</h1>
            <p>合同编号：</p>
            <p>本借款协议（下称“本协议”）由以下各方于 ______年___月___日签署：</p>
            <p>甲方(出借人)：</p>
            <table class="am-table">
                <thead>
                    <tr>
                        <th>牛金网用户名</th>
                        <th>出借金额</th>
                        <th>借款期限</th>
                        <th>每月应收利息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>￥0.00</td>
                        <td>__个月</td>
                        <td>￥0.00</td>
                    </tr>
                    <tr>
                        <td>总计</td>
                        <td>￥0.00</td>
                        <td>&nbsp;</td>
                        <td>￥0.00</td>
                    </tr>
                    <tr>
                        <td>注：因计算中存在四舍五入，最后一期应收本息与之前略有不同</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <p>乙方(借款人)：</p>
            <p>真实姓名:</p>
            <p>身份证号：</p>
            <p>牛金网用户名：</p>
            <p>丙方：北京小牛普惠科技有限公司</p>
            <p>联系方式：北京市海淀区北四环西路9号银谷大厦1615</p>
            <p class="fb">第一条 总则</p>
            <p>鉴于：</p>
            <p>1. 丙方是一家在北京市合法成立并有效存续的有限责任公司，拥有www.niujinwang.com 网站（下称“牛金网”）的经营权，提供信用咨询，为交易提供信息服务；</p>
            <p>2. 乙方已在牛金网网站注册，并承诺其提供给丙方的信息是完全真实的；</p>
            <p>3. 甲方承诺对本协议涉及的借款具有完全的支配能力，是其自有闲散资金，为其合法所得；并承诺其提供给丙方的信息是完全真实的；</p>
            <p>4. 乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系。</p>
            <p>据此，各方经协商一致，达成如下协议，以资共同遵照履行：</p>
            <br />
            <p class="fb">第二条 借款方式及用途</p>
            <p>1. 甲、乙双方同意根据本协议约定出借和使用借款，乙方经由丙方向甲方按月支付利息。每一笔借款的借款金额、借款月利息、保证金金额、借款期限、还息日 、还息方式等双方约定如下：</p>
            <table class="am-table">
                <tbody>
                    <tr>
                        <td>借款金额</td>
                        <td>￥0.00</td>
                    </tr>
                    <tr>
                        <td>借款月利息</td>
                        <td>____分</td>
                    </tr>
                    <tr>
                        <td>保证金金额</td>
                        <td>￥0.00</td>
                    </tr>
                    <tr>
                        <td>借款期限</td>
                        <td>__个月，____年__月__日起，至____年__月__日止</td>
                    </tr>
                    <tr>
                        <td>还息日</td>
                        <td>自____年__月__日起，每月__日（24:00前，节假日不顺延）</td>
                    </tr>
                    <tr>
                        <td>还息方式</td>
                        <td>每月利息提前支付</td>
                    </tr>
                </tbody>
            </table>
            <p>2. 甲、乙双方签订《借款协议书》之后，丙方将甲方的出借资金和乙方的保证金从指定银行账户转入股票交易账户中，同时将股票交易账户的交易密码告知乙方 。</p>
            <p>3. 乙方可以使用上述股票交易账户内资金总额（包括借款和保证金）购买上海或深圳证券交易所交易的股票，盈利归乙方所有，亏损由乙方承担，即乙方对上述 账户进行股票买卖等操作产生的一切风险和后果由乙方承担，与甲方、丙方无关。</p>
            <p>4. 乙方购买的股票原则上应业绩优良、流通股本规模适度、流动性好。乙方购买股票要按照以下条件：</p>
            <p>不得买入当天禁买股，禁买股包括但不仅限于：ST、*ST、SST、*SST等被证券交易所特别处理的股票；分级基金、ETF/LOF基金、可转债等非股票类交易所上市产品；首日上市及首日恢复上市等当日无涨跌幅限制的股票；当日触及过跌停、连续跌停后首日打开跌停的股票；当日开盘后跌幅曾超过-8%的股票；已发布停牌、退市公告或有潜在退市风险的股票；有可能导致结算日无法正常卖出或亏损超过保证金的股票；其它有可能导致单个股票持仓市值占比过高的股票（操盘金额20万以上的账户单只股票市值不得超过总资产的60%）等。</p>
            <p>5. 甲方和乙方一致同意委托丙方（以下称“丙方”）对乙方进行全程账户管理和风险控制，在乙方使用股票交易账户进行投资交易的过程中，乙方愿意接受甲方及丙方的监管。</p>
            <p>6. 丙方可根据风控需求，对以上风控规则进行修订并在丙方网站发布（详情见“牛金网操盘协议”）。甲乙双方需应不时地注意丙方及具体规则的变更，若甲乙双方在本协议及具体规则内容公告变更后继续使用本服务的，表示甲乙双方已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用本网站的服务；同时就甲乙双方在协议 和具体规则修订前通过本网站进行的交易及其效力，视为您已同意并已按照本协议及有关规则进行了相应的授权和追认。</p>
            <br />
            <p class="fb">第三条 协议的订立</p>
            <p>1. 各方同意并确认，各方通过自行或授权有关方根据牛金网网站有关规则和说明，在牛金网网站进行借款申请和投标操作等方式确认签署本协议。</p>
            <p>2. 各方通过上述方式接受本协议且丙方审核通过时，本协议立即成立；协议成立的同时甲方不可撤销地授权丙方将出借款项划转至丙方提供给乙方使用的股票交易账户。</p>
            <p>3. 甲方同意并授权丙方按本协议及牛金网网站有关规则的约定对出借款项和相关费用进行划扣和支付，并由丙方代为收取乙方支付的借款本息及有关费用。</p>
            <br />
            <p class="fb">第四条 保证金及担保范围</p>
            <p>1. 乙方应根据《借款协议》的约定支付保证金到丙方指定账户，并及时补足保证金。如果乙方追加保证金或将赢利部分资金转成保证金。</p>
            <p>2. 乙方保证金担保范围包括但不限于：借款金额的本息、滞纳金、违约金、损害赔偿金、诉讼费、律师费、调查费、公证费等为实现债权所发生的费用。</p>
            <p>3. 如乙方未及时付清任一笔借款的本金、利息，丙方有权从该笔借款对应的股票交易账户内平仓出金或修改密码限制买卖，然后从该笔借款对应的保证金中直接 收取拖欠的本金和利息，如果该笔借款保证金不足以支付的，丙方有权从乙方的其他借款保证金中抵扣。</p>
            <p>4. 乙方每次追加保证金的金额不得低于交易账户初始总资金的1%，且每个交易日最多追加5次保证金。 5. 乙方授权丙方，如果乙方未能履行本协议约定的任何义务，丙方无论是否事先通知乙方，均可直接从乙方保证金中划扣乙方应付欠款。本授权委托在本协议法定 诉讼时效内不可撤销。</p>
            <br />
            <p class="fb">第五条 借款期限和利息</p>
            <p>1. 借款利率以《借款协议》约定为准，借款利息收取起算日自丙方股票交易账户开设完毕并取得交易资格，且甲方出借资金全额到 账的当日开始计算。</p>
            <p>2. 借款期限：以《借款协议》约定为准，乙方要求借款、续借或清盘需提前5天通知甲方，续借金额和期限与《借款协议》的借款金额和期限相同。</p>
            <p>3. 利息支付方式为：</p>
            <p>每月先付后用，即第一个月的利息于乙方开始使用出借人资金的前一日支付，第二个月的利息于乙方使用出借人资金满一个月之日支付，以此类推（遇节假日应 提前支付），乙方应提前将当月利息支付至丙方指定的银行账户，由丙方按时将利息转为支付给甲方。</p>
            <p>4. 如乙方延期支付利息的，丙方有权不经乙方同意直接将股票交易账户内的股票平仓转帐，并按拖欠利息总和的每日0.1%收取滞纳金。如果丙方在卖出股票品种 收取利息、滞纳金后，股票交易账户内的总资产达到警戒线或平仓线的，按本协议警戒线、平仓线条款执行。</p>
            <p>5. 在借款期内，无论任何原因，乙方未使用股票交易账户进行交易或造成股票账户不能进行交易的，乙方都应向甲方按本协议约定支付利息。</p>
            <br />
            <p class="fb">第六条 还款和结算方式</p>
            <p>1. 当股票交易账户的总资产（包括现金和证券）大于借款额和保证金的总额时，视作股票交易账户的盈利，归乙方取得，乙方有权要求丙方将盈利部分转至乙方名下账户，每次需按操盘资金的5%起提取。丙方应在收到乙方出金通知之日当天内完成转账，如因银行或证券公司的原因而未能在当日完成转账的除外。</p>
            <p>2. 每一笔借款期到期前一个交易日，乙方应将股票交易账户的总资产全部变现为货币资金，期满当日，甲乙双方办理借款账户内资产的清算手续，丙方须在 办理完毕清算手续的三日内将除甲方本金和应得利息之外的款项划转到乙方指定账户；如乙方所购股票中出现有停牌股票不能卖出，则乙方需按停牌股票市值追加30%保证金，至复牌后三日内（节假日前一天平仓的，相应延后），乙方应将股票全部售出，多余资金退还乙方，卖出后仍不足以清偿甲方借款的，由乙方于卖出后三日内另行偿付。</p>
            <p>3. 借款期满或本协议终止，甲方如未能全部收回其借款本金及利息，有权向乙方追偿，乙方除归还甲方全部借款和支付利息外，还应从借款期满之日起按借款本金和保证金之和的0.1%/日支付利息至甲方在丙方平台的资金账户。</p>
            <p>4. 本协议因任何原因终止时，乙方应将出借人的借款本金归还给甲方，并不再使用丙方的股票交易账户进行股票交易。</p>
            <p>5. 甲乙任一方若对资金划转有异议的，可以向丙方提出异议申请，由丙方提供相应资金划转的合法凭证。</p>
            <br />
            <p class="fb">第七条 甲方的权利、义务及违约责任</p>
            <p>1. 甲方保证其所用于出借的资金来源合法，甲方是该资金的合法所有人，如果第三人对资金归属、合法性问题发生争议，由甲方负责解决。如甲方未能解决，则放弃享有其所出借款项所带来的利息收益。</p>
            <p>2. 甲方有权委托丙方监管股票交易账户的运作，对乙方进行账户管理和风险控制。</p>
            <p>3. 甲方享有其所出借款项所带来的利息收益，并应主动缴纳由利息所得带来的可能的税费。</p>
            <p>4. 借款期满，乙方应将借款本金归还给甲方并不再使用丙方股票交易账户进行股票交易，否则丙方有权销户或修改交易密码，调出或处置股票交易账户内资产。</p>
            <p>5. 甲方保证出借资金来源正当合法，不存在负债或者或有负债（指应披露而未披露结果给该笔资金的依约使用带来争议或者纠纷的负债），丙方具有对银行账户和股票交易账户使用和处理的排他性权利，并承诺在本协议执行期间不以银行账户和股票交易账户内资产（包括现金和证券）设置抵押、担保、租赁、托管等。</p>
            <p>6. 如乙方所购股票因异常波动、上市公司涉嫌违规需要进行调查以及突发性事件或不可抗力等原因导致该证券连续停牌达到 7个交易日或者连续跌停板导致平仓无法实现，且占总市值50%以上，乙方须即时将账户内其它证券平仓，所得款项连同账户资金一并用于清偿甲方债权，不足部分由乙方自有资金偿还。同时，该证券复牌后或者连续跌停板打开且平仓可以实现时，如乙方仍有未清偿的债务，则甲方有权直接将该证券平仓用于清偿乙方所欠甲方的债务，剩余部分返还至乙方指定账户内。当乙方所欠甲方的债务 全部清偿完毕，则甲方不再收取乙方的借款利息和逾期违约金。</p>
            <br />
            <p class="fb">第八条 乙方的权利、义务及违约责任</p>
            <p>1. 乙方可以通过丙方股票交易账户按照本协议约定进行买卖操作，有权收取使用股票交易账户内资金总额投资所得的收益，承担全部损失；无论股票交易账户盈亏如何，乙方须按本协议约定向甲方支付利息。</p>
            <p>2. 如任一股票交易账户内的所有股票出售（即清盘）后，还不足以归还该笔借款本金金额，乙方必须在清盘后三日内将亏损额补足归还给甲方，否则丙方有权从乙方进行交易的其他股票交易账户中扣除相应金额。</p>
            <p>3. 乙方不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易，如有任一次上述交易行为，应支付给甲方借款额10%的 违约金，并直接从保证金中扣除，因此产生的一切责任和损失，由乙方承担。</p>
            <p>4. 如因乙方违规操作、债务等原因，导致丙方指定账户（包括银行账户和期货账户）被依法采取查封、冻结、划拨等强制措施，造成丙方损失的，乙方应从账户 被依法处置之日起按本金及利息之和按照0.1%的日利率向丙方支付违约金，如违约金不足以弥补损失的，乙方还应承担赔偿责任。借款期满,账户仍未解除强制措施的,本协议自动 终止,乙方应另行全额归还给甲方出借资金、支付利息，并按约支付违约金。</p>
            <p>5. 股票交易费用由乙方承担：</p>
            <p>1）所有费用均以交易总额为基数计算；</p>
            <p>2）印花税按照国家标准，由证券公司在客户交易时直接代扣代缴；</p>
            <p>3）交易佣金（万分之八）由证券公司在交易时扣收；</p>
            <p>4）因买入金额过少（单笔2万以下）造成实际佣金与券商注明佣金有微小差别（10%以内的差别），乙方表示无异议。</p>
            <p>6. 所在营业部根据规定、规则或协议约定应收取的各项费用或代收税金等，由乙方按实承担。如果遇到政府部门出台缴纳个人资本利得税，则甲方和乙方各自承担协议期内的个人资本利得税部分，并互相保留1年的追溯权。</p>
            <p>7. 如账户内持仓股票有配股权利的，在券商通知后2天内，乙方应腾出可用资金购买配股或者把该股票卖出。如果乙方未执行，丙方有权利以任何价格卖出该股票 ，如出现亏损由乙方自己承担。</p>
            <p>8. 本协议因任何原因终止时，乙方应将出借人的借款本金归还给甲方，并不再使用丙方股票交易账户进行交易。</p>
            <br />
            <p class="fb">第九条 丙方的权利、义务</p>
            <p>1. 甲方同意向乙方出借相应款项时，已委托丙方在本协议成立后将该笔借款直接划付至丙方为乙方开设的股票交易账户。甲方授权并委托丙方代其收取本协议文 首所约定的出借人每月应收本息，代收后按照甲方的要求进行处置，乙方对此表示认可。</p>
            <p>2. 丙方有权就为本协议借款所提供的服务向甲方收取借款综合管理费。收取比例为甲方利息收入的35%。</p>
            <p>3. 甲乙双方同意丙方有权代甲方在必要时对乙方进行贷款的违约提醒及催收工作，包括但不限于电话通知、上门通知、发律师函、对乙方提起诉讼等。甲方在此确认委托丙方为其进行以上工作，并授权丙方可以将此工作委托给其他方进行。乙方对前述委托的提醒、催收事项已明确知晓并应积极配合，同时应承担因乙方逾期还款而产生的催收费用。</p>
            <p>4. 丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。</p>
            <p>5. 丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露 。</p>
            <br />
            <p class="fb">第十条 警戒线与平仓线</p>
            <p>1. 当借款账户亏损超过保证金的40%为警戒线，乙方应禁止继续买入股票，如购买了股票，乙方承诺对因此带来的损失承担全部责任。乙方于下一交易日 10:00前必须追加保证金至账户总市值处于警戒线之上，如不按规定追加保证金的，丙方有权将帐户的股票减仓至保证金余额的6倍。乙方不得再行建新仓，否则视为违约，丙方有权修改密码卖出股票，直到乙方将保证金补充至警告线以上方可重新操作。当借款账户亏损超过保证金的60%为警戒线，甲方及丙方可以立即卖出质押账户内的股票，乙方被平仓后，须将保证金加至账户总市值达到警戒线以上方可重新操作。</p>
            <p>2. 乙方被强制平仓后，最近一个利息支付日之前未追加足额保证金时，丙方将通知甲乙终止本协议。乙方需向甲方赔偿一个月的利息，作为甲方资金闲置缓冲期的补偿。如平仓后剩余资金不足以支付甲方利息时，甲方有权向乙方追索利息欠款，丙方将尽最大努力协助甲方追索乙方利息欠款。</p>
            <p>3. 当账户内某股票在某一交易日的全天成交金额低于500万元，且该股票持仓市值超过当日全天成交金额的30%，则甲方及丙方有权利要求乙方在下一交易日上午 10:30前将该股票市值降低至上一交易日该股票日成交金额的30%以内，或按照该股票持仓市值20%的金额追加额外保证金，该额外保证金不得用于购买股票。如该股票在连续5个交易日中每天的成交金额不低于500万元且满足本协议其他条款时，丙方将于下一交易日将额外保证金无息退还给乙方。</p>
            <br />
            <p class="fb">第十一条 协议生效、终止和续签</p>
            <p>1. 因借款期满、约定自动终止情形出现、任一方依法依约解除本协议及双方协商一致解除本协议而终止，《借款协议》的任一笔借款未到期的，本协议效力延续 至借款到期止。</p>
            <p>2. 在本协议执行期间，如遇到乙方操作的任一股票交易账户总市值（盘中市值）低于平仓线时，丙方可以立即卖出该股票交易账户内的股票，《借款协议》于甲 方将股票完全变现且乙方在三日内没有追加保证金后自动终止。</p>
            <p>3. 如因证券公司政策原因，股票交易账户无法正常继续使用，本协议自动终止，甲乙双方互不追究违约责任，按本协议第四条约定进行还款和结算。</p>
            <p>4. 乙方违法违规进行股票操作或乙方有严重违约行为的，丙方有权立即解除本协议，平仓锁定账户，收回本金，已支付利息不退还给乙方，乙方还需按 1 个月额外利息作为违约金给丙方，在确定不会给甲方造成损失的前提下，甲方向乙方退回剩余保证金。</p>
            <p>5. 对于本协议合作所需的任何批准，相关政府主管部门未能作出、或者任何该等重要的批准被暂扣、吊销或撤销；或者本协议项下的业务因违反法律、法规或监管机构的要求；或与本协议项下产品有关的产品、技术被监管机构认为非法并予以叫停的；或会导致本协议下所涉及之合作不为法律所允许的任何其他情形；或者(viii)超出主张不可抗力的一方合理控制的任何其他事件。</p>
        </div>

    </div>
    <div class="clear"></div>
</div>