/**
 * pages.css
 * 页面模块样式文件
 */

/* =首页 index.html
-------------------------------------------------------------- */

/* nav */
.nav-box {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 50px;
}
.nav-box ul {
    display: -webkit-box;
    display: -moz-box;
    width: 100%;
    box-sizing: border-box;
    background-color: #e5e5e5;
}
.nav-box li {
    display: block;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            box-flex: 1;
}
.nav-box a {
    display: block;
    width: 100%;
    padding-top: 34px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    color: #666;
    text-align: center;
    background-size: 25px 25px;
    background-position: center 6px;
    background-repeat: no-repeat;
}
.nav-box .current {
    color: #a40000;
}
.nav-box .home a {
    background-image: url(../images/icon_home.png);
}
.nav-box .ttn a {
    background-image: url(../images/icon_ttn.png);
}
.nav-box .zntz a {
    background-image: url(../images/icon_zntz.png);
}
.nav-box .exp a {
    background-image: url(../images/icon_exp.png);
}
.nav-box .user a {
    background-image: url(../images/icon_user.png);
}
.nav-box .home .current {
    background-image: url(../images/icon_home_cur.png);
}
.nav-box .ttn .current {
    background-image: url(../images/icon_ttn_cur.png);
}
.nav-box .zntz .current {
    background-image: url(../images/icon_zntz_cur.png);
}
.nav-box .exp .current {
    background-image: url(../images/icon_exp_cur.png);
}
.nav-box .user .current {
    background-image: url(../images/icon_user_cur.png);
}

/* banner */
.banner a,
.banner img {
    display: block;
}
/* statistics */
.statistics {
    padding: 12px 0 10px;
    font-size: 16px;
    text-align: center;
    color: #020000;
}
.statistics em {
    font-size: 20px;
    font-weight: 700;
    color: #a40000;
    font-family: arial;
}
/* slogan */
.slogan {
    padding: 8px 0 4px;
    text-align: center;
}
.slogan .line {
    height: 2px;
    background-color: #c9c9c9;
}
.slogan .pic {
    position: relative;
    top: -8px;
    left: 50%;
    width: 153px;
    margin-left: -96px;
    padding: 0 20px;
    background-color: #f9f4ee;
}
.slogan .pic img {
    width: 153px;
}

/* products */
.products {
    padding: 0 14px;
}
.products .btn {
    clear: both;
    display: block;
    text-align: center;
    height: 44px;
    line-height: 44px;
    margin-top: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    background-color: #e30a20;
}
.products-list li {
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #fff;
}
.products-list .pic {
    float: left;
    padding: 18px 18px 10px 10px;
}
.products-list .pic img {
    width: 63px;
}
.products-list .txt {
    overflow: hidden;
    color: #000;
}
.products-list .txt h3 {
    font-size: 22px;
    font-weight: 700;
}
.products-list .txt h4 {
    font-size: 14px;
    font-weight: 700;
    padding: 4px 0;
}
.products-list .rec h3,
.products-list .rec h4 {
    color: #f60;
}
.products-list .txt p {
    font-size: 14px;
    color: #999;
}

/* talent */
.talent .hd {
    padding: 8px 0 0;
    text-align: center;
}
.talent .hd .line {
    height: 2px;
    background-color: #c9c9c9;
}
.talent .hd .pic {
    position: relative;
    top: -8px;
    left: 50%;
    width: 56px;
    margin-left: -48px;
    padding: 0 20px;
    background-color: #f9f4ee;
}
.talent .pic img {
    width: 56px;
}
.talent .bd {
    padding: 0 20px;
    margin-bottom: -1px;
}
.talent-list li {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px dashed #d3d2d0;
}
.talent-list h3 {
    color: #a40000;
}
.talent-list p {
    display: -webkit-box;
    display: -moz-box;
    width: 100%;
    box-sizing: border-box;
}
.talent-list p span {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
}



/* =月月牛 yyn.html
-------------------------------------------------------------- */
/* yyn-slogan */
.yyn-slogan {
    margin-bottom: 8px;
}
.yyn-slogan .pic {
    width: 164px;
    margin-left: -102px;
}
/* yyn-box */
.yyn-box {
    padding: 0 10px;
}
.yyn-box h3 {
    font-size: 14px;
    padding: 0 0 5px;
}
.yyn-box h3 em {
    color: #a40000;
}
.yyn-box h3 span {
    font-size: 10px;
    color: #999;
}
.yyn-box h3 .f-fr {
    margin-top: 2px;
}
.yyn-box .yyn-principal {
    margin-bottom: 10px;
    padding: 8px 0;
    border: 1px solid #c9c9c9;
    background-color: #fff;
}
.yyn-box .yyn-principal input {
    width: 100%;
    border: 0 none;
    font-size: 18px;
    line-height: 18px;
    text-indent: 8px;
}
.yyn-box .money-select {
    margin-bottom: 10px;
    background-color: #f9f4ee;
}
.yyn-box .money-options {
    height: auto;
}
.yyn-box .money-options li {
    line-height: 1.0;
}
.yyn-box .money-options strong {
    display: block;
    padding: 12px 0 0 0;
}
.yyn-box .money-options .current span {
    color: #fff;
    border-color: #fff;
}
.yyn-box .money-options span {
    display: inline-block;
    border: 1px solid #999;
    color: #666;
    font-size: 10px;
    padding: 2px;
}
.yyn-box .yyn-month {
    margin-bottom: 10px;
}
.yyn-box .yyn-permonth {
    position: absolute;
    top: 2px;
    right: 24px;
}
.yyn-box .yyn-permonth em {
    padding-right: 2px;
    font-size: 20px;
    font-weight: 700;
}

/* =天天牛 ttn.html
-------------------------------------------------------------- */
/* ttn-box */
.ttn-box {
    padding: 0 10px;
}
.ttn-box h3 {
    font-size: 14px;
    padding: 0 0 10px;
}
/* ttn-slogan */
.ttn-slogan {
    margin-bottom: 8px;
}
.ttn-slogan .pic {
    width: 146px;
    margin-left: -93px;
}
/* ttn-notice */
.ttn-multiple {
    margin-bottom: 20px;
}
.yyn-month .sel-box,
.ttn-multiple .sel-box {
    position: relative;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    padding: 5px 10px;
}
.ttn-multiple .icon,
.yyn-month .icon {
    position: absolute;
    top: 12px;
    right: 4px;
    display: block;
    width: 1px;
    height: 1px;
    border-width: 6px;
    border-style: solid;
    border-color: #c0c0c0 #fff #fff #fff;
}

/* ttn-notice */
.ttn-notice {
    float: right;
    display: inline-block;
    font-size: 9px;
    margin: -30px 0 0;
    color: #666;
}
.ttn-notice em {
    font-weight: 700;
    color: #a40000;
}
/* money-select */
.money-select {
    background: #fff;
    margin-bottom: 20px;
}
.money-options {
    width: 100%;
    height: 182px;
    overflow: hidden;
}
.money-options li {
    float: left;
    width: 33%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #000;
    background: #FFF;
    border-right: 1px dotted #c9c9c9;
    border-bottom: 1px dotted #c9c9c9;
}

.money-options li:nth-child(3),
.money-options li:nth-child(6),
.money-options li:nth-child(9)
{
    border-right-width: 0;
}

.money-options .current {
    color: #fff;
    background: #e0322d;
}
.other-number {
    width: 100%;
    height: 182px;
    border-radius: 5px;
    overflow: hidden;
}
.other-number .return {
    font-size: 16px;
    padding: 10px 5% 0 0;
    text-align: right;
}
.other-number .return a {
    color: #2489f0;
}
.money-form {
    padding: 74px 14px;
    text-align: center;
}
.money-form .ipt-txt {
    width: 56%;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    margin-right: 10px;
}
.money-form .submit-btn {
    width: 30%;
    height: 42px;
    line-height: 42px;
    background: #e0322d;
    border: none;
    font-size: 16px;
    color: #fff;
}
.money-form .submit-btn:disabled {
    background: #ccc;
}
/* ttn-fee */
.ttn-fee {
    padding: 12px 10px 12px 0;
    background: #fff;
    text-align: right;
}
.ttn-fee p {
    font-size: 12px;
    padding: 4px 0;
}
.ttn-fee .icon,
.ttn-warn .icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background: url(../images/point.png) no-repeat 0 0;
    background-size: 14px 14px;
}
.ttn-warning {
    text-align: center;
    font-size: 14px;
}
.ttn-warning i {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background: url(../images/ttn-warning-icon.png) no-repeat 0 0;
    background-size: 24px 24px;
}
.ttn-fee .free {
    font-size: 10px;
    color: #bbb;
}
.ttn-fee strong {
    color: #a40000;
    font-size: 18px;
    padding: 0 4px;
}
.ttn-fee em {
    color: #a40000;
}
/* ttn-warn */
.ttn-warn {
    font-size: 14px;
    padding: 6px 20px;
    overflow: hidden;
}
.ttn-warn .icon {
    float: right;
    top: 54px;
}
.ttn-warn .number {
    float: right;
}
.ttn-warn p {
    padding: 4px 0;
}
.ttn-warn em {
    font-size: 16px;
}
.ttn-warn strong {
    color: #2baa3f;
    font-size: 16px;
}

/* =天天牛-确定支付 ttn_confirm.html
-------------------------------------------------------------- */
.ttn-confirm-box {
    padding: 10px;
}
.ttn-confirm-box .fee-item li {
    padding: 16px 0;
    border-bottom: 1px dotted #c9c9c9;
    overflow: hidden;
}
.ttn-confirm-box .fee-item .fee-item-bond {
    padding: 16px 0 0;
}
.ttn-confirm-box .fee-item span {
    float: right;
    margin-top: -6px;
}
.ttn-confirm-box .fee-item .dayfee {
    margin-top: 4px;
}
.ttn-confirm-box .fee-item p {
    margin-bottom: 10px;
}
.ttn-confirm-box .fee-item em {
    font-size: 20px;
    color: #a40000;
    padding: 0 6px 0 0;
}

.ttn-confirm-box .sel-box {
    position: relative;
    float: left;
    width: 60%;
    padding: 5px 5px 5px 10px;
    height: 22px;
    line-height: 22px;
    background: #fff;
    border: 1px solid #c0c0c0;
}
.ttn-confirm-box .remind {
    font-size: 10px;
    padding: 20px 0;
}
.ttn-confirm-box .agree a {
    color: #a40000;
}

.ttn-pay-success {
    padding: 15px;
}

.ttn-pay-success .suc-txt {
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
}
.ttn-pay-success .suc-txt span {
    color: #a40000;
}
.ttn-pay-success .suc-txt em {
    font-size: 24px;
    padding: 0 4px;
    color: #a40000;
}
.ttn-pay-success .remaind {
    padding: 15px 25px;
    margin: 0 -15px;
    color: #999;
    background-color: #eee;
}
.ttn-pay-success .to {
    padding: 15px 10px;
}
.ttn-pay-success .to a {
    color: #a40000;
}

/* =免费体验 exp.html
-------------------------------------------------------------- */
/* exp-slogan */
.exp-slogan {
    margin-bottom: 8px;
}
.exp-slogan .pic {
    width: 168px;
    margin-left: -104px;
}
/* exp-sign */
.exp-sign {
    padding: 8px 0 0;
    margin: 10px 0 -5px;
    text-align: center;
}
.exp-sign .line {
    height: 2px;
    background-color: #c9c9c9;
}
.exp-sign .txt {
    position: relative;
    top: -15px;
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: #a40000;
    background-color: #f9f4ee;
}
/* exp-cont */
.exp-cont {
    padding: 0 10px;
}
.exp-cont .exp-notice {
    font-size: 10px;
    color: #999;
    text-align: center;
    padding-bottom: 20px;
}
.exp-item li {
    margin-bottom: 16px;
    padding: 10px 0 10px 10%;
    border-radius: 10px 10px;
    border: 2px solid #efe3d2;
    background-color: #fff;
}
.exp-item span {
    display: inline-block;
    width: 46%;
    font-size: 14px;
}
.exp-item  em {
    padding: 0 6px;
    font-size: 20px;
    color: #a40000;
}
/* exp-contact */
.exp-contact {
    padding: 0 0 10px;
    font-size: 14px;
    color: #000;
    text-align: center;
}
.exp-contact em {
    color: #a40000;
    padding-right: 10px;
}
.exp-contact strong {
    color: #a40000;
}


/* =我的账户 user.html
-------------------------------------------------------------- */
.user-wel a {
    display: block;
    height: 25px;
    line-height: 25px;
    padding:13px 20px 12px;
    font-size: 14px;
    border-bottom: 1px dashed #c9c9c9;
    background-color: #fff;
}
.user-wel span {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    border-radius: 50% 50%;
    background: url(../images/icon_user.png) no-repeat center 0;
    background-size: 25px 25px;
}
.user-money {
    margin-bottom: 15px;
}
.user-money ul {
    width: 100%;
}
.user-money .balance {
    display: -webkit-flex;
    display: flex;
    padding: 26px 20px 16px;
    background-color: #fff;
    box-sizing: border-box;
}
.user-money .asset {
    display: -webkit-box;
    display: -moz-box;
    box-sizing: border-box;
}
.user-money .asset li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    width: 1px;
}
.user-money .number {
    -webkit-flex: 2;
    flex: 2;
    color: #999;
    font-size: 11px;
}
.user-money .number em {
    display: block;
    color: #a40000;
    font-size: 14px;
}
.user-money .btns {
    -webkit-flex: 6;
    flex: 6;
    text-align: right;
    color: #999;
}
.user-money .btns p {
    font-size: 7px;
}
.user-money .btns a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 24px;
    font-size: 13px;
    color: #e0322d;
    border-radius: 3px;
    border: 1px solid #e0322d;
}
.user-money a.withdraw-btn {
    margin-left: 10px;
    color: #666;
    border: 1px solid #aaa;
}
.user-money .asset {
    padding: 28px 20px;
    background-color: #eee;
    margin-bottom: 15px;
}
.user-money .asset li {
    color: #999;
    font-size: 11px;
}
.user-money .asset li:first-child {
    margin-right: 24px;
    border-right: 1px solid #dcdcdc;
}
.user-money .asset em {
    display: block;
    font-size: 20px;
    color: #666;
}
.user-money .asset span {
    font-size: 7px;
}

.user-wel i,
.user-opts i {
    float: right;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    -webkit-transform: rotate(135deg) skewY(0deg);
    -moz-transform: rotate(135deg) skewY(0deg);
}
.user-opts i {
    margin-top: 15px;
}

.user-opts li {
    margin-bottom: 15px;
}
.user-opts .tips {
    float: right;
    font-size: 14px;
    color: #999;
    padding: 0 4px;
}
.user-opts a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 14px;
    background-color: #fff;
}
.user-opts .icon-ttn,
.user-opts .icon-recharge,
.user-opts .icon-tz-info,
.user-opts .icon-zc-info,
.user-opts .icon-prom {
    float: left;
    width: 25px;
    height: 25px;
    margin: 9px 12px 0 0;
    border-radius: 50% 50%;
    background: url(../images/icon_user_cur.png) no-repeat center 0;
    background-size: 25px 25px;
}

.user-opts .icon-recharge {
    background-image: url(../images/icon_ttn_cur.png);
}
.user-opts .icon-tz-info {
    background-image: url(../images/icon-list.jpg);
}
.user-opts .icon-zc-info {
    background-image: url(../images/free.jpg);
}
.user-opts .icon-prom {
    background-image: url(../images/icon-prom.png);
}

.user-tab ul {
    display: -webkit-box;
    display: -moz-box;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background-color: #eee;
}
.user-tab li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    width: 1px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    border-right: 1px solid #C9C9C9;
}
.user-tab li:last-child {
    border-right: 0;
}
.user-tab a {
  position: relative;
  top: -10px;
  display: block;
  padding: 14px 0;
  font-size: 14px;
  border-bottom: 1px solid #C9C9C9;
}
.user-tab li.current a {
    color: #A40000;
    border-bottom-color: #A40000;
    border-bottom-width: 2px;
    padding-bottom: 13px;
}
.user-tz ul {
    overflow: hidden;
    color: #999;
    font-size: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px dotted #d3d2d0;
}
.user-tz li {
    float: left;
    width: 40%;
    padding: 20px 0 10px 10%;
}
.user-tz h5 {
    font-weight: 100;
}
.user-tz strong {
    color: #666;
    font-size: 14px;
}
.user-tz em {
    color: #a40000;
    font-size: 20px;
}

/* =个人信息 account.html
-------------------------------------------------------------- */
.account-box .user-intro {
    padding: 22px;
    font-size: 16px;
    line-height: 26px;
}
.account-box .user-intro .user-pic {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    border-radius: 50% 50%;
    background: url(../images/icon_user_cur.png) no-repeat center 0;
    background-size: 25px 25px;
}
.account-box .account-opts li {
    margin-bottom: 15px;
}
.account-box .account-opts a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 30px 0 22px;
    font-size: 14px;
    background-color: #fff;
}
.account-box .account-opts span {
    float: right;
    color: #999;
}
.account-box .account-opts i {
    position: relative;
    top: 16px;
    left: 10px;
    float: right;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    -webkit-transform: rotate(135deg) skewY(0deg);
    -moz-transform: rotate(135deg) skewY(0deg);
}
.account-box .account-tip {
    font-size: 13px;
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}
.account-box .logout-btn {
    display: block;
    height: 44px;
    line-height: 44px;
    margin: 0 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    background-color: #a40000;
}



/* =我的账户-我的天天牛 user_ttn.html
-------------------------------------------------------------- */
.user-ttn {
    padding: 0 0 24px;
}
.ttn-list li {
    font-size: 10px;
    margin-top: 24px;
    color: #666;
}
.ttn-list .row {
    display: block;
    position: relative;
    padding: 12px 25px;
    background-color: #fff;
    border-bottom: 1px dotted #c9c9c9;
    overflow: hidden;
}
.ttn-list .row:last-child{
    border-bottom-width: 0;
}
.ttn-list .row-gray {
    background-color: #eee;
}
.ttn-list .row-gray em {
    font-size: 16px;
    color: #a40000;
}
.ttn-list .col {
    display: block;
    float: left;
    width: 50%;
}
.ttn-list .state {
    font-size: 12px;
    color: #a40000;
}
.ttn-list .no {
    color: #999;
}
.ttn-list .row-pay{
    font-size: 14px;
    color: #a40000;
    text-align: center;
    background-color: #eee;
}
.ttn-list .icon-free {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 28px;
    height: 28px;
    background: url(../images/icon-free.png) no-repeat;
    background-size: 28px 28px;
}



/* =我的账户-天天牛详情 user_ttn_info.html
-------------------------------------------------------------- */
.user-ttn-info {
    color: #666;
}
.user-ttn-info .state-box {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px dotted #c9c9c9;
    background: #fff;
}
.user-ttn-info .state-box .state {
    font-size: 16px;
}
.user-ttn-info .state em,
.user-ttn-info .trading em {
    color: #a40000;
    font-weight: 100;
}
.user-ttn-info .state p {
    font-size: 10px;
}
.user-ttn-info .trading {
    overflow: hidden;
    background: #fff;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #c9c9c9;
}
.user-ttn-info .trading em {
    font-size: 14px;
}
.user-ttn-info .trading .col {
    float:left;
    width: 49%;
    padding: 4px 0;
    border-right: 1px solid #eee;
}
.user-ttn-info .trading .col a {
    color: #a40000;
}
.user-ttn-info .trading .col:last-child {
    text-align: center;
    border-right-width: 0;
}
.user-ttn-info .settling {
    color: #a40000;
    padding: 15px 0;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 1px dotted #c9c9c9;
}
.user-ttn-info .settling .col {
    float: left;
    width: 40%;
    padding-left: 10%;
}
.user-ttn-info .settling em {
    display: block;
    font-size: 18px;
}
.user-ttn-info .ttn-agree {
    padding: 20px 0;
    text-align: center;
}
.user-ttn-info .ttn-param {
    padding: 10px 0;
    background-color: #fff;
}
.user-ttn-info .ttn-param li {
    padding: 5px 15px;
    overflow: hidden;
}
.user-ttn-info .ttn-param .col,
.user-ttn-info .ttn-amount .col {
    float: left;
    width: 50%;
}
.user-ttn-info .ttn-amount {
    margin-bottom: 20px;
    background: #fff;
}
.user-ttn-info .ttn-amount li {
    padding: 10px 15px;
    overflow: hidden;
    border-bottom: 1px dotted #c9c9c9;
}
.user-ttn-info .ttn-amount li:last-child {
    border-bottom: 0;
}
.user-ttn-info .ttn-amount em {
    font-size: 22px;
    color: #a40000;
}
.user-ttn-info .ttn-amount .warn {
    background: #f9efdd;
}
.user-ttn-info .ttn-amount strong {
    font-size: 16px;
    font-weight: 100;
}
.user-ttn-info .ttn-amount .warn strong {
    color: #157b2a;
}

.user-ttn-info .ttn-amount .no {
    float: right;
    margin-top: -18px;
    font-size: 10px;
    color: #999;
}
.ttn-btn-group {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}
.ttn-btn-group button {
    color: #fff;
    height: 50px;
    background-color: #a40000;
    border-top: 0;
    border-right:1px solid #fff;
}
.ttn-btn-group button:last-child {
    border-right: 0;
}

/* =新手引导 newbie.html
-------------------------------------------------------------- */
.guide-soft {
    padding: 15px;
}
.guide-soft h5 {
    color: #000;
    padding: 5px 0 8px;
}
.guide-soft p {
    color: #333;
}

.guide-proc {
    padding: 5px 0;
    text-align: center;
    background-color: #fff;
}
.guide-step {
    color: #333;
    padding: 15px;
}
.guide-box {
    text-align: center;
    margin: 0 15px 15px;
    padding: 10px 0;
    border: 1px solid #d2d2d1;
    box-shadow: 3px 3px 4px #999;
}
.guide-pic {
    display: block;
    margin: 0 auto 15px;
    border: 1px solid #d2d2d1;
    box-shadow: 3px 3px 4px #999;
}
.guide-txt {
    margin: 0 0 15px;
    padding: 0 15px;
    font-size: 10px;
}
.guide-down {
    margin: 0 15px 15px;
    padding: 10px 0;
    border: 1px solid #d2d2d1;
    box-shadow: 3px 3px 4px  #999;
}
.guide-down h5 {
    font-size: 10px;
    padding: 5px 15px;
}
.guide-down p {
    font-size: 7px;
    padding: 0 15px;
}
.guide-down a {
    display: block;
    background-color: #fff;
    text-align: center;
    margin-top: 15px;
}

/* =客服中心 contact.html
-------------------------------------------------------------- */
.contact-slogan {
    margin-bottom: 8px;
}
.contact-slogan .pic {
    width: 154px;
    margin-left: -97px;
}
.contact-items {
    padding: 0 10px;
}
.contact-items li {
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 15px;
}
.contact-items .pic {
    float: left;
    width: 40%;
    text-align: center;
    font-size: 10px;
    color: #666;
}
.contact-items .qq .pic {
    padding-top: 38px;
    background: url(../images/qq.png) no-repeat center 0;
    background-size: 31px 32px;
}
.contact-items .tel .pic {
    padding-top: 48px;
    background: url(../images/tel.png) no-repeat center 6px;
    background-size: 35px 35px;
}
.contact-items .qq .text,
.contact-items .tel .text {
    padding: 10px 0 0;
}
.contact-items .tel .tel-num {
    color: #a40000;
}
.contact-items .weixin .pic {
    padding-top: 48px;
    background: url(../images/weixin.png) no-repeat center 6px;
    background-size: 40px 33px;
}
.contact-items .pic em {
    display: block;
    font-size: 14px;
    color: #000;
}
.contact-items .text {
    padding-left: 6%;
    overflow: hidden;
    text-align: center;
}
.contact-items .tel-num {
    font-size: 24px;
}

.contact-items .tel p {
    font-size: 10px;
    color: #999;
}

/* =软件下载 download.html
-------------------------------------------------------------- */
.down-box {
    padding: 10px;
}
.down-box  h5 {
    padding: 10px 0;
}
.down-box p {
    font-size: 10px;
    margin:0 0 10px;
}
.down-box a {
    display: block;
    background: #fff;
    margin:0 -10px 20px;
    text-align: center;
}

/* =充值 recharge.html
-------------------------------------------------------------- */
.recharge-box {
    padding: 10px;
}

.recharge-box .recharge-title {
    margin-bottom: 10px;
    padding: 10px 0 5px;
    border-bottom: 1px dotted #c9c9c9;
}
.recharge-cate {
    padding: 0 6px;
    margin-bottom: 30px;
}
.recharge-cate li {
    background: #fff;

    margin-bottom: 10px;
    font-size: 16px;
}
.recharge-cate li span {
    float: right;
    color: #666;
}
.recharge-cate a {
    display: block;
    padding: 25px;
}
.recharge-cate i {
    font-size: 12px;
}
.recharge-cate .coming {
    padding: 25px;
}
.recharge-cate .coming,
.recharge-cate .coming span {
    color: #999;
    background: #eee;
}
.recharge-record {
    padding: 0 10px;
}
.recharge-record .record-list li {
    padding: 8px 0;
    margin-top: 10px;
    border-bottom: 1px dotted #c9c9c9;
}
.recharge-record .record-list li:last-child {
    border-bottom: 0;
}
.recharge-record .record-list h5 {
    font-size: 14px;
    padding: 0 0 6px;
}
.recharge-record .record-list p {
    color: #999;
    font-size: 10px;
    line-height: 24px;
    overflow: hidden;
}
.recharge-record .record-list .state {
    color: #a40000;
}
.recharge-bank {
    padding: 10px;
}
.recharge-bank .txt {
    font-size: 10px;
    margin-bottom: 15px;
    padding: 10px 0 5px;
    border-bottom: 1px dotted #c9c9c9;
}
.recharge-bank .bank-list {
    margin-bottom: 15px;
    background: #fff;
}
.recharge-bank .bank-logo {
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px dotted #c9c9c9;
}
.recharge-bank .bank-info {
    padding: 25px;
    font-size: 10px;
}
.recharge-bank .bank-info p {
    line-height: 16px;
    font-weight: 700;
}
.recharge-bank .bank-info label {
    display: inline-block;
    width: 70px;
    color: #999;
    font-weight: 100;
}
.recharge-bank .send-btn {
    display: block;
    height: 44px;
    line-height: 44px;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e0322d;
    border-radius: 2px;
    color: #e0322d;
}
.recharge-bank .tel {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    background-color: #e0322d;
    border-radius: 2px;
    color: #fff;
}

.recharge-alipay {
    padding: 10px;
}
.recharge-alipay .balance {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px dotted #c9c9c9;
}
.recharge-alipay .balance em {
    font-size: 16px;
    color: #a40000;
}
.recharge-alipay .arrive-time {
    padding: 10px 0 10px 60px;
    font-size: 10px;
    border-top: 1px dotted #c9c9c9;
}
.recharge-alipay .arrive-time .f-fl {
    margin-left: -60px;
}
.recharge-alipay .pay-form {
    padding: 15px 0;
}
.recharge-alipay .pay-form .form-item {
    margin-bottom: 15px;
}
.recharge-alipay .pay-form label {
    display: block;
    margin-bottom: 4px;
}
.recharge-alipay .pay-form input {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
    text-indent: 10px;
    font-size: 14px;
    border: 1px solid #c9c9c9;
}
.recharge-alipay .pay-form .unit {
    position: relative;
    right: 10px;
    float: right;
    font-size: 14px;
    margin-top: -30px;
}
.recharge-alipay .pay-form .submit-btn {
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #fff;
    background-color: #e30a20;
}
.recharge-alipay .payee-account {
    margin-bottom: 15px;
    border-bottom: 1px dotted #c9c9c9;
}
.recharge-alipay .payee-account .payee-account-info {
    margin-bottom: 15px;
    padding: 14px 10px;
    color: #000;
    background-color: #fff;
}
.recharge-alipay .payee-account .account {
    font-size: 18px;
    color: #a40000;
    padding-bottom: 4px;
}
.recharge-alipay .payee-account .title {
    padding-bottom: 6px;
    color: #999;
}
.recharge-alipay .payee-account .f-fs0 {
    color: #999;
}
.recharge-alipay .recharge-amount {
    margin-bottom: 15px;
    line-height: 20px;
    color: #999;
}
.recharge-alipay .recharge-amount em {
    color: #a40000;
    font-size: 16px;
}
.recharge-alipay .recharge-amount strong {
    color: #000;
    font-weight: 700;
}
.recharge-alipay .recharge-open a {
    display: block;
    margin-bottom: 15px;
    padding: 35px 30px 35px 20px;
    background-color: #fff;
    color: #000;
}
.recharge-alipay .recharge-open em {
    font-size: 10px;
    color: #ea6948;
}
.recharge-alipay .recharge-open img {
    float: right;
}
.recharge-alipay .recharge-open .icon-wallet {
    margin-top: -28px;
}
.recharge-alipay .recharge-open .icon-webpay {
    margin-top: -4px;
}
.recharge-tip {
    padding-left: 10px;
    font-size: 12px;
}
.recharge-tip li {
    list-style: initial;
}

/* =登录&注册&找回密码 login.html&sign.up&forget.html
-------------------------------------------------------------- */
.form-box {
    padding: 20px 10px 10px;
}
.form-box .submit-btn {
    width: 100%;
    height: 43px;
    line-height: 43px;
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    background-color: #e30a20;
}
.form-box .form-item {
    border: 1px solid #c9c9c9;
    padding: 5px 10px;
    margin-bottom: 15px;
    background: #fff;
}
.form-box .form-item label {
    padding-right: 10px;
}
.form-box .form-item .ui-switch {
    float: right;
    top: 5px;
    padding-right: 0;
}
.form-box p {
    margin-bottom: 15px;
}
.form-box form a {
    color: #a40000;
}
.form-box .form-item input {
    border: none;
    width: 80%;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.form-box .signup-btn {
    display: block;
    height: 43px;
    line-height: 43px;
    color: #e30a20;
    text-align: center;
    font-size: 18px;
    border: 2px solid #e30a20;
    border-radius: 3px;
    background-color: #fff;
}
.form-box .ipt-txt {
    background-color: #fff;
}

.form-box .verify-ipt {
    overflow: hidden;
    margin-bottom: 15px;
}
.form-box .verify-ipt .ipt-txt {
    float: left;
    width: 45%;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    border: 1px solid #c9c9c9;
}
.form-box .verify-ipt .get-verify {
    float: right;
    width: 45%;
    height: 40px;
    line-height: 40px;
    color: #e30a20;
    font-size: 16px;
    text-align: center;
    border: 1px solid #e30a20;
    background-color: #fff;
}
.form-box .verify-ipt .get-verify.disabled {
    background-color: #eee;
    border: 1px solid #eee;
    color: #aaa;
}

.agree-box {
    padding: 15px;
}
.agree-box p {
    padding: 4px 0;
}
.agree-box h5 {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0 5px;
}
.agree-box .warn {
    color: #a40000;
}

.hzjg ul {
    overflow: hidden;
}
.hzjg li {
    float: left;
    width: 50%;
}
.hzjg li:nth-child(2),
.hzjg li:nth-child(4){
    float: right;
}

.lxwm p {
    padding: 2px 0 2px 80px;
}
.lxwm span {
    float: left;
    margin-left: -80px;
    display: inline-block;
    width: 80px;
    text-align: right;
}

/* =智能投资 zntz.html
-------------------------------------------------------------- */
.zntz-box {
    padding: 0 10px;
}
.zntz-intro,
.zntz-total {
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px dotted #d3d2d0;
}
.zntz-intro li {
    float: left;
    width: 33.333%;
}
.zntz-total li {
    float: left;
    width: 50%;
    font-size: 10px;
    color: #666;
}
.zntz-total li:last-child{
    width: 40%;
    padding-left: 10%;
}
.zntz-total em {
    display: block;
    color: #a40000;
    font-size: 24px;
}
.zntz-roi {
    color: #666;
    padding: 18px 0;
    text-align: center;
}
.zntz-roi em {
    display: block;
    color: #a40000;
    font-size: 40px;
}
.zntz-conf p {
    padding: 0 0 6px;
}
.zntz-conf-items li {
    overflow: hidden;
    text-align: right;
    padding: 8px 6px;
    margin-bottom: 12px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
}
.zntz-conf-items label {
    float: left;
    line-height: 24px;
}
.zntz-conf-items .ui-switch {
    float: right;
}
.zntz-conf-items .ui-switch input {
    left: 0;
}
.zntz-conf-items .ui-switch i:after {
    left: 0;
}
.zntz-conf-items .icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background: url(../images/point.png) no-repeat 0 0;
    background-size: 14px 14px;
}
.zntz-conf-items input[type=text] {
    width: 100px;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    text-align: right;
    line-height: 24px;
    padding: 0 10px 0 0;
    border: 0;
}
.zntz-conf-items .per {
    display: inline-block;
    padding-right: 14px;
}
.zntz-conf-items strong {
    font-size: 16px;
    padding-right: 6px;
}
.zntz-conf-items span {
    color: #999;
}
.zntz-box .zntz-txt {
    font-size: 13px;
    margin: 26px 0 10px;
    text-indent: 6px;
}
.zntz-box .zntz-amount {
    padding: 20px 0 5px;
}
.zntz-box .zntz-amount label{
    display: block;
    margin-bottom: 4px;
}
.zntz-box .zntz-amount input {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 800;
    border: 1px solid #C9C9C9;
}
.zntz-box .zntz-amount .unit{
    position: relative;
    right: 10px;
    float: right;
    font-size: 14px;
    margin-top: -30px;
}
.zntz-box .zntz-txt-list {
    overflow: hidden;
    margin-bottom: 15px;
}
.zntz-box .zntz-txt-list li {
    text-align: right;
    padding: 16px 4px;
    border-bottom: 1px dotted #d3d2d0;
}
.zntz-box .zntz-txt-list h5 {
    display: inline-block;
    float: left;
}
.zntz-box .btn {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #FFF;
    background-color: #E30A20;
    text-align: center;
}
.zntz-status {
    font-size: 10px;
    margin: 30px 10px 30px 30px;
    border-left: 1px solid #a0a0a0;
}
.zntz-status p {
    font-size: 12px;
    padding-top: 4px;
}
.zntz-status .ing {
    color: #a40000;
}
.zntz-status li {
    margin-bottom: 32px;
}
.zntz-status .icon {
    position: relative;
    float: left;
    margin: 0 10px 0 -20px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/zntz-step1.jpg) no-repeat;
    background-size: 40px 40px;
}
.zntz-status .step2 .icon {
    background-image: url(../images/zntz-step2.jpg);
}
.zntz-status .step3 .icon {
    background-image: url(../images/zntz-step3.jpg);
}
.zntz-agreement {
    padding: 0 0 10px;
}
.zntz-agreement a {
    color: #a40000;
}
.zntz-tips {
    padding: 6px 0;
    font-size: 13px;
}
.zntz-tips .icon {
    position: relative;
    float: left;
    top: -3px;
    margin: 0 10px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/icon_suc.jpg) no-repeat;
    background-size: 25px 25px;
}
.user-zntz-info-items li {
    text-align: right;
    padding: 14px;
    line-height: 24px;
    border-bottom: 1px dotted #d3d2d0;
}
.user-zntz-info-items label {
    float: left;
}
.zntz-box .recharge-btn{
    display: block;
    height: 44px;
    line-height: 44px;
    margin: 0 0 36px;
    text-align: center;
    border-radius: 3px;
    color: #FFF;
    font-size: 18px;
    background-color: #e30a20;
}
.zntz-box .save-btn {
    display: block;
    width: 100%;
    height: 43px;
    line-height: 43px;
    color: #E30A20;
    text-align: center;
    font-size: 18px;
    border: 1px solid #E30A20;
    border-radius: 3px;
    background-color: #FFF;
}
#J_zntzTip .link {
    display: block;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    border-right: 1px #C8C7CC solid;
    width: 100%;
    border-top: 1px solid #C8C7CC;
    -webkit-box-flex: 1;
    color: #a40000;
}

/* =我的账户>我的投资>投资明细 user_invest_info.html
-------------------------------------------------------------- */
.user-invest-info .amount-info {
    background-color: #fff;
    color: #000;
}
.user-invest-info .amount-info ul {
    overflow: hidden;
}
.user-invest-info .amount-info li {
    float: left;
    width: 30.3333%;
    padding: 10px 0 10px 3%;
}
.user-invest-info .amount-info h5 {
    font-weight: 100;
    font-size: 10px;
}
.user-invest-info .amount-info strong {
    font-size: 14px;
    display: block;
    line-height: 22px;
}
.user-invest-info .amount-info em {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #a40000;
}

.user-invest-info .invest-list {
    color: #999;
    padding: 0 0 30px;
}
.user-invest-info .invest-list li {
    border-bottom: 1px dotted #c9c9c9;
}
.user-invest-info .invest-list a {
    display: block;
    padding: 15px 10px 10px;
}
.user-invest-info .invest-list h5 {
    color: #333;
    font-weight: 100;
}
.user-invest-info .invest-list h6,
.user-invest-info .invest-list .state {
    display: inline-block;
    float: right;
    margin-top: -18px;
}
.user-invest-info .invest-list h6 {
    color: #a40000;
    font-weight: 100;
}
.user-invest-info .invest-list p {
    font-size: 9px;
}
.user-invest-info .invest-list .done {
    background-color: #f6f6f6;
}

.user-invest-info .status-info {
    padding: 30px 0;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
}
.user-invest-info .status-info h3 {
    font-size: 16px;
    font-weight: 100;
    color: #a40000;
    margin-bottom: 6px;
}

.user-invest-info .invest-detail li {
    padding: 15px;
    border-bottom: 1px dotted #c9c9c9;
}
.user-invest-info .invest-detail li.proj {
    padding: 0;
}
.user-invest-info .invest-detail a {
    display: block;
    padding: 15px;
}
.user-invest-info .invest-detail .fr {
    float: right;
}
.user-invest-info .invest-detail i {
    float: right;
    width: 10px;
    height: 10px;
    margin-top: 3px;
    border-top: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
    -webkit-transform: rotate(135deg) skewY(0deg);
    -moz-transform: rotate(135deg) skewY(0deg);
}
.user-invest-info .invest-detail em {
    color: #a40000;
}


/* =我的账户>我的投资>资产明细 user_invest_finance.html
-------------------------------------------------------------- */
.user-invest-finance .finance-amount {
    background: #fff;
}
.user-invest-finance .finance-amount .total {
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.user-invest-finance .finance-amount .total em {
    float: right;
    color: #a40000;
    font-size: 16px;
    margin-top: -4px;
}
.user-invest-finance .amount-list {
    overflow: hidden;
    padding: 15px;
}
.user-invest-finance .amount-list li {
    float: left;
    width: 25%
}
.user-invest-finance .amount-list h5 {
    font-size: 10px;
    font-weight: 100;
}
.user-invest-finance .amount-list p {
    font-size: 13px;
}
.user-invest-finance .amount-list li:before {
    content: '+';
    float: right;
    color: #bfbfbf;
    margin-top: 10px;
    padding: 0 4px;
}
.user-invest-finance .amount-list li:last-child {
    text-align: right;
}
.user-invest-finance .amount-list li:last-child:before {
    content: '';
    padding: 0;
}

.user-invest-finance .finance-records li {
    padding: 15px;
    border-bottom: 1px dotted #c9c9c9;
    color: #000;
}
.user-invest-finance .finance-records h5 {
    font-weight: 100;
}
.user-invest-finance .finance-records .num {
    float: right;
    font-size: 16px;
    margin-top: -20px;
}
.user-invest-finance .finance-records em {
    color: #a40000;
}
.user-invest-finance .finance-records p {
    color: #999;
    font-size: 9px;
}
.user-invest-finance .finance-records .more a {
    display: block;
    text-align: center;
    color: #999;
}


/* =我的账户>提现 user_withdraw.html
-------------------------------------------------------------- */
.withdraw-box .btn {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    background-color: #E30A20;
}
.withdraw-box .bank {
    background-color: #fff;
    padding: 15px 74px;
    margin-bottom: 28px;
}
.withdraw-box .bank .bank-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 4px 10px 0 0;
}
.withdraw-box .bank .bank-intro {
    overflow: hidden;
    color: #999;
    margin-bottom: 10px;
}
.withdraw-box .bank h5 {
    font-size: 18px;
    color: #000;
    font-weight: 100;
}
.withdraw-box .bank .bank-num {
    font-size: 16px;
}
.withdraw-box .bank strong {
    color: #000;
    font-weight: 100;
}
.withdraw-box .bank .bank-tips {
    clear: both;
    color: #999;
}
.withdraw-box .withdraw-amount {
    font-size: 14px;
    color: #999;
    padding: 0 10px;
    margin-bottom: 10px;
}
.withdraw-box .withdraw-amount em {
    color: #fc6621;
    padding: 0 4px;
}
.withdraw-box .withdraw-form {
    padding: 0 10px;
    margin-bottom: 10px;
}
.withdraw-box .withdraw-form .form-item {
    border: 1px solid #c9c9c9;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    text-align: right;
}
.withdraw-box .withdraw-form label {
    float: left;
}
.withdraw-box .withdraw-form em {
    color: #a40000;
}
.withdraw-box .withdraw-form .ipt-txt {
    float: left;
    margin: 0 0 0 30px;
    border: 0;
    width: 100px;
}
.withdraw-box .withdraw-tips {
    color: #999;
    padding: 10px 0;
    text-align: center;
}
.withdraw-box .withdraw-status {
    padding: 15px 10px;
    background-color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #cfcecd;
}
.withdraw-box .withdraw-status .icon {
    display: block;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 10px 0 -16px;
    background: url(../images/suc_icon.jpg) no-repeat;
    background-size: 32px 32px;
}
.withdraw-box .withdraw-status .step2 .icon {
    background-image: url(../images/icon_exp.png);
    background-color: #fff;
    padding-bottom: 20px;
}
.withdraw-box .withdraw-status li {
    margin-left: 20px;
    border-left: 1px solid #d5d5d5;
}
.withdraw-box .withdraw-status li:last-child {
    padding-top: 50px;
}
.withdraw-box .withdraw-status li.done {
    border-left-color: #c11012;
}
.withdraw-box .withdraw-status h5 {
    font-size: 18px;
    color: #000;
    font-weight: 100;
}
.withdraw-box .withdraw-status p {
    font-size: 14px;
    color: #999;
}
.withdraw-box .withdraw-status .txt {
    overflow: hidden;
}
.withdraw-box .plr10 {
    padding: 0 10px;
}
.withdraw-box .addcard-tips {
    margin: 0 10px 20px;
    padding: 10px 0;
    color: #333;
    border-bottom: 1px dotted #d5d5d5;
}
.withdraw-box .addcard-tips {
    margin: 0 10px 20px;
    padding: 10px 0;
    color: #333;
    border-bottom: 1px dotted #d5d5d5;
}
.withdraw-box .addcard-form {
    padding: 0 10px;
}
.withdraw-box .addcard-form .form-item {
    margin-bottom: 10px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    line-height: 20px;
    padding: 10px;
}
.withdraw-box .addcard-form .sel,
.withdraw-box .addcard-form .ipt {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 100%;
    border: 0 none;
}
.withdraw-box .addcard-agreement {
    padding: 10px;
    color: #999;
}
.withdraw-box .addcard-agreement a {
    color: #000;
}


/* =我的账户>推广赚钱 user_promote.html
-------------------------------------------------------------- */
.user-prom .share {
    padding: 15px 20px;
    color: #333;
    background-color: #fff;
}
.user-prom .share .bdimgshare-lbl {
    padding-right: 5px;
    cursor: default;
    float: left;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
}
.user-prom .intro h5,
.user-prom .share h5 {
    padding-bottom: 8px;
    font-size: 14px;
}
.user-prom .intro {
    padding: 15px 0;
}
.user-prom .intro li {
    margin-bottom: 20px;
}
.user-prom .intro h5 {
    padding: 0 20px 8px;
}
.user-prom .intro .center {
    text-align: center;
    padding: 10px 0 0;
}
.user-prom .intro p {
    padding: 0 20px;
    font-size: 10px;
}

.user-prom .records table {
    width: 100%;
}
.user-prom .records th {
    height: 30px;
    line-height: 30px;
    color: #999;
    padding-left: 12px;
    color: #999;
    font-size: 10px;
    border-bottom: 1px dotted #CBCBCB;
    border-top: 1px dotted #CBCBCB;
}
.user-prom .records td {
    padding-left: 12px;
    height: 40px;
    border-bottom: 1px dotted #D4D4D4;
    color: #666;
}
.user-prom .records .tips {
    padding: 20px 0;
    color: #666;
    text-align: center;
    font-size: 10px;
}
.user-prom .money {
    padding: 20px;
    color: #999;
    background-color: #fff;
}
.user-prom .money .now {
    float: left;
    width: 50%;
}
.user-prom .money .now em {
    display: block;
    font-size: 20px;
    color: #a40000;
}
.user-prom .money .past {
    overflow: hidden;
    padding: 0 10px;
}
.user-prom .money .past p {
    font-size: 10px;
}
.user-prom .money .past em {
    font-size: 12px;
    padding: 0 6px;
}
.user-prom .money .past .exchange-btn {
    width: 90%;
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #E0322D;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 6px;
    border: 1px solid #E0322D;
}
.user-prom .asset {
    margin-bottom: 15px;
    padding: 20px 20px 0;
    background-color: #eee;
    color:#999;
    font-size: 10px;
    overflow: hidden;
}
.user-prom .asset li {
    float: left;
    width: 49%;
    margin: 0 0 20px;
    border-right: 1px solid #dcdcdc;
}
.user-prom .asset li:nth-of-type(2),
.user-prom .asset li:last-of-type {
    border-right: 0;
    text-indent: 20px;
}
.user-prom .asset em {
    display: block;
    color: #666;
    font-size: 16px;
}
.exchange-suc {
    text-align: center;
    font-size: 14px;
    padding: 10px 0 30px;
}
.exchange-num .tips {
    padding: 6px 0;
    font-size: 12px;
}
.exchange-num .ipt {
    text-align: right;
    padding: 4px 0;
    margin: 0 0 10px;
    border: 1px solid #b5b5b5;
    background-color: #fff;
}
.exchange-num .ipt input {
    border: 0;
    width: 100%;
    text-indent: 10px;
}
.exchange-num .ipt span {
    position: relative;
    float: right;
    margin-top: -24px;
    padding-right: 10px;
}

