.zntz-conf-items input[type=number] {
    width: 100px;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    text-align: right;
    line-height: 24px;
    padding: 0 10px 0 0;
    border: 0;
}

.user-invest-finance .amount-list li {
    float: left;
    width: 20%
}

.zntz-box .trans-btn {
    display: inline;
    width: 50%;
    height: 43px;
    line-height: 43px;
    color: #E30A20;
    text-align: center;
    font-size: 18px;
    border: 1px solid #E30A20;
    border-radius: 3px;
    background-color: #FFF;
}
