.zntz-conf-items input[type=number] {
    width: 100px;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    text-align: right;
    line-height: 24px;
    padding: 0 10px 0 0;
    border: 0;
}

.user-invest-finance .amount-list li {
    float: left;
    width: 20%
}
