.zntz-conf-items input[type=number] {
    width: 100px;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    text-align: right;
    line-height: 24px;
    padding: 0 10px 0 0;
    border: 0;
}

.user-invest-finance .amount-list li {
    float: left;
    width: 20%
}

.zntz-box .trans-btn {
    display: inline;
    width: 50%;
    height: 43px;
    line-height: 43px;
    color: #E30A20;
    text-align: center;
    font-size: 18px;
    border: 1px solid #E30A20;
    border-radius: 3px;
    background-color: #FFF;
}

.user-money {
    margin-bottom: 0px;
}

.user-tz {
    margin-bottom: 15px;
}

.user-tz ul {
    background-color: #eee;
}

.zntz-overlay {
    position: absolute;
    top: 48px;
    width: 100%;
    background-color: #e4e3e2;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.zntz-total em {
    color: #fbc860;
}

.zntz-total li.first {
    padding-left: 10%;
    float: left;
}

.zntz-total li {
    float: right;
    width: 40%;
    font-size: 12px;
    color: #666;
}

.zntz-intro li {
    float: left;
    width: 40%;
}

.zntz-intro li:last-child {
    float: right;
    width: 40%;
}

ul.zntz-intro {
    padding-left: 30px;
}

.zntz-conf {
    margin-top: 10px;
}

.zntz-conf-items input[type=button] {
    width: 50px;
    font-size: 16px;
    color: blue;
    font-weight: 800;
    text-align: right;
    line-height: 24px;
    padding: 0 10px 0 0;
    border: 0;
}

span.info {
    line-height: 24px;
    font-size: 12px;
    font-weight: 200;
}

.zntz-conf {
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #fff;
}
