<div class="wrapper">
    <div class="freeTitle">
        {{#ifCond type "==" 1}}
            <div class="fl"><span>天天牛</span> &nbsp;&nbsp;短线炒股、最高500万、利润放大5倍</div>
        {{else}}
            <div class="fl"><span>月月牛</span> &nbsp;&nbsp;炒股利器、最高300万、可投资1-6个月</div>
        {{/ifCond}}
        <a href="#">新手引导>></a>
        <div class="clear"></div>
    </div>
    <div class="column">
        <div class="fl num02">
            <span class="numSpan2">1</span>
            选择炒股资金
        </div>
        <div class="fl  num02">
            <span class="numSpan2">2</span>
            支付保证金
        </div>
        <div class="fl num01">
            <span class="numSpan">3</span>
            完成申请
        </div>
    </div>
    <div class="freeContent">
    {{#if pending}}
        <p class="freeContent_p01">今日免费体验限额已经用完</p>
        <p class="freeContent_p02">免费体验每天限额<span class="span01">200</span>名</p>
        <div class="freeUserInfo">
            <p>有疑问请咨询客服</p>
            <p>客服电话：400-692-1388</p>
        </div>
        <div class="freeText2">
            您也可以去 <a href="/apply" class="color_f2991b fb">天天牛</a> 直接申请操盘资金。
        </div>
    {{else}}
        <p class="freeContent_p01">申请完成，本次配资单号为{{serial_id}}</p>
        <p class="freeContent_p02">成功获得 <span class="span01">{{amount}}</span><span class="color_c82217">元</span>操盘资金</p>
        <div class="freeUserInfo">
            <p>您的操盘申请正在审核中</p>
            <p>我们将会尽快为您分配操盘账户</p>
            <!--
            <p>操盘账户：<span class="color_c82217">12345678</span>&nbsp;&nbsp;&nbsp;密码：<span class="color_c82217">123456</span></p>
            <a href="#">发送到手机</a>
            -->
        </div>
        <div class="freeText2">
            <!--
            <span class="icon01">&nbsp;</span>
            请妥善保管自己的交易账户信息，勿向他人泄露！<br />
            -->
            您也可以在 <a href="/user" class="color_f2991b fb">我的账户</a> > <a href="/user" class="color_f2991b fb">我的操盘</a> 中查看您的操盘账户信息。
        </div>
    {{/if}}
    </div>
    <div class="freeDownloadBox">
        <div class="freeContent">
            <p class="p01">立即下载客户端进行交易</p>
            <a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4"><span class="icon icon02">&nbsp;</span> Windows版</a>
            <a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4"><span class="icon icon03">&nbsp;</span>iOS版</a>
            <a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4" class="a01"><span class="icon icon04">&nbsp;</span>Android版</a>
            <div class="clear"></div>
            <p class="p02">暂不支持Mac操盘，苹果电脑用户请使用手机软件操盘，由此带来不便，敬请谅解。</p>
        </div>
    </div>
</div>
