<div class="wrapper">
    <div class="freeTitle2">
        盈利全归您，亏损我们付!
    </div>
    <div class="freeImg">
        <p>每一位用户<span class="fb">只有 1次</span><br />体验机会，不容错过</p>
        <p>牛金网<span class="fb">提供 2000元</span><br />实盘资金，不收取任何服务费</p>
        <p>您<span class="fb">支付 1元</span>保证金，<br />体验结束后全部返还</p>
        <p class="p01">您<span class="fb">交易 2天</span>，第二天<br />收盘前结束交易</p>
    </div>
    <a href="/free_apply_confirm" class="freeBtn01"><span>立即免费体验</span>（仅支付1元保证金，结束后返还）</a>
    <div class="freeText">如有疑问或需要帮助，请联系在线客服，或拨打客服热线：400-692-1388<br />收盘后申请的交易账户最迟会在下一个交易日09:15之前分配好</div>
</div>
