<div class="wrapper">
    <div class="freeTitle">
        <span>免费体验</span> &nbsp;&nbsp;短线炒股、最高30万、利润放大10倍
    </div>
    <div class="column">
        <div class="fl num01">
            <span class="numSpan">1</span>
            参与免费体验
        </div>
        <div class="fl num02">
            <span class="numSpan2">2</span>
            开始投资股票
        </div>
        <div class="fl num02">
            <span class="numSpan2">3</span>
            盈利全归你
        </div>
    </div>
    <div class="freeImg">
        <p>每一位用户<span class="fb">只有 1次</span>体验<br />机会，不容错过</p>
        <p>牛金网<span class="fb">提供 2000元</span>实盘<br />资金，不收取任何服务费</p>
        <p>您<span class="fb">支付 1元</span>保证金，体验<br />结束后全部返还</p>
        <p class="p01">您<span class="fb">交易 2天</span>，第二天收盘<br />前结束交易</p>
    </div>
    <p class="freeP01">盈利全归您，亏损我们付!</p>
    <a href="success.html" class="freeBtn01">立即体验 （仅支付1元）</a>
    <div class="freeText">如有疑问或需要帮助，请联系在线客服，或拨打客服热线：400-692-1388<br />免费体验的交易账户，将会在下一个交易日09:15之前分配好</div>
</div>
