<style>
    .apply-close-box .intro-box {
        margin: 50px 10px 50px 10px;
    }
    .apply-close-box .intro-box p {
        font-size:15px;
    }
    .apply-close-box .intro-box ol li {
        font-size:15px;
    }
    .apply-close-box .button-area {
        margin-top:20px;
    }
    .apply-close-box .button-area button {
        width:100%;
        height:46px;
        line-height:46px;
        text-align:center;
        background-color:#4b90f7;
        color:#ffffff;
        font-size:20px;
        border-radius:5px;
        border:none;
    }
</style>
<section class="apply-close-box">
    <!--#S header-->
    <header id="header">
        <div class="header-box">
            <h1>申请结算</h1>
            <a class="back" href="" onclick="history.back();  return false;"></a>
        </div>
    </header><!--#E header-->

    <div class="container">
        <div class="row">
            <div class="intro-box">
                <p>结算规则</p>
                <ol>
                    <li>1.申请结算账户，账户将不能进行交易!!</li>
                    <li>2.申请前您需要平仓，否则系统会强制平仓!!</li>
                    <li>3.结算申请将会在一个工作日内处理完，节假日顺延!!</li>
                    <li>4.结算完成后，将不能登录使用实盘交易!!</li>
                    <li>5.结算金额将会进入您入资的银行账户</li>
                </ol>
            </div>
            <!--<button class="btn btn-primary col-xs-12" ng-click="closeApply()">\{{btn_text}}</button>-->
        </div>
        <div class="button-area">
            <button ng-click="closeApply()">\{{btn_text}}</button>
        </div>
    </div>

    <div class="ui-tip" ng-show="inputError">\{{errorMsg}}</div>
</section>
