<style>
	.input-area {
		margin-top:20px;
		height:46px;
		margin-left:10px;
		margin-right:10px;
		border:1px solid #cccccc;
		position:relative;
	}
	.input-area label {
		position:absolute;
		text-align:center;
		width:90px;
		height:100%;
		top:0;
		left:0;
		border-right:1px solid #cccccc;
		background-color:#eeeeee;
		font-size:20px;
		color:#555555;
		line-height:46px;
		font-weight:normal;
	}
	.input-area input {
		text-indent:5px;
		background-color:#ffffff;
		padding-left:90px;
		padding-right:0px;
		height:100%;
		font-size:20px;
		color:#555555;
	}
	.button-area {
		margin-top:20px;
		margin-left:10px;
		margin-right:10px;
	}
	.button-area button {
		width:100%;
		height:46px;
		line-height:46px;
		text-align:center;
		background-color:#4b90f7;
		color:#ffffff;
		font-size:20px;
		border-radius:5px;
		border:none;
	}
	.note {
		margin-top:15px;
	}
	.note p {
		margin-top:5px;
		text-align:center;
		font-size:15px;
	}
</style>
<header id="header">
	<div class="header-box">
		<h1><span>申请操盘</span></h1>
		<a href="" class="back" onclick="history.back(); return false;"></a>
	</div>
</header>
<form>
	<div class="input-area">
		<label>手机号</label>
		<input type="tel" class="form-control" id="user-phone" ng-model="mobile" pattern="1[3|5|7|8|][0-9]{9}" autofocus placeholder="请输入您的手机号" required>
	</div>
</form>
<div class="button-area">
	<button type="button" class="button-style" ng-click="appoint()">立即申请</button>
</div>
<div class="note">
	<p>我们将尽快联系您</p>
	<p>盈利能力优秀的用户申请成功的概率更大</p>
</div>
<div class="ui-tip" ng-show="showError">\{{errorMsg}}</div>