<style>
    .info {
        margin-top: 20px;
    }
</style>

<header id="header">
    <div class="header-box">
        <h1><span>预约实盘</span></h1>
        <a href="" class="back" onclick="history.back();  return false;"></a>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="info">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">手机号</div>
                        <input type="text" class="form-control" id="user-phone" placeholder="手机号">
                    </div>
                </div>
            </form>
            <p>我们将尽快联系您</p>
            <button type="submit" class="btn btn-primary">立即预约</button>
            <p>盈利能力优秀的用户预约成功的概率更大</p>
        </div>
    </div>
</div>
