<style>
</style>

<header id="header">
    <div class="header-box">
        <h1><span>预约实盘</span></h1>
        <a href="" class="back" onclick="history.back();  return false;"></a>
    </div>
</header>
<div class="container">
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="user-phone" class="col-xs-2 control-label">手机号</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="user-phone" placeholder="手机号">
                </div>
            </div>
            <p>我们将尽快联系您</p>
            <!--
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">立即预约</button>
                </div>
            </div>
            <p>盈利能力优秀的用户预约成功的概率更大</p>
        </form>
    </div>
</div>
