<style>
    /* =登录&注册&找回密码 login.html&sign.up&forget.html
-------------------------------------------------------------- */
    .form-box {
        padding: 20px 10px 10px;
    }
    .form-box button, input[type='button'] {
        border: none;
        width: 90%;
        background: #FFF;
        height: 30px;
        line-height: 30px;
        font-size:16px;
        font-weight:500;
    }
    .form-box .submit-btn {
        width: 100%;
        height: 43px;
        line-height: 43px;
        margin-bottom: 15px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        border-radius: 3px;
        background-color: #e30a20;
    }
    .form-box .form-item {
        border: 1px solid #c9c9c9;
        padding: 5px 10px;
        margin-bottom: 15px;
        background: #fff;
    }
    .form-box .form-item label {
        padding-right: 10px;
    }
    .form-box .form-item .ui-switch {
        float: right;
        top: 5px;
        padding-right: 0;
    }
    .form-box p {
        margin-bottom: 15px;
    }
    .form-box form a {
        color: #a40000;
    }
    .form-box .form-item input {
        border: none;
        width: 80%;
        background-color: #fff;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .form-box .signup-btn {
        display: block;
        height: 43px;
        line-height: 43px;
        color: #e30a20;
        text-align: center;
        font-size: 18px;
        border: 2px solid #e30a20;
        border-radius: 3px;
        background-color: #fff;
    }
    .form-box .ipt-txt {
        background-color: #fff;
    }

    .form-box .verify-ipt {
        overflow: hidden;
        margin-bottom: 15px;
    }
    .form-box .verify-ipt .ipt-txt {
        float: left;
        width: 45%;
        height: 30px;
        line-height: 30px;
        padding: 5px 10px;
        border: 1px solid #c9c9c9;
    }
    .form-box .verify-ipt .get-verify {
        float: right;
        width: 45%;
        height: 40px;
        line-height: 40px;
        color: #e30a20;
        font-size: 16px;
        text-align: center;
        border: 1px solid #e30a20;
        background-color: #fff;
    }
    .form-box .verify-ipt .get-verify.disabled {
        background-color: #eee;
        border: 1px solid #eee;
        color: #aaa;
    }

    .agree-box {
        padding: 15px;
    }
    .agree-box p {
        padding: 4px 0;
    }
    .agree-box h5 {
        font-size: 14px;
        font-weight: 700;
        padding: 10px 0 5px;
    }
    .agree-box .warn {
        color: #a40000;
    }
</style>

<section>
    <!--#S header-->
    <header id="header">
        <div class="header-box">
            <h1>投资顾问协议</h1>
            <a class="back" href="" onclick="history.back();  return false;"></a>
        </div>
    </header><!--#E header-->

    <div>
        <p>甲方(委托方):个人公司</p>
        <p>地址:</p>
        <p>乙方(操盘方):</p>
        <table class="table">
            <tbody>
            <tr>
                <td>姓名</td>
                <td>身份证号码</td>
                <td>微信号</td>
            </tr>
            <tr>
                <td>\{{user.identity.name}}</td>
                <td>\{{user.identity.id}}</td>
                <td>\{{user.wechat.wechat_name}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1>第一条 总则</h1>
        <p>1. 甲方是一家在北京市依法成立并有效存续的有限责任公司，拥有niujin.cn网站（下称“拍拍机网站”）的经营权，投资咨询，信息咨询服务。</p>
        <p>2. 乙方已在拍拍机网站注册，并承诺其提供给甲方的信息是完全真实的。</p>
        <p>3. 乙方有操盘股指期货交易账户获利的需求，甲方亦同意提供股指期货交易账户，双方有意成立委托操盘关系。</p>
        <h2>据此，各方经协商同意，达成如下协议，以资共同信守:</h2>
        <h2>第二条 合作方式</h2>
        <p>1.乙方以保证金方式取得甲方股指期货交易账户的操作权限，成为甲方的投资顾问，且乙方独立承担操盘的全部风险。甲方授权给乙方操盘的股指期货交易账户可交易金额为乙方保证金的一定比例。具体约定如下：</p>
        <p>乙方保证金 ： ￥30000.00 元</p>
        <p>甲方提供(期货账户)初始金额：￥200000.00 元</p>
        <p>2. 乙方可以使用上述期货交易账户内资金总额购买中国金融期货交易所沪深300主力合约IF，盈利归乙方所有，亏损由乙方承担，即乙方对上述账户进行期货买卖等操作产生的一切风险和后果由乙方承担，与甲方无关。</p>
        <p>3. 乙方交易的规则如下：</p>
        <ol>
            <li>交易品种:中国金融期货交易所沪深300主力合约，交易代码IF。</li>
            <li>交易金额:根据中国金融期货交易所交易规则，期指合约以沪深300指数点为买入标的，每个指数点300元，最小报价单位为0.2点，1手期指合约的交易金额为指数点＊300元。</li>
            <li>交易时间:用户实盘可委托开仓股指期货合约时间为交易日9:30:00-15:12:59，不可参与集合竞价，不容许持仓过夜。 </li>
            <li>特别说明:<br>1、对于接近涨跌停板附近的交易，合约价格在离涨跌停板价格的 50个点 以内的，不得新开反向单。<br>2、对于接近涨跌停板附近的交易，合约价格在离涨跌停板价格的 20个点 以内的，对持有反向持仓的交易强平。</li>
        </ol>
        <h1>第三条 警戒/平仓线</h1>
        <p>当乙方账户余额（保证金）低于10000元/手时（警戒线），账户将被系统自动限制开仓，需补充保证金至初始水平方可解禁；</p>
        <p>当乙方账户余额（保证金）低于5000元/手时（平仓线），系统自动平仓并中止乙方操作权，甲方有权冻结账户并按平仓线对应的价格进行结算，并终止协议。为避免平仓发生，乙方应时刻关注仓位、检查风险保证金是否充足。</p>
        <h1>第四条 账户管理费和交易综合费</h1>
        <p>乙方根据甲方提供的账户初始资金金额，按账户的使用天数缴纳一定金额的账户管理费，试运行期间金额为：￥0/交易日。账户管理费以天计算，用几天算几天。计息日以乙方期货账户交易资金到位开始收取。</p>
        <p>交易手续费：开仓、平仓皆为150元每手。</p>
        <h1>第五条 保证金及担保范围</h1>
        <p>1. 乙方应根据本协议的约定支付保证金到甲方指定账户，并及时补足保证金。</p>
        <p>2. 乙方保证金担保范围包括但不限于：账户管理费、滞纳金、违约金、损害赔偿金、诉讼费、律师费、调查费、公证费等为实现债权所发生的费用。</p>
        <p>3. 如乙方未及时付清账户管理费，甲方有权从本协议对应的期货交易账户内平仓出金修改密码限制开仓，然后从本协议对应的保证金中直接收取拖欠的账户管理费，如果本协议保证金不足以支付的，甲方有权从乙方在甲方平台账户余额或其他交易中或任何方式追索拖欠的账户管理费。</p>
        <p>4. 乙方授权甲方，如果乙方未能履行本协议约定的任何义务，甲方无论是否事先通知乙方，均可直接从乙方保证金中划扣乙方应付欠款。本授权委托在本协议法定诉讼时效内不可撤销。</p>
        <h1>第六条 还款和结算方式</h1>
        <p>1. 乙方授权甲方在本协议终止前，每个交易日从乙方在甲方平台账户的余额中扣除次日账户管理费。</p>
        <p>2. 当期货交易账户的总资产大于借款额和初始保证金的总额时，视作期货交易账户的盈利归乙方取得，乙方有权要求甲方将盈利部分转至乙方名下账户。</p>
        <p>3. 本协议终止时，乙方应将期货交易账户的总资产全部变现为货币资金，以便甲方办理子账户内资产的清算手续。甲方须在办理完毕清算手续的三日内将除甲方本金和账户管理费之外的款项划转到乙方在甲方平台账户余额；</p>
        <p>4. 本协议终止时，甲方如未能全部收回其本金及账户管理费，有权向乙方追偿。乙方除归还甲方全部本金和账户管理费外，还应从协议终止之日起按甲方本金的0.1%/日向甲方支付违约金。</p>
        <h1>第七条 甲方的权利、义务及违约责任</h1>
        <p>1. 甲方有权监管期货交易账户的运作，对乙方进行账户管理和风险控制。</p>
        <p>2. 甲方按本协议约定的金额每日向乙方收取账户管理费。</p>
        <p>3. 甲方有权在必要时对乙方进行账户管理费、交易损失的违约提醒及催收工作，包括但不限于电话通知、上门通知、发律师函、对乙方提起诉讼等。</p>
        <p>4. 甲方应对乙方的信息及本协议内容保密；如任乙方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），甲方有权披露。</p>
        <p>5. 如乙方所购期货合约因异常波动、突发性事件或不可控等原因连续涨跌停板导致平仓无法实现，对甲方资金造成损失。该期货合约连续涨跌停板打开且平仓可以实现时，如乙方仍有未清偿的债务，则甲方有权直接将该期货账户平仓用于清偿乙方所欠甲方的债务，剩余部分返还至乙方指定账户内。当乙方所欠甲方的债务全部清偿完毕，则甲方不再收取乙方的账户管理费和逾期违约金。</p>
        <h1>第八条 乙方的权利、义务及违约责任</h1>
        <p>1. 乙方可以通过甲方提供的期货交易账户按照本协议约定进行买卖操作，有权收取使用期货交易账户内资金总额投资所得的收益，承担全部损失；无论期货交易账户盈亏如何，乙方须按本协议约定向甲方支付账户管理费。</p>
        <p>2. 如期货交易账户内的所有期货合约出售（即清盘）后，还不足以归还甲方账号初始资金金额，乙方必须在清盘后三日内将亏损额补足归还给甲方，否则甲方有权从乙方在甲方进行交易的其他交易账户中扣除相应金额。</p>
        <p>3. 乙方不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反期货交易法律法规及期货公司规定的交易，如有任一次上述交易行为，应支付给甲方账号初始资金金额10%的违约金，并直接从保证金中扣除，因此产生的一切责任和损失，由乙方承担。</p>
        <p>4. 如因乙方违规操作、债务等原因，导致甲方账户（包括银行账户和期货账户）被依法采取查封、冻结、划拨等强制措施，造成甲方损失的，乙方应从账户被依法处置之日起按本金及利息之和按照0.1%的日利率向甲方支付违约金，如违约金不足以弥补损失的，乙方还应承担赔偿责任。</p>
        <h1>第九条 风险揭示</h1>
        <p>甲方在签署本合同前须履行风险提示义务；乙方在签署本合同前须详细阅读本协议内容及相关风险提示，以便正确、全面了解期货合作操盘网上交易的风险。</p>
        <p>1、 信息所有权申明</p>
        <p>操盘用户享有实盘操作权和收益分配权，实盘资金所有权及依附于实盘资金所产生的交易数据信息所有权均归属拍拍机，拍拍机有权进行公开及商业性使用。</p>
        <p>2、 数据差异申明</p>
        <p>因系统后台保留的小数点位数要长于前端展示给操盘用户的小数点位，加之系统后台计算自动四舍五入因素，两种数据取值的计算结果存在一定差异，以系统后台清结算数据为准。</p>
        <p>3、 清结算数据差异处理</p>
        <p>当清算数据与结算数据存在差异时，以结算数据为准。因清结算数据差异导致少付乙方相关收益，平台需于结算后24小时内将差额部分汇入乙方相关账户。因清结算数据差异导致多付乙方相关收益，平台有权从乙方相关账户扣回差额部分，但当无法从乙方相关账户扣回差额部分时，乙方有义务于结算后24小时内将差额部分以指定方式归还拍拍机。</p>
        <p>4、 交易风险申明</p>
        <ul>
            <li>技术风险：由于交易撮合及行情揭示等是通过电子通讯技术和电脑技术来实现的，这些技术存在着被网络黑客和计算机病毒攻击的可能，由此可能给操盘用户带来损失，操盘用户将不得不承担由此导致的损失。</li>
            <li>不可抗力因素导致的风险：诸如地震、火灾、水灾、战争等不可抗力因素可能导致交易系统的瘫痪；与拍拍机系统连接的期货营业部、服务器托管机房和网络运营商，他们无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障等也可能导致拍拍机系统非正常运行甚至瘫痪，这些都会使操盘用户的交易委托无法成交或者无法全部成交，操盘用户将不得不承担由此导致的损失。</li>
            <li>其他风险：由于操盘用户密码失密、操作不当、投资决策失误等原因可能会发生亏损，该损失将由操盘用户自行承担；</li>
            <li>如果由于某种原因使操盘用户无法通过互联网进行正常的交易委托，请立即与拍拍机在线客服联系，我们会尽快帮助操盘用户解决出现的问题，并且提供全面的咨询服务。</li>
        </ul>
        <p>5、 期货风险申明</p>
        <ul>
            <li>宏观经济风险：由于我国宏观经济形势的变化以及周边国家、地区宏观经济环境和周边期货市场的变化，可能会引起国内期货市场的波动，使操盘用户存在亏损的可能，操盘用户将不得不承担由此造成的损失。</li>
            <li>政策风险：有关期货市场的法律、法规及相关政策、规则发生变化，可能引起期货市场价格波动，使操盘用户存在亏损的可能，操盘用户将不得不承担由此造成的损失。</li>
        </ul>
        <p>6、 互联网使用申明</p>
        <ul>
            <li>互联网是全球性公共网络，并不由任何一个机构所控制。数据在互联网上传输的途径不是完全确定的。互联网本身并不是一个完全安全可靠的网络环境。</li>
            <li>互联网上的传输的数据可能被截获或窃听，但拍拍机已经对操盘用户交易数据进行了加密处理，即使数据被他人截获，他们也不一定能了解数据的内容。</li>
            <li>由于互联网上传输线路拥挤、服务器繁忙或其他原因，交易指令可能会出现中断、停顿、延迟、数据错误等情况，在出现以上故障时，为了保证操盘用户顺利交易，拍拍机建议操盘用户务必即时联系客服。</li>
            <li>互联网是一个开放的但不安全的网络，机构或投资者的身份可能会被仿冒，为了操盘用户交易安全，我们建议操盘用户经常更改密码。</li>
            <li>互联网上发布行情信息及其他证券信息可能出现滞后、错误或误导。</li>
            <li>操盘用户选择廉价宽带网络服务商提供的上网服务，可能导致在某些情况下对某些区域的服务器访问缓慢甚至不能访问，这种情况下不能正常访问拍拍机服务器，建议用操盘用户选择有实力的运营商提供的高质稳定的宽带上网服务。</li>
        </ul>
        <p>7、 拍拍机故障免责申明</p>
        <p>互联网技术日新月异的同时也蕴藏着各种未知风险，拍拍机承诺投入更多的技术、资金和人力，最大程度去保障交易系统稳定运行，不断提升操盘用户交易体验感，但拍拍机无法承诺系统能够100％的无故障运行。 一旦拍拍机交易系统发生故障，操盘用户有可能因错失交易时机造成实际损失，对此拍拍机不仅无法认定更无力承担，操盘用户将不得不承担由此导致的损失。</p>
        <p>8、 参与规则完善申明</p>
        <p>本规则解释权归属拍拍机，同时拍拍机保留对参与规则进行必要的变更和完善，并力求通过网站提前给予发布.</p>
        <p>乙方签订本合同后，表明乙方已完全了解网上交易可能存在的相应风险，以及自身决策失误造成的损失，并承诺自行承担。</p>
        <p>9、 不可抗力免责声明</p>
        <p>对于本协议合作所需的任何批准，相关政府主管部门未能作出、或者任何该等重要的批准被暂扣、吊销或撤销；或者本协议项下的业务因违反法律、法规或监管机构的要求；或与本协议项下产品有关的产品、技术被监管机构认为非法并予以叫停的；或会导致本协议下所涉及之合作不为法律所允许的任何其他情形；或者超出主张不可抗力的一方合理控制的任何其他事件。</p>
        <h1>第十条 协议的订立</h1>
        <p>1. 乙方同意并确认自行根据拍拍机网站有关规则和说明在拍拍机网站签署本协议。</p>
        <p>2. 甲乙双方通过上述方式接受本协议且甲方审核通过时，本协议立即生效。</p>
        <p>3. 甲方可根据风控需求，对以本协议风控规则进行修订并在甲方网站发布。甲乙双方需应不时地注意甲方及具体规则的变更，若甲乙双方在本协议及具体规则内容公告变更后继续使用本服务的，表示甲乙双方已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用本网站的服务；同时就甲乙双方在协议和具体规则修订前通过本网站进行的交易及其效力，视为您已同意并已按照本协议及有关规则进行了相应的授权和追认。</p>
        <h1>第十一条 协议终止</h1>
        <p>1. 本协议生效之日起，最长有效期为30个自然日。乙方可在协议生效三个自然日后，随时申请终止本协议。协议终止时，乙方需将期货交易账户内期货合约全部卖出，以便甲方可以按本协议约定进行账户资金结算。</p>
        <p>2. 如因期货公司政策原因，期货交易账户无法正常继续使用，本协议自动终止，甲乙双方互不追究违约责任，按本协议约定进行结算。</p>
        <p>3. 乙方违法违规进行期货操作或乙方有严重违约行为的，甲方有权立即解除本协议，平仓锁定账户，收回本金，已收取账号管理费不退还给乙方，在确定不会给甲方造成损失的前提下，甲方向乙方退回剩余保证金。</p>
    </div>
    <div class="form-box">
        <p>实名信息</p>
        <form name="identityForm" novalidate>
            <div class="form-item">
                <input name="user_name" type="text" placeholder="请输入真实姓名" ng-model="userName" maxlength="16" required autofocus>
            </div>
            <div class="form-item">
                <input name="user_id" type="text" placeholder="请输入身份证号码" ng-model="userID" pattern="^\d{15}$|^\d{18}$|^\d{17}(\d|X|x)$" required>
            </div>
        </form>
        <button type="submit" class="submit-btn" ng-click="verifyUserIdentity()">我已阅读并同意该协议</button>
    </div>

    <div class="ui-tip" ng-show="inputError">\{{errorMsg}}</div>
</section>
