<style>
    .index-box .opt-box .profit {
        margin-bottom: 2em;
        border-bottom: 1px solid #999;
    }
    .index-box .opt-box .profit p {
        text-align: center;
        font-size: 2em;
    }
    .index-box .opt-box .profit p>em {
        color: red;
        font-weight: bold;
        font-size: 1.5em;
    }
    .index-box .opt-box .info-box {
        font-size: 3em;
        text-align: center;
    }
    .index-box .opt-box .trader-time-hint {
        text-align: center;
    }
    .index-box .money-status span {
        font-size: 0.9em;
    }
    .opt-box .opt-btns .circle-btn-disable {
        background: #b5b5b5;
    }
    .share-mask {
        position: absolute;
        z-index: 10000;
        opacity: 0.8;
        top: 0px;
    }
    .share-mask img {
        width: 100%;
    }
    .columnRightText {
        overflow: hidden;
        height: 30px;
    }
    .money-status .scroll-area {
        height: 30px;
        /*
        background-color: gray;
        color: white;
        */
    }
    .money-status .scroll-area #demo1,
    .money-status .scroll-area #demo2 {
        text-align: center;
    }
    .opt-btns .container .row .mid {
        margin-left: 3em;
    }
    .opt-btns .container .row .left {
        text-align: left;
    }
    .opt-btns .container .row .right {
        text-align: right;
    }
    .opt-btns .btns.three {
        height: 100px;
    }
</style>
<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>拍拍机</h1>
        <!--
        <a class="back" href="index.html"></a>
        -->
        <a class="f-pr" href="/futures/#/orders">交易记录</a>
    </div>
</header><!--#E header-->

<div class="index-box">
    <div class="chart-box">
        <h5>今日股指走势图 <span class="pull-right">虚拟盘</span></h5>
        <div class="chart">
            <!--
            <canvas id="J_chart" width="300" height="160" futures-chart="chartLabels" chart-data="chartData"></canvas>
            -->
            <div id="container" style="min-widht:400px;height:400px" futures-chart="chartLabels" chart-data="chartData"></div>
        </div>
        <div class="container">
            <div class="row">
                <span class="col-xs-6">卖价 <em class="text-success">4138.90</em> 2手</span>
                <span class="col-xs-6">买价 <em class="text-danger">4136.50</em> 21手</span>
            </div>
        </div>
    </div>
    <div class="opt-box">
        <!--
        <ul class="times">
            <li>
                <h5>买涨</h5>
                <em>27</em><span>手</span>
            </li>
            <li>
                <h5>买跌</h5>
                <em>7</em><span>手</span>
            </li>
        </ul>
        -->
        <div class="profit">
            <p>盈利 <em>6,778,374.00</em> 元</p>
        </div>
        {{#unless tradeTime}}
            <p class="trader-time-hint text-danger" ng-click="showTradeTime()">现在是非交易时间，点击查看交易时间</p>
        {{/unless}}
        <div class="opt-btns">
            <div class="btns three" id="J_btns">
                <button class="circle-btn p {{#unless tradeTime}}circle-btn-disable{{/unless}}" ng-click="btnClick()">平</button>
                <button class="circle-btn z {{#unless tradeTime}}circle-btn-disable{{/unless}}">涨</button>
                <!--
                <button class="circle-btn pz">平涨</button>
                -->
                <button class="circle-btn d {{#unless tradeTime}}circle-btn-disable{{/unless}}">跌</button>
                <!--
                <button class="circle-btn pd">平跌</button>
                -->
            </div>
            <!--
            <div class="switch-btns" id="J_switchBtn">
                <span class="cur"><em>3</em>键</span>
                <span><em>5</em>键</span>
            </div>
            -->
            <div class="container">
                <div class="row">
                    <button class="col-xs-3 btn left pull-left" disabled>1手</button>
                    <button class="col-xs-3 btn mid pull-left" disabled>2手</button>
                    <button class="col-xs-3 btn right pull-right" disabled>3手</button>
                </div>
            </div>
        </div>
    </div>
    <div class="money-status container">
        <!--
        <ul class="money">
            <li>
                <h5>余额</h5>
                <em>3,256.34</em><span>元</span>
            </li>
            <li>
                <h5>收益</h5>
                <em>3,256.34</em><span>元</span>
            </li>
        </ul>
        <a href="#" class="ui-btn disabled">充值</a>
        -->
        <div class="row">
            <button class="col-xs-3 btn btn-danger pull-left" ng-click="showRank()">看排名</button>
            <div class="scroll-area col-xs-6">
                <div class="columnRightText fl" id="demo">
                    <div id="demo1">
                        <div><span class="">永远的山河兑换现金1000</span>元</div>
                        <div><span class="">美国的日落兑换现金200</span>元</div>
                        <div><span class="">飞翔的毛驴兑换现金300</span>元</div>
                        <div><span class="">吃货的烦恼兑换现金400</span>元</div>
                        <div><span class="">没文化的人兑换现金500</span>元</div>
                    </div>
                    <div id="demo2"></div>
                </div>
            </div>
            <button class="col-xs-3 btn btn-danger pull-right" ng-click="withdraw()">提现</button>
        </div>
    </div>
</div>
<div class="share-mask container" ng-show="showShareHint">
    <div class="row">
        <img src="/futures/images/share.png" alt="" ng-click="showShareHint = false" />
    </div>
</div>

<script>
    var speed=180; //数字越大速度越慢
    var tab=document.getElementById("demo");
    var tab1=document.getElementById("demo1");
    var tab2=document.getElementById("demo2");
    tab2.innerHTML=tab1.innerHTML; //克隆demo1为demo2
    function Marquee(){
        if(tab2.offsetTop-tab.scrollTop<=0){//当滚动至demo1与demo2交界时
            tab.scrollTop-=tab1.offsetHeight; //demo跳到最顶端
        }
        else{
            tab.scrollTop++;
        }
    }
    var MyMar=setInterval(Marquee,speed);
    tab.onmouseover=function() {clearInterval(MyMar)};//鼠标移上时清除定时器达到滚动停止的目的
    tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};//鼠标移开时重设定时器
</script>
