<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1><span>拍拍机</span></h1>
        <a class="back" href="index.html"></a>
        <a class="f-pr" href="trading_records.html">交易记录</a>
    </div>
</header><!--#E header-->

<div class="index-box">
    <div class="chart-box">
        <h5>今日股指走势图</h5>
        <div class="chart">
            <canvas id="J_chart" width="300" height="160"></canvas>
        </div>
    </div>
    <div class="opt-box">
        <ul class="times">
            <li>
                <h5>买涨</h5>
                <em>27</em><span>手</span>
            </li>
            <li>
                <h5>买跌</h5>
                <em>7</em><span>手</span>
            </li>
        </ul>
        <div class="opt-btns">
            <div class="btns three" id="J_btns">
                <button class="circle-btn p">全平</button>
                <button class="circle-btn z">涨</button>
                <button class="circle-btn pz">平涨</button>
                <button class="circle-btn d">跌</button>
                <button class="circle-btn pd">平跌</button>
            </div>
            <div class="switch-btns" id="J_switchBtn">
                <span class="cur"><em>3</em>键</span>
                <span><em>5</em>键</span>
            </div>
        </div>
    </div>
    <div class="money-status">
        <ul class="money">
            <li>
                <h5>余额</h5>
                <em>3,256.34</em><span>元</span>
            </li>
            <li>
                <h5>收益</h5>
                <em>3,256.34</em><span>元</span>
            </li>
        </ul>
        <a href="#" class="ui-btn disabled">充值</a>
    </div>
</div>
