<style>
    .orders-wrapper .orders-header {
        background-color: #4b90f7;
    }
    .orders-wrapper .orders-header .row img {
        margin-top: 2em;
    }
    .orders-wrapper .orders-header .user-name {
        text-align: center;
        font-size: 3em;
        color: white;
    }
    .records-table thead {
        background: #959595;
    }
    .header-box h1 {
        text-align: center;
    }
</style>
<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>交易记录</h1>
        <a class="back" href="/futures"></a>
    </div>
</header><!--#E header-->

<div class="orders-wrapper">
    <div class="orders-header container">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <img src="\{{user.wechat.wechat_img}}" alt="...">
            </div>
            <div class="user-name col-xs-12">
                \{{user.wechat.wechat_name}}
            </div>
        </div>
    </div>
    <div class="records">
        <table class="records-table">
            <thead>
            <tr>
                <th>业务/时间</th>
                <th class="pull-right">金额/价格</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <strong>买涨</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>-23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>买跌</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>-23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>平跌</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>+23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>买涨</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>-23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
