<style>
    .orders-wrapper .orders-header {
        background-color: #4b90f7;
    }
    .orders-wrapper .orders-header .row img {
        margin-top: 2em;
    }
    .orders-wrapper .orders-header .user-info {
        text-align: left;
        font-size: 1.6em;
        color: white;
    }
    .orders-wrapper .orders-header .user-info .name {
        font-size: 1.8em;
    }
    .records-table thead {
        background: #959595;
    }
</style>
<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>交易记录</h1>
        <a class="back" href="/futures"></a>
    </div>
</header><!--#E header-->

<div class="orders-wrapper">
    <div class="orders-header container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-3">
                <img class="img-circle" src="\{{user.wechat.wechat_img}}" width="100%" alt="...">
            </div>
            <div class="user-info col-xs-offset-1 col-xs-6">
                <ul>
                    <li class="name">\{{user.wechat.wechat_name}}</li>
                    <li>盈&nbsp;&nbsp;&nbsp;&nbsp;利: \{{user.wechat.profit}}元</li>
                    <li>积分点: \{{user.score}}</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="records">
        <table class="records-table">
            <thead>
            <tr>
                <th>业务/时间</th>
                <th class="pull-right">金额/价格</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <strong>买涨</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>-23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>买跌</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>-23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>平跌</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>+23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>买涨</strong>
                    <p>2015-06-13 15:37:34</p>
                </td>
                <td align="right">
                    <strong>-23,000.00</strong>
                    <p>4389.32 点</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
