<style>
    .product-block .product-list .product-body {
        margin-left: 10px;
        margin-right: 10px;
        height: 110px;
        margin-top: 10px;
        position: relative;
        border-radius: 5px;
    }
    .product-block .product-list .product-body .product-intro {
        padding-left: 20px;
        padding-top: 17px;
    }
    .product-block .product-list .product-body .product-intro .name {
        font-size: 18px;
        color: #ffffff;
    }
    .product-block .product-list .product-body .product-intro .type {
        border-radius: 5px;
        margin-left: 8px;
        font-size: 12px;
        text-align: center;
        padding:3px 8px;
        color: #ffffff;
    }
    .product-block .product-list .product-body .product-intro .info {
        font-size:15px;
    }
    .product-block .product-list .product-body .product-status {
        height: 23px;
        width: 53px;
        position: absolute;
        right: 14px;
        top: 0;
    }
    .product-block .product-list .product-body .product-status p {
        font-size: 15px;
        text-align: center;
        color: #ffffff;
    }
    .product-block .product-list .product-selected {
        float: right;
        margin-right: 12px;
        margin-top: -30px;
    }
    .product-block .product-list .product-selected img {
        width: 64px;
    }
    .product-block .product-list .product-body .product-time {
        margin-top: 20px
    }
    .product-block .product-list .product-body .product-time p {
        font-size: 12px;
        float: right;
        margin-right: 5px;
    }
    .product-body-primary {
        background-color: #8957a1;;
    }
    .product-body-primary .product-intro .type {
        background-color:#9d6cb5;
    }
    .product-body-primary .product-intro .info {
        color:#d9b3eb
    }
    .product-body-primary .product-status {
        background-color:#80c269;
    }
    .product-body-primary .product-time p {
        color:#d9b3eb;
    }
</style>
<div class="product-block">
    <div class="product-list">
        <div class="product-body product-body-primary">
            <div>
                <div class="product-intro" >
                    <p class="name">IF1508<span class="type">股 指</span></p>
                    <p class="info">沪深300指数，涨跌均可买</p>
                </div>
                <div class="product-status">
                    <p>盘 中</p>
                </div>
                <div class="product-selected">
                    <img src="/futures/images/investing.png" />
                </div>
                <div class="product-time">
                    <p>交易时间:工作日09:15-11:30&nbsp&nbsp&nbsp&nbsp13:00-15:15</p>
                </div>
            </div>
        </div>
        <div class="product-body" style="background-color:#eb6877;">
            <a href="#">
                <div>
                    <div style="padding-left:20px;padding-top:17px">
                        <p style="font-size:18px;color:#ffffff">BABA<span style="color:#ffffff;background-color:#f4828f;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">美 股</span></p>
                        <p style="font-size:15px;color:#f8c7cd">中概股，晚上交易，涨跌均可买</p>
                    </div>
                    <div style="height:23px;width:53px;position:absolute;background-color:#bfbfbf;right:14px;top:0">
                        <p style="font-size:15px;color:#ffffff;text-align:center">休 市</p>
                    </div>
                    <div style="margin-top:20px">
                        <p style="font-size:12px;color:#f8c7cd;float:right;margin-right:5px">交易时间:工作日09:15-11:30&nbsp&nbsp&nbsp&nbsp13:00-15:15</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="product-body" style="background-color:#f19149;">
            <a href="#">
                <div>
                    <div style="padding-left:20px;padding-top:17px">
                        <p style="font-size:18px;color:#ffffff">XAUUSD<span style="color:#ffffff;background-color:#f99d59;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">黄 金</span></p>
                        <p style="font-size:15px;color:#ffd9bd">暂无相关介绍</p>
                    </div>
                    <div style="height:23px;width:53px;position:absolute;background-color:#bfbfbf;right:14px;top:0">
                        <p style="font-size:15px;color:#ffffff;text-align:center">休 市</p>
                    </div>
                    <div style="margin-top:20px">
                        <p style="font-size:12px;color:#ffd9bd;float:right;margin-right:5px">交易时间:工作日00:00-23:59（全天）</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="product-body" style="background-color:#0c637f;">
            <a href="#">
                <div>
                    <div style="padding-left:20px;padding-top:17px">
                        <p style="font-size:18px;color:#ffffff">EURUSD<span style="color:#ffffff;background-color:#107da0;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">欧 元</span></p>
                        <p style="font-size:15px;color:#91cbde">暂无相关介绍</p>
                    </div>
                    <div style="height:23px;width:53px;position:absolute;background-color:#bfbfbf;right:14px;top:0">
                        <p style="font-size:15px;color:#ffffff;text-align:center">休 市</p>
                    </div>
                    <div style="margin-top:20px">
                        <p style="font-size:12px;color:#91cbde;float:right;margin-right:5px">交易时间:工作日00:00-23:59（全天）</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
	<div style="height:110px;margin-top:10px;background-color:#707070;margin-left:10px;margin-right:10px;border-radius:5px">
		<a href="#code_modal" data-toggle="modal">
			<div style="text-align:center;color:#b3b2b2;font-size:15px">
				<p style="padding-top:25px"><img src="/futures/images/bell.png" style="width:25px" /><span style="margin-left:6px">更多交易品种即将上线,敬请期待</span></p>
				<p style="font-size:12px">点击关注拍拍公众号</p>
				<p style="font-size:12px">更多品种及时知道</p>
			</div>
		</a>
	</div>
	<div id="code_modal" class="modal hide">
		<div class="modal-body">
			<img src="/futures/images/code.jpg" style="width:129px" />
		</div>
	</div>
</div>
