<!--<div class="container product-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="pdsa-summary-block pdsa-summary-block-info">
                <div class="summary-background">
                    <i class="glyphicon glyphicon-globe"></i>
                </div>
                <div class="summary-header">
                    <span class="label label-success">盘中</span>
                </div>
                <div class="summary-body">
                    <div class="summary-line-1">IF1508 <span class="label label-danger">股指</span></div>
                    <div class="summary-line-2">沪深300指数，涨跌均可买</div>
                </div>
                <div class="summary-footer">
                    交易时间：工作日09:15-11:30 & 13:00-15:15
                </div>
                <div class="summary-check">
                    <i class="glyphicon glyphicon-ok"></i>
                </div>
            </div>
        </div>
    </div>
</div>-->
	<div style="background-color:#8957a1;margin-left:10px;margin-right:10px;height:100px;margin-top:20px;position:relative;border-radius:5px">
		<div style="padding-left:20px;padding-top:17px">
			<p style="font-size:18px;color:#d9b3eb">IF1508<span style="color:#ffffff;background-color:#9d6cb5;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">股 指</span></p>
			<p style="font-size:15px;color:#ffffff">沪深300指数，涨跌均可买</p>
		</div>
		<div style="height:23px;width:53px;position:absolute;background-color:#80c269;right:14px;top:0">
			<p style="font-size:15px;color:#ffffff;text-align:center">盘 中</p>
		</div>
		<div style="float:right;margin-right:12px;margin-top:-30px">
			<img src="/futures/images/investing.png" style="width:64px" />
		</div>
		<div style="margin-top:10px">
			<p style="font-size:12px;color:#d9b3eb;float:right;margin-right:5px">交易时间:工作日09:15-11:30&nbsp&nbsp&nbsp&nbsp13:00-15:15</p>
		</div>
	</div>
	<div style="background-color:#eb6877;margin-left:10px;margin-right:10px;height:100px;margin-top:10px;position:relative;border-radius:5px">
		<div style="padding-left:20px;padding-top:17px">
			<p style="font-size:18px;color:#f8c7cd">IF1508<span style="color:#ffffff;background-color:#f4828f;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">美 股</span></p>
			<p style="font-size:15px;color:#ffffff">中概股，晚上交易，涨跌均可买</p>
		</div>
		<div style="height:23px;width:53px;position:absolute;background-color:#bfbfbf;right:14px;top:0">
			<p style="font-size:15px;color:#ffffff;text-align:center">休 市</p>
		</div>
		<!--<div style="float:right;margin-right:12px;margin-top:-30px">
			<img src="/futures/images/investing.png" style="width:64px" />
		</div>-->
		<div style="margin-top:10px">
			<p style="font-size:12px;color:#f8c7cd;float:right;margin-right:5px">交易时间:工作日09:15-11:30&nbsp&nbsp&nbsp&nbsp13:00-15:15</p>
		</div>
	</div>
	<div style="height:65px;margin-top:10px;background-color:#707070;margin-left:10px;margin-right:10px;border-radius:5px">
		<a href="#">
			<div style="text-align:center;line-height:65px;color:#b3b2b2;font-size:15px">
				<img src="/futures/images/bell.png" style="width:25px" /><span style="margin-left:6px">更多交易品种即将上线,敬请期待</span>
			</div>
		</a>
	</div>