	<div style="background-color:#8957a1;margin-left:10px;margin-right:10px;height:110px;margin-top:10px;position:relative;border-radius:5px">
		<a href="#">
			<div>
				<div style="padding-left:20px;padding-top:17px">
					<p style="font-size:18px;color:#ffffff">IF1508<span style="color:#ffffff;background-color:#9d6cb5;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">股 指</span></p>
					<p style="font-size:15px;color:#d9b3eb">沪深300指数，涨跌均可买</p>
				</div>
				<div style="height:23px;width:53px;position:absolute;background-color:#80c269;right:14px;top:0">
					<p style="font-size:15px;color:#ffffff;text-align:center">盘 中</p>
				</div>
				<div style="float:right;margin-right:12px;margin-top:-30px">
					<img src="/futures/images/investing.png" style="width:64px" />
				</div>
				<div style="margin-top:20px">
					<p style="font-size:12px;color:#d9b3eb;float:right;margin-right:5px">交易时间:工作日09:15-11:30&nbsp&nbsp&nbsp&nbsp13:00-15:15</p>
				</div>
			</div>
		</a>
	</div>
	<div style="background-color:#eb6877;margin-left:10px;margin-right:10px;height:110px;margin-top:10px;position:relative;border-radius:5px">
		<a href="#">
			<div>
				<div style="padding-left:20px;padding-top:17px">
					<p style="font-size:18px;color:#ffffff">BABA<span style="color:#ffffff;background-color:#f4828f;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">美 股</span></p>
					<p style="font-size:15px;color:#f8c7cd">中概股，晚上交易，涨跌均可买</p>
				</div>
				<div style="height:23px;width:53px;position:absolute;background-color:#bfbfbf;right:14px;top:0">
					<p style="font-size:15px;color:#ffffff;text-align:center">休 市</p>
				</div>
				<!--<div style="float:right;margin-right:12px;margin-top:-30px">
					<img src="/futures/images/investing.png" style="width:64px" />
				</div>-->
				<div style="margin-top:20px">
					<p style="font-size:12px;color:#f8c7cd;float:right;margin-right:5px">交易时间:工作日09:15-11:30&nbsp&nbsp&nbsp&nbsp13:00-15:15</p>
				</div>
			</div>
		</a>
	</div>
	<div style="background-color:#f19149;margin-left:10px;margin-right:10px;height:110px;margin-top:10px;position:relative;border-radius:5px">
		<a href="#">
			<div>
				<div style="padding-left:20px;padding-top:17px">
					<p style="font-size:18px;color:#ffffff">XAUUSD<span style="color:#ffffff;background-color:#f99d59;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">黄 金</span></p>
					<p style="font-size:15px;color:#ffd9bd">暂无相关介绍</p>
				</div>
				<div style="height:23px;width:53px;position:absolute;background-color:#bfbfbf;right:14px;top:0">
					<p style="font-size:15px;color:#ffffff;text-align:center">休 市</p>
				</div>
				<!--<div style="float:right;margin-right:12px;margin-top:-30px">
					<img src="/futures/images/investing.png" style="width:64px" />
				</div>-->
				<div style="margin-top:20px">
					<p style="font-size:12px;color:#ffd9bd;float:right;margin-right:5px">交易时间:工作日00:00-23:59（全天）</p>
				</div>
			</div>
		</a>
	</div>
	<div style="background-color:#0c637f;margin-left:10px;margin-right:10px;height:110px;margin-top:10px;position:relative;border-radius:5px">
		<a href="#">
			<div>
				<div style="padding-left:20px;padding-top:17px">
					<p style="font-size:18px;color:#ffffff">EURUSD<span style="color:#ffffff;background-color:#107da0;border-radius:5px;margin-left:8px;font-size:12px;text-align:center;padding:3px 8px">欧 元</span></p>
					<p style="font-size:15px;color:#448aca">暂无相关介绍</p>
				</div>
				<div style="height:23px;width:53px;position:absolute;background-color:#bfbfbf;right:14px;top:0">
					<p style="font-size:15px;color:#ffffff;text-align:center">休 市</p>
				</div>
				<!--<div style="float:right;margin-right:12px;margin-top:-30px">
					<img src="/futures/images/investing.png" style="width:64px" />
				</div>-->
				<div style="margin-top:20px">
					<p style="font-size:12px;color:#448aca;float:right;margin-right:5px">交易时间:工作日00:00-23:59（全天）</p>
				</div>
			</div>
		</a>
	</div>
	<div style="height:110px;margin-top:10px;background-color:#707070;margin-left:10px;margin-right:10px;border-radius:5px">
		<a href="#code_modal" data-toggle="modal">
			<div style="text-align:center;color:#b3b2b2;font-size:15px">
				<p style="padding-top:25px"><img src="/futures/images/bell.png" style="width:25px" /><span style="margin-left:6px">更多交易品种即将上线,敬请期待</span></p>
				<p style="font-size:12px">点击关注拍拍公众号</p>
				<p style="font-size:12px">更多品种及时知道</p>
			</div>
		</a>
	</div>
	<div id="code_modal" class="modal hide">
		<div class="modal-body">
			<img src="/futures/images/code.jpg" style="width:129px" />
		</div>
	</div>
