<style>
    .setting-box .info {
        margin-top: 20px;
    }
    .setting-box .info p {
        text-align: center;
    }
    .setting-box .confirm p {
        margin-top: 10px;
        text-align: center;
    }
    .setting-box .info {
        margin-left: 10px;
        margin-right: 10px;
    }
    .setting-box .button-area {
        margin-top:20px;
    }
    .setting-box .button-area button {
        width:100%;
        height:46px;
        line-height:46px;
        text-align:center;
        background-color:#4b90f7;
        color:#ffffff;
        font-size:20px;
        border-radius:5px;
        border:none;
    }
    .setting-box .higher {
        height:46px !important;
        line-height:46px !important;
    }
    .setting-box .higher input {
        height:46px !important;
    }
    .slide-button {
        height:30px;
        width:60px;
        position:relative;
        border-radius:15px;
        border:1px solid #ccc;
        background-color:#ebebf4;
    }
    .slide-button .in {
        height:28px;
        width:28px;
        position:absolute;
        border-radius:50px;
        background-color:#d6d6d6;
        border:1px solid #ccc;
        right:0;
        top:0;
    }
</style>

<section class="setting-box">
    <header id="header">
        <div class="header-box">
            <h1><span>自动平仓设置</span></h1>
            <a href="" class="back" onclick="history.back(); return false;"></a>
        </div>
    </header>
    <div class="container" ng-init="setDefaultPoint()">
        <div class="row">
            <div class="info">
                <form class="form">
                    <div class="form-group">
                        <div class="input-group higher">
                            <div class="input-group-addon">止损金额</div>
                            <input type="number" class="form-control" ng-model="lossPoint" min="600" max="100000" placeholder="持仓亏损达到该金额时系统将自动平仓" required>
                            <div class="input-group-addon">
                            <!--
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" ng-click="showLossPointHint()"></span>
                            -->
                                <div class="slide-button current">
                                    <div class="in"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="input-group higher">
                            <div class="input-group-addon">止盈金额</div>
                            <input type="number" class="form-control" ng-model="winPoint" min="600" max="100000" placeholder="持仓盈利达到该金额时系统将自动平仓" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" ng-click="showWinPointHint()"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="button-area">
            <button type="button" class="button-style" ng-click="changeSetting()">\{{titleText}}</button>
        </div>
        <div class="confirm" ng-show="open">
            <p>设置已开启，更改请先关闭</p>
        </div>
    </div>
    <div class="ui-tip" ng-show="showError">\{{errorMsg}}</div>
    <div class="ui-dialog" ng-show="lossPointHint">
        <div class="ui-dialog-cnt">
            <div class="ui-dialog-bd">
                <div>
                    <h4>止损金额</h4>
                    <div class="zntz-tips">【股指中指数波动1个点，盈亏波动300元】</div>
                    <div class="zntz-tips">若在3990点买涨（也叫‘做多’）一手，股指涨至3991点，则盈利300元，股指跌至3989点，则亏损300元</div>
                    <div class="zntz-tips">若在3990点买跌（也叫‘做空’）一手，股指涨至3991点，则亏损300元，股指跌至3989点，则盈利300元</div>
                    <div class="zntz-tips">若您设置止损金额为900元，也即您亏损超过900元（指数波动3个点）时，系统将尽快为您平仓，防止亏损扩大</div>
                </div>
            </div>
            <div class="ui-dialog-ft ui-btn-group">
                <button type="button" ng-click="closeDialogWindow()">我知道了</button>
            </div>
        </div>
    </div>
    <div class="ui-dialog" ng-show="winPointHint">
        <div class="ui-dialog-cnt">
            <div class="ui-dialog-bd">
                <div>
                    <h4>止盈金额</h4>
                    <div class="zntz-tips">【股指中指数波动1个点，盈亏波动300元】</div>
                    <div class="zntz-tips">若在3990点买涨（也叫‘做多’）一手，股指涨至3991点，则盈利300元，股指跌至3989点，则亏损300元</div>
                    <div class="zntz-tips">若在3990点买跌（也叫‘做空’）一手，股指涨至3991点，则亏损300元，股指跌至3989点，则盈利300元</div>
                    <div class="zntz-tips">若您设置止盈金额为900元，也即您盈利超过900元（指数波动3个点）时，系统将尽快为您平仓，防止指数波动盈利缩水</div>
                </div>
            </div>
            <div class="ui-dialog-ft ui-btn-group">
                <button type="button" ng-click="closeDialogWindow()">我知道了</button>
            </div>
        </div>
    </div>
</section>
