<style>
    .setting-box .info {
        margin-top: 20px;
    }
    .setting-box .info p {
        text-align: center;
    }
    .setting-box .info .confirm {
        margin-top: 10px;
    }
    .setting-box .info .confirm p {
        margin-top: 5px;
    }
    .setting-box .info {
        margin-left: 10px;
        margin-right: 10px;
    }
    .setting-box .info .title {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 20px;
    }
</style>

<section class="setting-box">
    <header id="header">
        <div class="header-box">
            <h1><span>自动平仓设置</span></h1>
            <a href="" class="back" onclick="history.back(); return false;"></a>
        </div>
    </header>
    <div class="container" ng-init="setDefaultPoint()">
        <div class="row">
            <div class="info">
                <form class="form-inline">
                    <div class="form-group">
                        <!--
                        <div class="input-group">
                            <div class="pull-right">
                                <label class="title">\{{titleText}}</label>
                                <label class="ui-switch">
                                    <input type="checkbox" ng-model="open" ng-change="toggleSetting()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <br>
                        -->
                        <div class="input-group">
                            <div class="input-group-addon">自动止损点</div>
                            <input type="number" class="form-control" ng-model="winPoint" min="1" max="100" placeholder="" required>
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-addon">自动止盈点</div>
                            <input type="number" class="form-control" ng-model="lossPoint" min="1" max="100" placeholder="" required>
                        </div>
                    </div>
                </form>
                <div class="confirm">
                    <button type="button" class="btn btn-primary col-xs-offset-1 col-xs-10" ng-click="changeSetting()">\{{titleText}}</button>
                    <!--
                        <p class="col-xs-12">自动止损点：</p>
                        <p class="col-xs-12">当您的一手持仓亏损n个点（每亏1个点对应亏损300元）时，系统会帮你自动平仓。</p>
                        <p class="col-xs-12">比如您持一手多仓，点位是4000，当指数下跌至(4000-n)时，会触发系统平仓。 </p>
                        <p class="col-xs-12">如果您持一手空仓，点位是4000，当指数增长至(4000+n)时，会触发系统平仓。 </p>
                        <p class="col-xs-12">注意：系统不保证在您设定的止损点准确平仓，所有因使用该功能造成亏损跟系统无关。</p>
                        <p class="col-xs-12">自动止盈点：</p>
                        <p class="col-xs-12">当您的一手持仓盈利n个点（每1个点对应盈利300元）时，系统会帮你自动平仓。</p>
                        <p class="col-xs-12">比如您持一手多仓，点位是4000，当指数增长至(4000+n)时，会触发系统平仓。 </p>
                        <p class="col-xs-12">如果您持一手空仓，点位是4000，当指数下跌至(4000-n)时，会触发系统平仓。 </p>
                        <p class="col-xs-12">注意：系统不保证在您设定的止盈点准确平仓，所有因使用该功能造成亏损跟系统无关。</p>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="ui-tip" ng-show="showError">\{{errorMsg}}</div>
</section>
