<style>
    .header-box h1 {
        text-align: center;
    }
    .top-users {
        position: relative;
    }
    .top1 {
        position: absolute;
        top: -80px;
        width: 23%;
        left: 38%;
        height: 80px;
        background-color: hotpink;
    }
    .top2 {
        position: absolute;
        top: -70px;
        width: 23%;
        left: 5%;
        height: 70px;
        background-color: hotpink;
    }
    .top3 {
        position: absolute;
        top: -60px;
        width: 23%;
        left: 71%;
        height: 60px;
        background-color: hotpink;
    }
    .top1-head {
        position: absolute;
        top: -185px;
        left: 35%;
    }
    .top2-head {
        position: absolute;
        top: -175px;
        left: 3%;
    }
    .top3-head {
        position: absolute;
        top: -165px;
        left: 70%;
    }
    .crown-top1 {
        position: absolute;
        top: -230px;
        left: 38%;
    }
    .crown-top2 {
        position: absolute;
        top: -220px;
        left: 6%;
    }
    .crown-top3 {
        position: absolute;
        top: -205px;
        left: 73%;
    }
    .user-badge {
        position: absolute;
        top: -505px;
    }
</style>

<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>拍拍股神榜</h1>
        <a class="back" href="/futures"></a>
    </div>
</header><!--#E header-->

<div class="user-rank-wrapper">
    <div class="container">
        <div class="row">
            <img src="/futures/images/user_rank_background.png" width="100%" alt=""/>
        </div>
    </div>
    <div class="top-users">
        <span class="top2"></span>
        <span class="top1"></span>
        <span class="top3"></span>
        <img class="top2-head img-circle" src="http://wx.qlogo.cn/mmopen/uchmtWQh7iarnsx58BbzlB1GAOzjI3S8elKicd6t8CiahGE3JSDmkVnTNzicQA44DdRliaLOsI1wLI9o79kynDUIchg/0" width="28%" />
        <img class="top1-head img-circle" src="http://wx.qlogo.cn/mmopen/uchmtWQh7iarnsx58BbzlB1GAOzjI3S8elKicd6t8CiahGE3JSDmkVnTNzicQA44DdRliaLOsI1wLI9o79kynDUIchg/0" width="28%" />
        <img class="top3-head img-circle" src="http://wx.qlogo.cn/mmopen/uchmtWQh7iarnsx58BbzlB1GAOzjI3S8elKicd6t8CiahGE3JSDmkVnTNzicQA44DdRliaLOsI1wLI9o79kynDUIchg/0" width="28%" />
        <img class="crown-top2" src="/futures/images/top2.png" width="20%" />
        <img class="crown-top1" src="/futures/images/top1.png" width="20%" />
        <img class="crown-top3" src="/futures/images/top3.png" width="20%" />
        <img class="user-badge" src="/futures/images/badge.png" width="100%" />
    </div>
</div>