<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="牛金网" />
    <meta name="keywords" content="牛金网"/>
    <meta http-equiv="cleartype" content="on" />

    <title>牛金网 软件下载</title>
    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
    <!-- endbuild -->
</head>
<body>
    <!--#S header-->
    <header id="header">
        <div class="header-box">
            <h1>软件下载</h1>
            <a class="back" href="index.html"><i class="icon"></i></a>
        </div>
    </header><!--#E header-->

    <div class="down-box">
        <h5>采用上市公司《恒生电子》专业股票交易软件HOMS</h5>
        <p>恒生电子（股票交易代码：600570）是中国最专业的证券交易系统服务商，其系统与各大证券公司进行了无缝对接。</p>
        <p>2014年04月04日马云33亿入主恒生电子扩张金融版图，牛金网与恒生开展合作，为您提供专业、高效、安全的理财服务。</p>

        <a href="#"><img src="../images/guide-down-iosapp.jpg" width="282" alt=""></a>
        <a href="#"><img src="../images/guide-down-androidapp.jpg" width="277" alt=""></a>
    </div>

    <!-- build:js js/script.js -->
    <script src="../js/lib/zepto.min.js"></script>
    <script src="../js/script.js"></script>
    <!-- endbuild -->
</body>
</html>