<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="牛金网" />
    <meta name="keywords" content="牛金网"/>
    <meta http-equiv="cleartype" content="on" />

    <title>牛金网 我的账户</title>
    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
    <!-- endbuild -->
</head>

<body>
    <!--#S header-->
    <header id="header">
        <div class="header-box">
            <h1>我的账户</h1>
            <a class="f-pl" href="contact.html">服务热线</a>
            <a class="f-pr" href="newbie.html">关于牛金</a>
        </div>
    </header><!--#E header-->

    <div class="user-wel">
        <a href="account.html">
            <span></span>早上好，138****8888 <i></i>
        </a>
    </div>
    <div class="user-money">
        <ul class="balance">
            <li class="number">
                可用余额(元)
                <em>600.00</em>
            </li>
            <li class="toRecharge">
                <a href="#" class="recharge-btn">充 值</a>
                <p>提现操作请登录电脑版网站</p>
            </li>
        </ul>
        <ul class="asset">
            <li>
                账户总资产(元)
                <em>10600.00</em>
            </li>
            <li>
                证券账户市值(元)<span>（昨日收盘）</span>
                <em>10000.00</em>
            </li>
        </ul>
    </div>
    <ul class="user-opts">
        <li>
            <a href="#"><span class="icon-ttn"></span>我的天天牛 <i></i></a>
        </li>
        <li>
            <a href="#"><span class="icon-recharge"></span>充值明细 <i></i></a>
        </li>
    </ul>

    <!--#S footer-->
    <footer id="footer">
        <nav class="nav-box">
            <ul>
                <li class="home">
                    <a href="index.html">首页</a>
                </li>
                <li class="ttn">
                    <a href="ttn.html">天天牛</a>
                </li>
                <li class="exp">
                    <a href="exp.html">免费体验</a>
                </li>
                <li class="user">
                    <a href="user.html" class="current">我的帐户</a>
                </li>
            </ul>
        </nav>
    </footer><!--#E footer-->

    <!-- build:js js/script.js -->
    <script src="../js/lib/zepto.min.js"></script>
    <script src="../js/script.js"></script>
    <!-- endbuild -->
</body>
</html>