<style>
    .modal-header .modal-title {
        font-size: 1.8em;
    }
    .modal-footer .container button {
        width: 100%;
        font-size: 1.5em;
        height: 2em;
    }
    .modal-body p {
        font-size: 1.5em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">预约提示</h3>
</div>
<div class="modal-body">
    <div>
        <p>预约成功，感谢您的关注,</p>
        <p>我们的客服人员将会尽快联系您，和您确认相关实盘交易事宜。</p>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <button class="btn btn-primary" ng-click="ok()">我知道了</button>
    </div>
</div>