<style>
    .modal-header .modal-title {
        font-size: 1.2em;
    }
    .modal-body div .hint {
        color: #f12828
    }
    .modal-body .intro {
        margin-bottom: 5px;
        font-size: 1.2em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">拍拍必读</h3>
</div>
<div class="modal-body">
    <div class="intro">
        <p><span class="hint">股指期货</span>是交易双方通过对股票指数变动趋势的预测，约定在未来某一时间按照一定条件进行交易的合约。不同于股票，股指期货可以看涨，也可以方便地卖空，等价格回落后再买回。</p>
		<p><span class="hint">股票</span>实行 T+1 交易，<span class="hint">股指期货</span>实行 T+0 交易：即当日买进当日卖出, 而且没有次数限制。</p>
        <p><span class="hint">拍拍机</span>是一款快速交易利器：</p>
        <p>（1）看涨就按 “涨”；</p>
		<p>（2）看跌就按 “跌”；</p>
		<p>（3）止盈止损，按 “平” 即可平仓。</p>
		<p>根据图形涨跌趋势判断买入卖出，瞬间即可盈利。</p>
    </div>
    <div class="container">
        <div class="row">
            <!--<img class="col-xs-4 col-md-offset-1 col-md-2" src="/futures/images/button_01.png" alt=""/>
            <img class="col-xs-4 col-md-offset-1 col-md-2" src="/futures/images/button_02.png" alt=""/>
            <img class="col-xs-4 col-md-offset-1 col-md-2" src="/futures/images/button_03.png" alt=""/>-->
			<div class="z-outer-btn ex-btn">
				<div class="z-inner-btn ex-btn-common">
					涨
				</div>
			</div>
			<div class="p-outer-btn ex-btn">
				<div class="p-inner-btn ex-btn-common">
					平
				</div>
			</div>
			<div class="d-outer-btn ex-btn">
				<div class="d-inner-btn ex-btn-common">
					跌
				</div>
			</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <div class="row">
            <!--<button class="btn col-xs-5" ng-click="ok()">我知道了</button>-->
            <button class="btn btn-primary col-xs-6 col-md-5 col-lg-3" ng-click="cancel()">进入虚拟交易</button>
        </div>
    </div>
</div>

