<style>
    .modal-header {
        background-color: #4b90f7;
        color: white;
    }
    .modal-header .modal-title {
        font-size: 1.2em;
    }
    .modal-body div .hint {
        color: #f12828
    }
    .modal-footer .container .btn-primary {
        background-color: #4b90f7;
    }
    .modal-body .intro {
        margin-bottom: 5px;
        font-size: 1.2em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">拍拍必读</h3>
</div>
<div class="modal-body">
    <div class="intro">
        <p><span class="hint">股指期货</span>全称股票价格指数期货，更显高于股票，可以看张，看跌，牛金网为您提供低门槛解决方案</p>
        <p><span class="hint">股指拍拍机</span>是一款快速交易股指期货的利器。</p>
        <p>三个按钮完成交易，看张就按“涨”，看跌就按“跌”，止盈止损，按“平”即可平仓，根据大盘涨跌趋势快速买入卖出，瞬间可盈利上千元。</p>
    </div>
    <div class="container">
        <div class="row">
            <img class="col-xs-4" src="/futures/images/button_01.png" alt=""/>
            <img class="col-xs-4" src="/futures/images/button_02.png" alt=""/>
            <img class="col-xs-4" src="/futures/images/button_03.png" alt=""/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <div class="row">
            <button class="btn col-xs-5" ng-click="ok()">我知道了</button>
            <button class="btn btn-primary col-xs-6" ng-click="cancel()">进入虚拟交易</button>
        </div>
    </div>
</div>

