<style>
    .modal-header .modal-title {
        font-size: 1.8em;
    }
    .modal-footer .container button {
        width: 100%;
        font-size: 1.5em;
        height: 2em;
    }
    .modal-body p {
        font-size: 1.5em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">温馨提示</h3>
</div>
<div class="modal-body">
    <div>
        <p>您的平仓盈利需大于1万元才可预约实盘</p>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <button class="btn btn-primary" ng-click="ok()">继续努力</button>
    </div>
</div>