<style>
    .modal-header .modal-title {
        font-size: 1.2em;
    }
    .modal-body div .hint {
        color: #f12828
    }
    .modal-body .intro {
        margin-bottom: 5px;
        font-size: 1.2em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">拍拍机公众号</h3>
</div>
<div class="modal-body">
    <img src="/futures/images/code.jpg" style="width:129px;margin:0 auto" />
</div>
<div class="modal-footer">
    <div class="container">
        <div style="text-align:center">
            <button class="btn col-xs-5" ng-click="ok()">我知道了</button>
        </div>
    </div>
</div>

