<style>
    .modal-header .modal-title {
        font-size: 1.2em;
    }
    .modal-body div .hint {
        color: #f12828
    }
    .modal-body .intro {
        margin-bottom: 5px;
        font-size: 1.2em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">拍拍机公众号</h3>
</div>
<div class="modal-body">
	<div style="text-align:center">
		<p>关注“拍拍机”服务号，我们将在新品上线前通知您</p>
		<p>关注方法：长按二维码，在弹出菜单中选择“识别二维码”即可</p>
		<img src="/futures/images/code.jpg" style="width:129px" />
	</div>
</div>
<div class="modal-footer">
    <div class="container">
        <div style="text-align:center">
            <button class="btn" style="width:100px" ng-click="ok()">我知道了</button>
        </div>
    </div>
</div>

