<style>
    .modal-header .modal-title {
        font-size: 1.8em;
    }
    .modal-footer .container button {
        font-size: 1.5em;
        height: 2em;
    }
    .modal-body p {
        font-size: 1.5em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">风险提示</h3>
</div>
<div class="modal-body">
    <div>
        <p>您将切换到实盘交易，所有交易操作都将下单到交易所，请注意交易风险!</p>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <div class="row">
            <button class="col-xs-12 col-sm-9 btn btn-primary" ng-click="ok()">知道了</button>
        </div>
    </div>
</div>