<style>
    .modal-header .modal-title {
        font-size: 1.8em;
    }
    .modal-footer .container button {
        width: 100%;
        font-size: 1.5em;
        height: 2em;
    }
    .modal-body p {
        font-size: 1.5em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">如何获得积分</h3>
</div>
<div class="modal-body">
    <ol>
        <li>当日微信登陆即可奖励5点</li>
        <li>当日交易10手以上奖励10点</li>
        <li>当日不登陆消耗3点</li>
        <li>提现一次消耗1/2积分点数以及相应的盈利</li>
    </ol>
</div>
<div class="modal-footer">
    <div class="container">
        <button class="btn btn-primary" ng-click="ok()">我知道了</button>
    </div>
</div>