<style>
    .modal-header .modal-title {
        font-size: 1.8em;
    }
    .modal-footer .container button {
        font-size: 1.5em;
        height: 2em;
    }
    .modal-body p {
        font-size: 1.5em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">交易时间</h3>
</div>
<div class="modal-body">
    <div>
        <p>股指交易时间为工作日09:15-11:30及13:00-15:15，关注交易快手公众号，我们将提醒您交易时间，不再错过股市精彩。</p>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <button class="col-xs-12 col-sm-9 btn btn-primary" ng-click="ok()">我已经了解交易时间</button>
    </div>
</div>