.xx-dialog .modal-dialog {
    top: 15em;
}

.header-box h1 {
    text-align: center;
}

/* for modal */
.modal-header {
    background-color: #4b90f7;
    color: white;
}

.modal-footer .container .btn-primary {
    background-color: #4b90f7;
}
