<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>修改登录密码</h1>
        <a class="back" href="/mobile/#/account"></a>
    </div>
</header><!--#E header-->

<div class="form-box">
    <form name="changePassForm" id="J_changePwdForm" novalidate>
        <p>密码由6-20位数字和字母组成</p>
        <div class="form-item">
            <input name="oldpassword" id="J_changePwdOld" type="password" placeholder="原始登录密码" ng-model="vm.password" minlength="6" maxlength="20" required>
        </div>
        <div class="form-item">
            <input name="password" id="J_changePwdPwd" type="password" placeholder="新登录密码" ng-model="vm.new_password" minlength="6" maxlength="20" required>
        </div>
        <div class="form-item">
            <input name="password2" id="J_changePwdPwd2" type="password" placeholder="确定登录密码" ng-model="vm.confirm_password" minlength="6" maxlength="20" required>
        </div>
        <button type="submit" class="submit-btn" ng-click="vm.changePassword()">确  定</button>
    </form>
</div>

<div class="ui-tip" ng-show="vm.inputError">\{{vm.errorMsg}}</div>
<div class="ui-tip" ng-show="vm.resetSuccess">登录密码修改成功</div>
