<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>软件下载</h1>
        <a class="back" href="" onclick="history.back();"><i class="icon"></i></a>
    </div>
</header><!--#E header-->

<div class="down-box">
    <h5>采用上市公司《恒生电子》专业股票交易软件HOMS</h5>
    <p>恒生电子（股票交易代码：600570）是中国最专业的证券交易系统服务商，其系统与各大证券公司进行了无缝对接。</p>
    <p>2014年04月04日马云33亿入主恒生电子扩张金融版图，牛金网与恒生开展合作，为您提供专业、高效、安全的理财服务。</p>

    {{#if ios}}
        <a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4"><img src="images/guide-down-iosapp.jpg" width="282" alt=""></a>
    {{/if}}
    {{#if android}}
        <a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4"><img src="images/guide-down-androidapp.jpg" width="277" alt=""></a>
    {{/if}}
    {{#if otherPlatform}}
        暂不支持您的手机，请去下载<a href="/info/download">PC版操盘软件</a>
    {{/if}}
</div>
