<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>免费体验</h1>
        <a class="back" href="/mobile/#/"></a>
    </div>
</header><!--#E header-->

<div class="slogan-bd exp-slogan">
    <div class="line"></div>
    <div class="pic">
        <img src="/mobile/images/exp-slogan.png" width="168" alt="按天配资,十倍资金,3步配资">
    </div>
</div>

<div class="exp-cont">
    <ul class="exp-item">
        <li><span>我出<em>2000</em>元</span> 完全免费</li>
        <li><span>您交<em>100</em>元</span> 体验结束全额返还</li>
        <li><span>交易<em>2</em>天</span> 第二天收盘前结束交易</li>
    </ul>
    <p class="exp-notice">免费体验的交易账户，将会在下一个交易日09:15之前分配好</p>
</div>

<div class="exp-sign">
    <div class="line"></div>
    <div class="txt">盈利全归您，亏损算我们</div>
</div>

<div class="exp-contact">
    如有疑问请联系<em>QQ客服</em>客服热线<strong>400-692-1388</strong>
</div>

<!--#S footer-->
<footer id="footer">
    <a href="/mobile/free_apply_confirm" class="ft-btn">立即体验</a>
</footer><!--#E wrapper-->

{{#if needIdentify}}
<div class="ui-dialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>需要身份信息</h4>
                <div class="zntz-tips">为了保证资金安全，参与天天投需要先认证身份信息，请先完成牛金网身份认证</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button"><a href="/mobile/#/identity">去身份认证</a></button>
        </div>
    </div>
</div>
{{/if}}

{{#if notValidForFreeApply}}
    <div class="ui-dialog">
        <div class="ui-dialog-cnt">
            <div class="ui-dialog-bd">
                <div>
                    <h4>每个身份证号只能申请一次</h4>
                    <div class="zntz-tips">您已经申请过一次免费体验了；</div>
                    <div class="zntz-tips">申请身份证号:{{userIdentityID}}</div>
                </div>
            </div>
            <div class="ui-dialog-ft ui-btn-group">
                <button type="button" ng-click="gotoApply()">去配资</button>
            </div>
        </div>
    </div>
{{/if}}
