<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>天天牛</h1>
        <a class="back" href="/mobile/#/"></a>
    </div>
</header><!--#E header-->

<div class="ttn-pay-success">
    <p class="suc-txt">每位用户只有一次体验机会</p>
    <div class="remaind">
        <p>申请失败，您已经申请过免费融资体验业务,单号为{{serial_id}}</p>
        <div class="products">
            <a href="/mobile/#/ttn" class="btn">马上领取实盘资金</a>
        </div>
    </div>
    <p class="to">您可以到<a href="/mobile/#/user">我的账户</a>&gt;<a href="/mobile/#/user_ttn">我的操盘</a>中查看你的操盘账户信息。</p>
</div>