<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>牛金网</h1>
        <!--
        <a class="f-pl" href="/mobile/about.html"></a>
        -->
        <a class="f-pr" href="/mobile/#/signup">免费注册</a>
    </div>
</header><!--#E header-->
<!--#S banner-->
<section class="banner swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide"><a href="/mobile/#/ttn"><img src="images/banner.jpg" width="100%" /></a></li>
        <li class="swiper-slide"><a href="/mobile/#/invest"><img src="images/banner2.jpg" width="100%" /></a></li>
    </ul>
    <div class="swiper-pagination"></div>
</section><!--#E banner-->
<!--#S statistics-->
<section class="statistics">
    <em>{{user_count}}</em>位用户累计配资<!--<em>11</em>亿--><em>{{total_capital}}</em>元
</section><!--#E statistics-->
<!--#S slogan-->
<section class="slogan">
    <div class="line"></div>
    <div class="pic">
        <img src="images/slogan.png" title="3分钟极速配资 全网最快" alt="3分钟极速配资 全网最快">
    </div>
</section><!--#E slogan-->
<!--#S products-->
<section class="products">
    <ul class="products-list">
        <li>
            <div class="pic">
                <img src="images/ttf.jpg" alt="天天牛" />
            </div>
            <div class="txt">
                <h3>天天牛</h3>
                <h4>按天配资, 十倍资金, 收益全归您</h4>
                <p>最高配资30万  配资自动延期 <br />想用多久用多久</p>
            </div>
            <a href="/mobile/#/ttn" class="btn">马上领取实盘资金</a>
        </li>
        <!--
        <li>
            <div class="pic">
                <img src="images/yyn.jpg" alt="月月牛" />
            </div>
            <div class="txt">
                <h3>月月牛</h3>
                <h4>炒股利器，一个涨停，大赚50%</h4>
                <p>最高配资300万 可配1-6个月<br />多倍杠杆，随意选择</p>
            </div>
            <a href="/mobile/#/yyn" class="btn">马上申请</a>
        </li>
        -->
        <li class="rec">
            <div class="pic">
                <img src="images/zntz.jpg" alt="天天投" />
            </div>
            <div class="txt">
                <h3>天天投</h3>
                <h4>省心省力，年息收益高达20%</h4>
                <p>资金托管 本息安全<br />账户资金自动投资 周期灵活</p>
            </div>
            <a href="/mobile/#/invest" class="btn">立即赚钱</a>
        </li>
        <!--
        <li>
            <div class="pic">
                <img src="images/free.jpg" alt="免费体验" />
            </div>
            <div class="txt">
                <h3>免费体验</h3>
                <h4>充值100元即可得2000元操盘资金</h4>
                <p>免费操盘2天 结束后返还100元<br />盈利全归你 亏损我们付</p>
            </div>
            <a href="/mobile/#/exp" class="btn">立即体验</a>
        </li>
        -->
    </ul>
</section><!--#E products-->

<!--#S talent-->
<!--
<section class="talent">
    <div class="hd">
        <div class="line"></div>
        <div class="pic">
            <img src="images/talent.png" alt="操盘达人">
        </div>
    </div>
    <div class="bd">
        <ul class="talent-list">
            <li>
                <h3>138****8888</h3>
                <p>
                    <span>配资50000元</span>
                    <span>2天收益率110%</span>
                    <span>盈利5500元</span>
                </p>
            </li>
            <li>
                <h3>138****8888</h3>
                <p>
                    <span>配资50000元</span>
                    <span>2天收益率110%</span>
                    <span>盈利5500元</span>
                </p>
            </li>
            <li>
                <h3>138****8888</h3>
                <p>
                    <span>配资50000元</span>
                    <span>2天收益率110%</span>
                    <span>盈利5500元</span>
                </p>
            </li>
        </ul>
    </div>
</section><!--#E talent-->

{{> mobile_footer }}
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        loop: true,
        pagination: '.swiper-pagination'
    });
</script>

