<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>天天投</h1>
        <a class="back" href="" onclick="history.back();  return false;"></a>
    </div>
</header><!--#E header-->

<div class="ttt-recharge" ng-hide="vm.rechargeSuccess">
    <div class="picc-logo">
        <img src="images/picc.png">
    </div>
    <div class="zntz-box">
        <div class="zntz-amount">
            <label for="amount">转入投资资金 (可转入<em style="color: #a40000;">\{{vm.user.finance.balance | currency:'':2}}</em>元)</label>
            <input type="number" min="100" step="100" name="amount" ng-model="vm.invest_amount" placeholder="输入投资金额">
            <span class="unit">元</span>
            <label class="hint">转入资金，系统自动寻找投资，成功投资后将发送短信通知</label>
        </div>
        <div class="tips">
            <div class="zntz-agreement">
                转入即代表同意《<a href="/mobile/invest_agreement.html">牛金网投资协议</a>》
            </div>
            <a href="" class="ttt-btn" ng-click="vm.payConfirm()">转入资金</a>
            <div class="tips2">
                <h3>温馨提示：</h3>
                <p>1.还款方式按天计息，到期还清本息</p>
                <p>2.在14：00点之前投资成功，当日开始计息；14：00点之后投资成功，次日开始计息</p>
            </div>
        </div>
    </div>
</div>

<div class="zntz-box" ng-show="vm.rechargeSuccess">
    <ul class="zntz-status">
        <li class="step1">
            <span class="icon"></span>
            <p class="ing">成功支付 \{{vm.invest_amount | currency:'':2}}元，系统智能匹配中</p>
            今天
        </li>
        <li class="step2">
            <span class="icon"></span>
            <p>开始计息</p>
            14:00点前出借成功当日，14:00后出借成功下一个工作日
        </li>
        <li class="step3">
            <span class="icon"></span>
            <p>本金回款</p>
            出借项目到期日
        </li>
    </ul>
    <a href="/mobile/#/user" class="btn">完成</a>
</div>

<div class="ui-tip" ng-show="vm.inputError">\{{vm.errorMsg}}</div>

<div class="ui-dialog" ng-show="vm.notEnoughMoney">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>请先充值</h4>
                <div class="zntz-tips">您的账户余额不足，需先充值到账户余额</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" ng-click="vm.redirectToRecharge()">去充值</button>
        </div>
    </div>
</div>

<div class="ui-dialog" ng-show="vm.showIdentityDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>需要身份信息</h4>
                <div class="zntz-tips">为了保证资金安全，参与天天投需要先认证身份信息，请先完成牛金网身份认证</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" ng-click="vm.redirectToIdentity()">去身份认证</button>
        </div>
    </div>
</div>

<!--
<footer id="footer" ng-hide="vm.rechargeSuccess">
    <a href="" class="ft-btn" ng-click="vm.payConfirm()">确认转入</a>
</footer>
-->
