<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>天天投</h1>
        <a class="back" href="/mobile/#/account"></a>
        <!--
        <a class="f-pr" href="/mobile/newbie.html">新手说明</a>
        -->
    </div>
</header><!--#E header-->

<div>
    <div class="zntz-box">
        <div class="zntz-txt">
            <span ng-show="vm.user.invest.enable">您已开启天天投</span>
            <span ng-hide="vm.user.invest.enable">您已关闭天天投</span>
        </div>
        <div class="zntz-conf">
            <a href="" class="recharge-btn" ng-show="vm.user.invest.enable" ng-click="vm.rechargeToInvestAccount()">转入资金,赚取收益</a>
            <ul class="zntz-conf-items">
                <li>
                    <label class="fl">\{{vm.user.invest.enable ? '天天投已开启' : '打开天天投获取收益'}}</label>
                    <label class="ui-switch">
                        <input type="checkbox" ng-model="vm.user.invest.enable" ng-change="vm.enableChange()"> <i></i>
                    </label>
                </li>
                <li>
                    <label for="">预期年化收益 <i class="icon" ng-click="vm.showRateDialog = true"></i></label>
                    <input type="number" min="1" max="20" required autofocus name="profit-rate" ng-model="vm.profit_rate"><span class="per">%</span>
                </li>
                <li>
                    <label for="">投标借款期限 <i class="icon" ng-click="vm.showPeriodDialog = true"></i></label>
                    <input type="number" name="period" min="1" max="30" required ng-model="vm.period"><span>天内</span>
                </li>
            </ul>
            <button class="save-btn" ng-click="vm.changeInvest()">保存</button>
        </div>
    </div>
</div>

<div class="ui-tip" ng-show="vm.inputError">\{{vm.errorMsg}}</div>

<div class="ui-tip-success" ng-show="vm.success">
    <div class="icon"></div>
    天天投设置保存成功!
</div>

<div class="ui-dialog" ng-show="vm.confirmDisableInvest">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>天天投</h4>
                <div class="zntz-tips">天天投能给您带来更多的收益，确定还要关闭吗？</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" class="close-dialog" ng-click="vm.disableInvest(false)">取消</button>
            <button type="button" ng-click="vm.disableInvest(true)">确定</button>
        </div>
    </div>
</div>

<div class="ui-dialog" ng-show="vm.showPeriodDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>投标借款期限</h4>
                <div class="zntz-tips">在借款期限截止当日，系统会将本金全部收回，放回系统账户中，此日期可以随时修改。</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" class="close-dialog" ng-click="vm.closeDialogWindow()">我知道了</button>
        </div>
    </div>
</div>