<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>天天投</h1>
        <a class="back" href="/mobile/#/"></a>
        <a class="f-pr" href="/mobile/invest_intro.html">产品说明</a>
    </div>
</header><!--#E header-->

<div>
    <div class="ttt-wrapper">
        <div class="zntz-overlay">
            <p class="profit-title">赚取收益</p>
            <div class="profit-num"><em>{{total_profit}}</em>元</div>
            <p class="invest-summary">{{count}}用户累计投入 <span>{{total_invest}}元</span></p>
        </div>
    </div>
    <div class="zntz-box">
        <ul class="ttt-intro">
            <li>
                <img src="images/ttt_feature1.png" />
                <p>预期收益12%</p>
            </li>
            <li>
                <img src="images/ttt_feature2.png" />
                <p>3倍余额宝收益</p>
            </li>
            <li>
                <img src="images/ttt_feature3.png" />
                <p>账户资金自动投</p>
            </li>
            <li>
                <img src="images/ttt_feature4.png" />
                <p>PICC资金承保</p>
            </li>
        </ul>
    </div>
    <div class="ttt-settings">
        <a href="" ng-click="vm.redirectToInvestSetting()">设置利率</a>
    </div>
    <a href="" class="ttt-invest-btn" ng-click="vm.rechargeToInvestAccount()">开始赚钱</a>
</div>

<div class="ui-dialog" ng-show="vm.showPeriodDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>投标借款期限</h4>
                <div class="zntz-tips">在借款期限截止当日，系统会将本金全部收回，放回系统账户中，此日期可以随时修改。</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" class="close-dialog" ng-click="vm.closeDialogWindow()">我知道了</button>
        </div>
    </div>
</div>

<div class="ui-dialog" ng-show="vm.showRateDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>预期年化收益</h4>
                <div class="zntz-tips">预期年化收益率越高，出借时间越慢，出借成功后下一个工作日开始记利息。</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" ng-click="vm.closeDialogWindow()">我知道了</button>
        </div>
    </div>
</div>

<div class="ui-dialog" ng-show="vm.showIdentityDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>需要身份信息</h4>
                <div class="zntz-tips">为了保证资金安全，参与天天投需要先认证身份信息，请先完成牛金网身份认证</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" ng-click="vm.redirectToIdentity()">去身份认证</button>
        </div>
    </div>
</div>
