<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>银行转账</h1>
        <a class="back" href="/mobile/#/recharge"></a>
    </div>
</header><!--#E header-->

<div class="recharge-bank">
    <div class="txt">您可以通过网上银行或者银行柜台向牛金转账</div>
    <div class="bank-list">
        <li>
            <div class="bank-logo">
                <img src="images/cmb.jpg" width="114" alt="">
            </div>
            <div class="bank-info">
                <p>
                    <label>对公账号</label>1109 1260 9510 501
                </p>
                <p>
                    <label class="f-ls1">开户行</label>招商银行股份有限公司北京清华园支行
                </p>
                <p>
                    <label class="f-ls2">户名</label>北京小牛普惠科技有限公司
                </p>
                <a href="" class="send-btn" id="J_sendBankInfo" ng-click="vm.sendSMSBankInfo()">将转账相关信息发送到手机</a>
            </div>
        </li>
    </div>
    <div class="txt">转账成功后，请电话告知我们客服，以变尽快到账！</div>
    <div class="tel">客服热线：400-692-1388</div>
</div>

<div class="ui-tip-success" ng-show="vm.smsSend">
    <div class="icon"></div>
    相关信息已发送到手机
</div>