<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>充值</h1>
        <a class="back" href="/mobile/#/user"></a>
        <a class="f-pr" href="/mobile/#/recharge_record">充值记录</a>
    </div>
</header><!--#E header-->

<div class="recharge-box">
    <div class="recharge-title">
        选择充值方式
    </div>
    <ul class="recharge-cate">
        <li>
            <a href="/mobile/#/recharge_alipay">
                支付宝<i>（免手续费）</i>
                <span><img src="images/alipay.jpg" width="63" alt=""></span>
            </a>
        </li>
        <li>
            <a href="">
                网上银行
                <span>贝付支付(今日维护)</span>
            </a>
        </li>
        <li>
            <a href="/mobile/#/recharge_bank">
                银行转账
                <span>网银  柜台</span>
            </a>
        </li>
    </ul>
    <p class="f-fs1 f-tac">更多付款方式，请电脑登陆 www.niujinwang.com</p>
</div>
