<!--#S header-->
<header id="header">
    <div class="header-box">
    {{#ifCond type "==" 1}}
        <h1>天天牛</h1>
    {{else}}
        <h1>月月牛</h1>
    {{/ifCond}}
        <a class="back" href="/mobile/#/"></a>
    </div>
</header><!--#E header-->

<div class="ttn-pay-success">
{{#if pending}}
    <p class="suc-txt">免费体验每天限额<em>200</em><span>名</span></p>
    <div class="remaind">
            <p>由于目前申请免费体验人数过多，今日免费体验限额已经用完</p>
            <p>有疑问请咨询客服</p>
            <p>客服电话：<a href="tel://400-692-1388">400-692-1388</a></p>
    </div>
    <p class="to">您可以去<a href="/mobile/#/ttn">天天牛</a> 直接申请操盘资金。</p>
{{else}}
    <p class="suc-txt">成功获取<em>{{amount}}</em><span>元</span>操盘资金</p>
    <div class="remaind">
        <p>您的操盘申请正在审核中</p>
        <p>我们会尽快为您分配操盘账户</p>
    </div>
{{#ifCond type "==" 1}}
    <p class="to">您可以到<a href="/mobile/#/user">我的账户</a>&gt;<a href="/mobile/#/user_ttn">我的天天牛</a>中查看你的操盘账户信息。</p>
{{else}}
    <p class="to">您可以到<a href="/mobile/#/user">我的账户</a>&gt;<a href="/mobile/#/user_yyn">我的月月牛</a>中查看你的操盘账户信息。</p>
{{/ifCond}}
{{/if}}
</div>
